<div class="recherche_structure col col-8 panel">
  <h2><%= t('.titre') %></h2>
  <p><%= t('.message_accueil') %></p>
  <%= render(partial: '/structures/recherche_structure', locals: { recherche_url: 'recherche_structure' }) %>
</div>
