<div class="liste-evaluations-container">
  <h2> Évaluations de diagnostic </h2>
  <%= render TableauComponent.new(collection: beneficiaire.evaluations_diagnostic) do |tableau| %>
    <% tableau.colonne(titre: "Date") do |evaluation|%>
      <% evaluation.created_at.strftime("%d/%m/%Y") %>
    <%end %>
    <% tableau.colonne(titre: "Campagne") do |evaluation|%>
      <% evaluation.campagne.display_name %>
    <%end %>
  <% end %>
</div>