// Couleurs du DSFR
// Couleurs bleus (complément)
$blue-france-975: #F5F5FE;
$blue-france-900: #D9D9FC;
$blue-france-850: #B0B0F6;
$blue-france-800: #8989F1;
$blue-france-700: #6A6AF0;
$blue-france-625: #5C5CE0;
$blue-france-525: #4646C6;
$blue-france-425: #2F2FAE;
$blue-france-200: #191970;
$blue-france-100: #0F0F4C;

// Couleurs vertes (succès)
$success-925: #D9FBE3;
$success-850: #B0F7CB;
$success-800: #8AEFB4;
$success-700: #64E59D;
$success-625: #3EDB86;
$success-525: #28C375;
$success-325: #1C9E5E;
$success-200: #0E7C47;

// Couleurs rouges (erreur)
$error-975: #FFF1F1;
$error-950: #FFE9E9; // déjà dans ton fichier
$error-800: #F99;
$error-700: #F66;
$error-600: #F33;
$error-525: #E61919;
$error-300: #B20000;
$error-100: #600;

// Couleurs jaunes (avertissement)
$warning-975: #FFF5E6;
$warning-850: #FFD8B1;
$warning-700: #FFB974;
$warning-625: #FFA94C;
$warning-525: #FF8C1A;
$warning-300: #CC7000;
$warning-100: #804000;

// Couleurs info (bleu clair)
$info-800: #A6C8FF;
$info-700: #78B0FF;
$info-625: #519BFF;
$info-525: #1A73E8;
$info-300: #145ABF;
$info-100: #0F3D91;

// Couleurs gris (complément)
$grey-975: #F7F7F7;
$grey-800: #BBB;
$grey-775: #AFAFAF;
$grey-700: #A0A0A0;
$grey-600: #7F7F7F;
$grey-500: #5E5E5E;
$grey-300: #2E2E2E;
$grey-100: #0F0F0F;
$green-tilleul-verveine-975: #F5FBEF;
$green-tilleul-verveine-850: #CFE5B6;
$green-bourgeon-850: #B8E986;
$purple-glycine-850: #D6BBFB;
$purple-glycine-625: #B692F6;
$pink-macaron-850: #FFC0CB;
$beige-gris-galet-850: #D8D8D8;
$brown-cafe-creme-850: #C5A47E;
$yellow-tournesol-100: #40310C;
$orange-terre-battue-625: #C63;
$blue-france-sun-113: #000091;
$blue-france-sun-113-hover: #1212FF;
$blue-france-sun-113-active: #2323FF;
$blue-france-950: #ECECFE;
$blue-france-925: #E3E3FD;
$success-950: #B8FEC9;
$success-425: #18753C;
$emeraude-main-632: #00A95F;
$info-950: #E8EDFF;
$info-950-hover: #C2D1FF;
$info-425: #0063CB;
$info-425-hover: #3B87FF;
$warning-950: #FFE9E6;
$warning-950-hover: #FFC6BD;
$warning-425: #B34000;
$warning-425-hover: #FF6218;
$error-950: #FFE9E9;
$error-425: #CE0500;
$grey-1000: #FFF;
$grey-1000-hover: #F6F6F6;
$grey-950: #EEE;
$grey-900: #DDD;
$grey-925: #E5E5E5;
$grey-850: #CECECE;
$grey-625: #929292;
$grey-425: #666;
$grey-200: #3A3A3A;
$grey-50: #161616;
$yellow-tournesol-950: #FEECC2;
$yellow-tournesol-407: #716043;
$orange-terre-battue-850-hover: #FB926B;
$orange-terre-battue-main-645: #E4794A;
$focus-525: #0A76F6;

// Couleurs eva
$eva_jeu_main_blue: #6E84FE;
$eva_main_blue: $blue-france-sun-113;
$eva_main_light: #C1C1FB;
$eva_dark_green: #0C826D;
$eva_light_green: $success-950;
$eva_green: $success-425;
$eva_orange: $orange-terre-battue-850-hover;
$eva_red: $error-425;
$eva_dark: #1E416A; // $grey-50;
$eva_less_dark: $grey-425;
$eva_dark_blue_grey: $grey-200;
$eva_bluegrey: $blue-france-950;
$eva_light: #FBF9FA;
$couleur-texte: $grey-200;
$couleur-texte-light: $eva_less_dark;
$couleur-liens: $eva_main_blue;
$couleur-accent-erreur: $eva_red;
$couleur-warning: $warning-425;
$couleur-legere-accent-validation: $eva_green;
$couleur-niveau-indetermine: $eva_bluegrey;
$couleur-niveau-1: $couleur-legere-accent-validation;
$couleur-niveau-2: $couleur-warning;
$couleur-niveau-3: $couleur-accent-erreur;
$theme-colors: (
  "primary": $eva_main_blue,
  "warning": $couleur-warning,
  "orange": $eva_orange,
  "succes": $eva_green,
  "active": $grey-425,
  "desactive": $grey-850
);

// Variables pour ActiveAdmin
$link-color: $eva_main_blue;
