// -- Font sizes DSFR
$dsfr-font-size-xs: 0.75rem; // 12px
$dsfr-font-size-sm: 0.875rem; // 14px
$dsfr-font-size-md: 1rem; // 16px (base)
$dsfr-font-size-lg: 1.125rem; // 18px
$dsfr-font-size-xl: 1.25rem; // 20px
$dsfr-font-size-2xl: 1.5rem; // 24px
$dsfr-font-size-3xl: 1.75rem; // 28px
$dsfr-font-size-4xl: 2rem; // 32px
$dsfr-font-size-5xl: 2.5rem; // 40px
$dsfr-font-size-6xl: 3rem; // 48px
$dsfr-font-size-7xl: 3.5rem; // 56px
$dsfr-font-size-8xl: 4rem; // 64px

// -- Line heights
$dsfr-line-height-sm: 1.25;
$dsfr-line-height-md: 1.5;
$dsfr-line-height-lg: 1.75;

// -- Border radius
$dsfr-radius-sm: 0.25rem; // 4px
$dsfr-radius-md: 0.5rem; // 8px
$dsfr-radius-lg: 1rem; // 16px
$dsfr-radius-full: 9999px;

// -- Icon sizes
$dsfr-icon-size-sm: 1rem; // 16px
$dsfr-icon-size-md: 1.5rem; // 24px
$dsfr-icon-size-lg: 2rem; // 32px

// -- Component heights (ex : boutons)
$dsfr-height-xxxs: 0.5rem; // 8px
$dsfr-height-xxs: 1rem; // 16px
$dsfr-height-sm: 2rem; // 32px
$dsfr-height-md: 2.5rem; // 40px
$dsfr-height-lg: 3rem; // 48px