// Spacings (marges / paddings)
$dsfr-spacing-0: 0;
$dsfr-spacing-1v: 0.25rem; // 4px
$dsfr-spacing-2v: 0.5rem; // 8px
$dsfr-spacing-3v: 0.75rem; // 12px
$dsfr-spacing-4v: 1rem; // 16px
$dsfr-spacing-5v: 1.25rem; // 20px
$dsfr-spacing-6v: 1.5rem; // 24px
$dsfr-spacing-7v: 1.75rem; // 28px
$dsfr-spacing-8v: 2rem; // 32px
$dsfr-spacing-9v: 2.25rem; // 36px
$dsfr-spacing-10v: 2.5rem; // 40px
$dsfr-spacing-12v: 3rem; // 48px
$dsfr-spacing-14v: 3.5rem; // 56px
$dsfr-spacing-16v: 4rem; // 64px
$dsfr-spacing-20v: 5rem; // 80px
$dsfr-spacing-24v: 6rem; // 96px
