<div class='card-validation'>
  <div class='information-principale'>
    <%= link_to compte.nom_complet.presence || "Nom inconnu", admin_compte_path(compte) %>
  </div>
  <div class='information-secondaire'>
    <%= compte.email %>
  </div>
  <div class='actions'>
    <%= yield %>
  </div>
</div>
