<%# frozen_string_literal: true %>
<% unless comptes.size.zero? %>
  <h4 class='sous-titre'><%= title %></h4>

  <% comptes.each do |compte| %>
    <%= render "admin/structures/card_validation", compte: compte do %>
      <%= yield(compte) %>
    <% end %>
  <% end %>
<% end %>
