<h3>Statistiques</h3>
<p class="statistiques-description">Nombre d'évaluations effectuées par structure sur les 3 derniers mois glissants.</p>
<div class="panel">
  <% evaluations = StatistiquesStructure.new(resource).nombre_evaluations_des_3_derniers_mois %>
  <% if evaluations.present? %>
    <%= column_chart evaluations, legend: "bottom" %>
  <% else %>
    Pas d'évaluation à afficher pour le moment
  <% end %>
</div>
