<h3>Statistiques</h3>
<p class="font-italic">Nombre d'évaluations effectuées par structure sur les 3 derniers mois glissants.</p>
<div class="panel">
  <% evaluations = Evaluation.pour_les_structures(structures)
                             .des_3_derniers_mois
                             .group('structures.nom')
                             .group_by_month(:created_at, format: '%B')
                             .count %>
  <% if evaluations.present? %>
    <%= column_chart evaluations, legend: "bottom" %>
  <% else %>
    Pas d'évaluation à afficher pour le moment
  <% end %>
</div>
