<div id="active_admin_content">
  <% content_for :titre do %>
    <%= t('active_admin.devise.change_password.title') -%>
  <% end %>

  <div id="login">
    <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      f.inputs do
        f.input :password
        f.input :password_confirmation, required: true, wrapper_html: { class: 'libelle-long' }
        f.input :reset_password_token, as: :hidden, input_html: { value: resource.reset_password_token }
      end
      f.actions do
        f.action :submit, label: t('active_admin.devise.change_password.submit'), button_html: { value: t('active_admin.devise.change_password.submit') }
      end
    end
    %>

    <div class='liens-partages'>
      <%= render 'active_admin/devise/shared/links' %>
    </div>
  </div>
</div>
