<div class="sous-panel">
  <div class="infos">
    <h4><%= structure.nom %></h4>
    <div class="sous-infos"><strong><%= t('.code_postal') %></strong><%= structure.code_postal %></div>
  </div>
  <%= link_to t('.rejoindre_structure'), new_compte_registration_path(structure_id: structure) %>
</div>
