<div id="active_admin_content">
  <% content_for :titre do %>
    <%= t('.titre') -%>
  <% end %>

  <div class="recherche-structure">
    <%= link_to t('.lien_retour'), new_compte_session_path, class: 'lien-retour' %>
    <%= md t('.description')%>
    <%= render(@recherche_structure_component) %>
  </div>
</div>
