<div id="active_admin_content">
  <% content_for :titre do %>
    <%= t('.titre') -%>
  <% end %>

  <div class="recherche-structure">
    <%= link_to t('.lien_retour'), new_compte_session_path, class: 'lien-retour' %>
    <%= md t('.description')%>
    <%= render(RechercheStructureComponent.new(recherche_url: '/structures',
                                               structures_code_postal: @structures_code_postal,
                                               structures: @structures)) %>
  </div>
</div>
