<div class="evaluation__cellule">
  <div class="d-flex align-items-center">
    <% if presence_pastille? && evaluation.illettrisme_potentiel? %>
      <%= render(PastilleComponent.new(
                   couleur: "alerte",
                   tooltip_content: I18n.t("components.pastille.illettrisme_potentiel")
                 )) %>
    <% end %>
    <%= link_to render(NomAnonymisableComponent.new(evaluation.beneficiaire)),
                admin_evaluation_eva_path(evaluation) %>
  </div>
  <div class= "evaluation__code-beneficiaire <%= presence_pastille? ? "" : "fr-ml-0" %>">
    <%= evaluation.beneficiaire.code_beneficiaire %>
  </div>
</div>
