<div class="banniere-solutions-illettrisme d-flex">
  <%= image_tag "information.svg", class: "mr-3", alt: "" unless asterisque %>
  <div class="banniere__description font-italic">
    <% if asterisque %>
      <span id="asterisque">*</span>
    <% end %>
    <%= t(".description") %><br/>
    <%= render LienComponent.new(t(".lien"), t(".lien"), externe: true) %>
  </div>
</div>
