<div class="banniere-solutions-illettrisme d-flex">
  <%= image_tag "information.svg", class: "mr-3", alt: "" unless asterisque %>
  <div class="banniere__description font-italic">
    <% if asterisque %>
      <span id="asterisque">*</span>
    <% end %>
    <%= t(".description") %><br/>
    <% code_commune = current_compte.structure&.code_commune %>
    <% lien = code_commune.present? ? t(".lien_commune", code_commune: code_commune) : t(".lien") %>
    <%= render LienComponent.new(t(".lien"), lien, nouvelle_fenetre: true) %>
  </div>
</div>
