<div class="choix-parcours-item">
  <h4 class='choix-parcours-titre'>
    <%= parcours_type.libelle %>
  </h4>

  <div class="choix-parcours-description">
    <%= md(parcours_type.description) %>
  </div>

  <p class="choix-parcours-duree-moyenne">
    Durée moyenne : <%= parcours_type.duree_moyenne %>
  </p>
</div>
