<div class="choix-item">
  <div class='choix-situation-optionnelle'>
    <h4 class='choix-titre'>
      <%= t(".#{situation}.nom") %> ·
      <span class="choix-situation-optionnelle-duree-moyenne">
        Durée moyenne : <%= t(".#{situation}.duree_moyenne") %>
      </span>
    </h4>

    <div class="choix-situation-optionnelle-description">
      <%= t(".#{situation}.description") %>
    </div>
  </div>
  <div class="checkbox-situation-optionnelle-container">
    <div class="checkbox-situation-optionnelle">
      <%= image_tag 'check.svg' %>
    </div>
  </div>
</div>
