<%# frozen_string_literal: true %>
<div class="choix-item" tabindex="0">
  <div class='choix-item__container'>
    <h4 class='choix-item__titre'>
      <%= t(".#{situation}.nom") %> ·
      <span class="choix-item__duree">
        Durée moyenne : <%= t(".#{situation}.duree_moyenne") %>
      </span>
    </h4>

    <div class="choix-item__description">
      <%= t(".#{situation}.description") %>
    </div>
  </div>
  <div class="checkbox-option-personnalisation-container">
    <div class="checkbox-option-personnalisation"/>
  </div>
</div>
