<div class="choix-item">
  <div>
    <h4 class='choix-titre'>
      Plan de la ville ·
      <span class="choix-situation-optionnelle-duree-moyenne">
        Durée moyenne : 5mn
      </span>
    </h4>
    

    <div class="choix-situation-optionnelle-description">
      Ce module permet d’évaluer la capacité du candidat à utiliser l’outil informatique (ordinateur ou tablette). Les exercices évaluent la maîtrise de la souris, du clavier ou du tactile.
    </div>
  </div>
  <div class="checkbox-situation-optionnelle-container">
    <div class="checkbox-situation-optionnelle">
      <%= image_tag 'check.svg' %>
    </div>
  </div>
</div>
