<div class="choix-item" tabindex="0">
  <h4 class='choix-item__titre'>
    <%= parcours_type.libelle %>
  </h4>

  <div class="choix-item__description">
    <%= md(parcours_type.description) %>
  </div>

  <p class="choix-item__duree">
    Durée moyenne : <%= parcours_type.duree_moyenne %>
  </p>
</div>
