<div class="choix-item" tabindex="0">
  <div class="choix-item__icone">
    <% if programme == :diagnostique %>
      <%= inline_svg_tag 'icone_diagnostique.svg', class: 'icone-pin' %>
    <% elsif programme == :positionnement %>
      <%= inline_svg_tag 'icone_positionnement.svg', class: 'icone-loupe' %>
    <% end %>
  </div>

  <h4 class='choix-item__titre'>
    <%= t(".#{programme}.libelle") %>
  </h4>
  <div class="choix-item__description">
    <%= md(t(".#{programme}.description")) %>
  </div>
</div>
