.page.page-numeratie {
  .liste-criteres {
    gap: 1.5rem;
  }

  .critere-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .fr-tile__title {
      order: 1;
    }

    .fr-tile__detail {
      order: 2;
    }

    .fr-table {
      order: 3;
    }
  }

  .fr-table {
    margin: 0;
  }

  .fr-tile__title {
    margin: 0;
  }

  .fr-tile__detail {
    margin: 0;
  }

  .content {
    display: flex;
    padding: 2rem $padding-pdf 0 $padding-pdf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  /* Adaptation */

  h2 {
    margin-bottom: 0;
    width: 100%;
  }

  .synthese-illettrisme {
    margin: 0 5rem 0;
  }
}
