@mixin focus() {
  outline: 2px solid $focus-525;
  outline-offset: 2px;
}

@mixin base-boutons() {
  &, &:link, &:visited, &:active {
    background-image: none;
  }

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $dsfr-spacing-1v;
  cursor: pointer;
  font-family: $font-texte;
  text-align: center;
  box-shadow: none;
  transition: all 150ms ease-out;
  width: fit-content;
  height: fit-content;
  margin: 0; // form button applique un margin de 3px à droite
  border: 1px solid;

  &:disabled, &:disabled:hover {
    cursor: not-allowed;
    color: $grey-625;
    background-color: $grey-925;
    border-color: $grey-925;
  }

  &:focus {
    @include focus;
  }

  .fr-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin grand-bouton() {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  gap: $dsfr-spacing-2v;
}

@mixin petit-bouton() {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 2.875rem;
}

@mixin tres-petit-bouton() {
  @include corps-de-texte-xs-regular;

  padding: .25rem .5rem;
  border-radius: 0.25rem;
  min-width: 3rem;
}

@mixin bouton-primaire() {
  @include base-boutons;

  color: $blue-france-975;
  border-color: $blue-france-sun-113;
  background-color: $blue-france-sun-113;
  
  // État Hover
  &:not(.disabled, .bouton--actif):hover {
    border-color: $blue-france-sun-113-hover;
    background-color: $blue-france-sun-113-hover;
    color: $blue-france-975;
  }
  
  // État Cliqué (active)
  &:not(.disabled):active,
  &.bouton--actif {
    border-color: $blue-france-sun-113-active;
    background-color: $blue-france-sun-113-active;
    color: $blue-france-975;
  }
  
  // État Désactivé
  &:disabled,
  &.bouton--desactive {
    cursor: not-allowed;
    color: $grey-625;
    background-color: $grey-925;
    border-color: $grey-925;
  }
  
  &:disabled:hover {
    color: $grey-625;
    background-color: $grey-925;
    border-color: $grey-925;
  }
}

@mixin bouton-secondaire() {
  @include base-boutons;

  color: $blue-france-sun-113;
  border-color: $blue-france-sun-113;
  background-color: transparent;
  box-shadow: none;
  
  // État Hover
  &:not(.disabled, .bouton--actif):hover {
    border-color: $blue-france-sun-113;
    background-color: rgba(0, 0, 0, 0.04);
    color: $blue-france-sun-113;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
  }
  
  // État Cliqué (active)
  &:not(.disabled):active,
  &.bouton--actif {
    border-color: $blue-france-sun-113;
    background-color: rgba(0, 0, 0, 0.08);
    color: $blue-france-sun-113;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
  }
  
  // État Désactivé
  &:disabled,
  &.bouton--desactive {
    cursor: not-allowed;
    border-color: $grey-925;
    color: $grey-625;
    background-color: transparent;
  }
  
  &:disabled:hover {
    border-color: $grey-925;
    color: $grey-625;
    background-color: transparent;
  }
}

@mixin bouton-tertiaire {
  @include base-boutons;

  color: $blue-france-sun-113;
  border-color: $grey-900;
  background-color: transparent;
  box-shadow: none;
  
  // État Hover
  &:not(.disabled, .bouton--actif):hover {
    border-color: $grey-900;
    background-color: rgba(0, 0, 0, 0.04);
    color: $blue-france-sun-113;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
  }
  
  // État Cliqué (active)
  &:not(.disabled):active,
  &.bouton--actif {
    border-color: $grey-900;
    background-color: rgba(0, 0, 0, 0.08);
    color: $blue-france-sun-113;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
  }
  
  // État Désactivé
  &:disabled,
  &.bouton--desactive {
    cursor: not-allowed;
    border-color: $grey-925;
    color: $grey-625;
    background-color: transparent;
  }
  
  &:disabled:hover {
    border-color: $grey-925;
    color: $grey-625;
    background-color: transparent;
  }
}

@mixin bouton-tertiaire-sans-contour {
  @include bouton-tertiaire;

  border: none;
  border-radius: 0;
  padding: .75rem 1rem;
  text-align: left;
}

@mixin menu-actions() {
  position: relative;

  .table_actions {
    opacity: 0;
    height: 0;
    transition: opacity 0.2s, height 0.2s;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $grey-1000;
    box-shadow: 0 3px 9px rgba(0, 0, 18, 0.16);

    a {
      @include bouton-tertiaire-sans-contour;

      justify-content: left;
      box-shadow: 0 calc(-1rem - 1px) 0 -1rem $grey-900;
      width: 100%;
    }

    a:first-child {
      box-shadow: none;
    }

    &.montrer {
      opacity: 1;
      height: unset;
      overflow: visible;

      a:focus {
        z-index: 2;
      }
    }
  }

  .table_actions:focus-within {
    opacity: 1;
    height: unset;
    overflow: visible;

    a:focus {
      z-index: 2;
    }
  }
}

@mixin bouton-disabled() {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
  border: 1px solid $grey-425 !important;
  color: $grey-425 !important;
}

@mixin bouton-action() {
  @include bouton-secondaire;
  @include tres-petit-bouton;

  height: 1.5rem;
  display: flex;
  justify-content: center;
  width: 4rem;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  font-size: .75rem;
}

