@mixin focus() {
  outline: 2px solid $focus-525;
  outline-offset: 2px;
}

@mixin base-boutons() {
  &, &:link, &:visited {
    background-image: none;
  }
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: $font-texte;
  text-align: center;
  box-shadow: none;
  transition: all 150ms ease-out;
  width: fit-content;
  height: fit-content;

  border: 1px solid;

  &:disabled, &:disabled:hover {
    cursor: default;
    color: $grey-625;
    background-color: $grey-925;
    border-color: $grey-925;
  }

  &:focus {
    @include focus();
  }
}

@mixin grand-bouton() {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border-radius: 2.875rem;
}

@mixin petit-bouton() {
  @include texte-xs();
  padding: .25rem .5rem;
  border-radius: 0.25rem;
  min-width: 3rem;
}

@mixin bouton-primaire() {
  @include base-boutons();
  color: $eva_light;
  border-color: $eva_main_blue;
  background-color: $eva_main_blue;
  &:not(.disabled):hover {
    border-color: $blue-france-sun-113-hover;
    background-color: $blue-france-sun-113-hover;
  }
  &:disabled:hover {
    color: $grey-625;
    background-color: $grey-925;
    border-color: $grey-925;
  }
}

@mixin bouton-secondaire() {
  @include base-boutons();
  color: $eva_main_blue;
  border-color: $eva_main_blue;
  background-color: $grey-1000;
  box-shadow: none;
  &:not(.disabled):hover {
    filter: brightness(96%);
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: #FFFFFF;
  }
}

@mixin bouton-tertiaire {
  @include bouton-secondaire;
  border-color: $grey-900;

  &:hover {
    background-color: $grey-1000-hover;
  }
}

@mixin bouton-tertiaire-sans-contour {
  @include bouton-tertiaire();
  border: none;
  border-radius: 0;
  padding: .75rem 1rem;
  text-align: left;
}

$hauteur_menu_actions: 2rem;
@mixin menu-actions() {
  position: relative;

  .table_actions {
    opacity: 0;
    height: 0;
    transition: opacity 0.2s, height 0.2s;
    overflow: hidden;
    position: absolute;
    top: calc(50% + #{$hauteur_menu_actions} / 2);
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $grey-1000;
    box-shadow: 0px 3px 9px rgba(0, 0, 18, 0.16);

    a {
      @include bouton-tertiaire-sans-contour;
      justify-content: left;
      box-shadow: 0 calc(-1rem - 1px) 0 -1rem $grey-900;
      width: 100%;
    }

    a:first-child {
      box-shadow: none;
    }

    &.montrer {
      opacity: 1;
      height: unset;
      overflow: visible;

      a:focus {
        z-index: 2;
      }
    }
  }

  &:hover, &:focus-within {

    .table_actions {
      opacity: 1;
      height: unset;
      overflow: visible;

      a:focus {
        z-index: 2;
      }
    }
  }
}

@mixin bouton-disabled() {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
  border: 1px solid $grey-425 !important;
  color: $grey-425 !important;
}

@mixin bouton-action() {
  @include bouton-secondaire;
  @include petit-bouton;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  width: 4rem;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  font-size: .75rem;
}

