@mixin carte {
  position: relative;
  border-radius: 0.5rem;
  background-color: $grey-1000;
  & > div:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
@mixin annule-carte {
  box-shadow: none;
  background: none;
  padding: 0;
}
@mixin carte-avec-ombre {
  @include carte();
  @include ombre();
}
@mixin carte-avec-bordure {
  @include carte();
  border: 1px solid $eva_bluegrey;
}
@mixin carte-grise {
  @include carte();
  background: $eva_bluegrey;
}
