@mixin annule-panel {
  @include annule-carte;

  h3 {
    display: none;
  }
}

@mixin panel-gris() {
  @include carte-grise();
  padding: 1rem;
  box-shadow: none;
  h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-texte;
  }
}
