@mixin pastille_rouge {
  background-color: $error-950;
  border-radius: 4px;
  padding: 2px 4px;
  margin-right: 2.875rem;
  color: $error-425;
  display: inline-flex;
  width: auto;
  overflow: initial;
  font-style: italic;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background: asset-data-url('icones/notice_rouge.svg') no-repeat center;
  }
}
