@mixin titre() {
  font-family: $font-titre;
  font-weight: bold;
  text-shadow: none;
  color: $grey_50;
  margin: 0;
}
@mixin titre-carte() {
  @include annule-carte();
  @include titre();
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 0;
}

@mixin texte-lg() {
  font-size: 1rem;
  line-height: 1.125rem;
}

@mixin texte() {
  font-size: 0.875rem;
  line-height: 1rem;
}

@mixin texte-xs() {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin h1() {
  font-size: 2.25rem;
  line-height: 2.813rem;
}

@mixin h2() {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin h3() {
  font-size: 1.25rem;
  line-height: 1.563rem;
}

@mixin h6() {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
