@mixin titre() {
  font-family: $font-titre;
  font-weight: bold;
  text-shadow: none;
  color: $grey_50;
  margin: 0;
}

@mixin titre-carte() {
  @include annule-carte;
  @include titre;

  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 0;
}

@mixin texte-lg() {
  font-size: 1rem;
  line-height: 1.125rem;
}

@mixin texte() {
  font-size: 0.875rem;
  line-height: 1rem;
}

@mixin texte-xs() {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin h1() {
  font-size: 2.25rem;
  line-height: 2.813rem;
}

@mixin h2() {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin h3() {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin h6() {
  font-family: $font-titre;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin body-sm() {
  color: var(--light-decisions-text-text-default-grey, #3A3A3A);
  font-family: var(--Body-SM---Texte-dtail-Font, "Work Sans");
  font-size: var(--Body-SM---Texte-dtail-Size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-SM---Texte-dtail-Line-Height, 24px);
}

@mixin body-sm-semibold() {
  @include body-sm;

  font-weight: 600;
}

@mixin h1-xl() {
  font-family: Quicksand, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

@mixin h2-lg() {
  color: var(--color-text-title, #161616);
  font-family: var(--Titres-Font, Quicksand);

  @include dsfr-titre-lg;
}

@mixin h3-md-desktop() {
  font-family: Quicksand, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@mixin h4-sm() {
  font-family: var(--Titres-Font, Quicksand);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

@mixin h5-xs() {
  color: var(--color-text-title, #161616);
  font-family: var(--Titres-Font, Quicksand);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
}

/* @deprecated */
@mixin h5-xs-desktop() {
  @include h5-xs;
}

@mixin h6-xxs() {
  color: var(--light-decisions-text-text-title-grey, #161616);
  font-family: var(--Titres-Font, Quicksand);
  font-size: var(--Titres-H6---XXS-Size, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Titres-H6---XXS-Line-Height, 28px);
}

/* @deprecated */
@mixin h6-xxs-desktop() {
  @include h6-xxs;
}

@mixin body-xs() {
  color: var(--light-decisions-text-text-mention-grey, #666);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px);
}

@mixin body-xs-semibold() {
  color: var(--light-decisions-text-text-mention-grey, #666);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px);
}

@mixin body-xs-mention() {
  color: var(--color-text-mention, #666);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px); /* 166.667% */
}

@mixin body-xl() {
  color: var(--color-text-base, #3A3A3A);
  font-family: var(--Body-LG---Texte-article-Font, "Work Sans");

  @include dsfr-texte-xl;

  line-height: 32px; /* 160% */
}

@mixin body-md-semibold() {
  color: var(--color-text-base, #3A3A3A);
  font-family: var(--Body-MD---Texte-standard-Font, "Work Sans");
  font-size: var(--Body-MD---Texte-standard-Size, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-MD---Texte-standard-Line-Height, 24px); /* 150% */
}

@mixin body-md-base() {
  color: var(--color-text-base, #3A3A3A);
  font-family: var(--Body-MD---Texte-standard-Font, "Work Sans");
  font-size: var(--Body-MD---Texte-standard-Size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-MD---Texte-standard-Line-Height, 24px); /* 150% */
}

@mixin body-sm-base() {
  color: var(--color-text-base, #3A3A3A);
  font-family: var(--Body-SM---Texte-dtail-Font, "Work Sans");
  font-size: var(--Body-SM---Texte-dtail-Size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-SM---Texte-dtail-Line-Height, 24px); /* 171.429% */
}

@mixin body-lg-semibold() {
  font-family: var(--Body-LG---Texte-article-Font, "Work Sans");
  font-size: var(--Body-LG---Texte-article-Size, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-LG---Texte-article-Line-Height, 28px);
}


@mixin texte-sm-regular() {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin texte-sm-bold() {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

@mixin texte-md-regular() {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin texte-md-bold() {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

@mixin texte-lg-regular() {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin texte-xl-semibold() {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
