@mixin titre() {
  font-family: $font-titre;
  font-weight: bold;
  text-shadow: none;
  color: $grey_50;
  margin: 0;
}
@mixin titre-carte() {
  @include annule-carte();
  @include titre();
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 0;
}

@mixin texte-lg() {
  font-size: 1rem;
  line-height: 1.125rem;
}

@mixin texte() {
  font-size: 0.875rem;
  line-height: 1rem;
}

@mixin texte-xs() {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin h1() {
  font-size: 2.25rem;
  line-height: 2.813rem;
}

@mixin h2() {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin h3() {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin h6() {
  font-family: $font-titre;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin body-sm() {
  color: var(--light-decisions-text-text-default-grey, #3A3A3A);
  font-family: var(--Body-SM---Texte-dtail-Font, "Work Sans");
  font-size: var(--Body-SM---Texte-dtail-Size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-SM---Texte-dtail-Line-Height, 24px);
}

@mixin h6-xxs() {
  color: var(--light-decisions-text-text-title-grey, #161616);
  font-family: var(--Titres-Font, Quicksand);
  font-size: var(--Titres-H6---XXS-Size, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Titres-H6---XXS-Line-Height, 28px);
}

@mixin body-xs() {
  color: var(--light-decisions-text-text-mention-grey, #666);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px);
}
