.bloc-evaluations {
  .carte-liste {
    .col:last-child {
      flex: 2;
    }
    .carte__nom {
      padding-right: 1rem;
      width: 10.25rem;
    }
    .carte__pastille {
      margin-right: 1rem;
      width: 1rem;
      padding-top: 6px;
    }
  }
}
