.bloc-actualites,
.bloc-actualites-entreprise {
  .derniere-actualite {
    height: 17rem;
    .card { padding: 0;}
    .carte__illustration {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      height: 8rem;
      img {
        width: 100%
      }
    }

    .carte__texte {
      gap: 1rem;
      min-height: 9rem;
      flex-direction: column;
      padding: 0.625rem 1rem;

      .carte__titre {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 600;
      }
    }
  }

  .liste-actualites {
    .carte-liste {
      .col:first-child {
        flex: 3;
        gap: 1rem;
      }
      .carte__texte {
        @include corps-de-texte-sm-regular;

        margin-right: .75rem;
      }
    }
  }
}

