$largeur_nom: 10.25rem;
.bloc-evaluations {
  .carte-liste {
    .col:last-child {
      flex: 2;
    }
    .carte__nom {
      width: $largeur_nom;
    }
    .carte__pastille-place-holder {
      margin-right: 1rem;
      width: 1rem;
    }
  }
  .carte__pastille {
    left: $largeur_nom + 1rem;
  }
}
