.admin_dashboard {
  $grid-columns: 8;
  $grid-gutter-width: 1.25rem;

  @import "../../../bootstrap_grid";

  .section-evaluations, .section-actualites {
    margin-bottom: 2.5rem;
  }

  .section-tableau-bord-eva-pro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $dsfr-spacing-3w;
    align-self: stretch;

    .bienvenue-entreprise__titre {
      margin-bottom: 1rem;
    }
  }

  .derniere-reponse-complete {
    .derniere-reponse-complete__titre {
      @include titre-h5;

      margin: 0;
    }

    .derniere-reponse-complete__texte {
      @include corps-de-texte-md-regular;

      margin: 0;
    }

    .derniere-reponse-complete__diagnostique {
      display: flex;
      align-items: stretch;
      gap: $dsfr-spacing-3w;
      align-self: stretch;

      @media (max-width: 48rem) {
        flex-direction: column;
      }
    }

    .derniere-reponse-complete__diagnostique-item {
      flex: 1;
      min-width: 0;
      display: flex;
    }

    .derniere-reponse-complete__diagnostique-item .chiffre-cle {
      width: 100%;
      flex: 1;
    }
  }

  .cinq-dernieres-evaluations {
    .cinq-dernieres-evaluations__titre {
      @include titre-h5;

      margin: 0;
    }

    .cinq-dernieres-evaluations__texte {
      @include corps-de-texte-md-regular;

      margin: 0;
    }

    .cinq-dernieres-evaluations__tableau {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-self: stretch;
      width: 100%;
    }

    @media (max-width: 48rem) {
      .cinq-dernieres-evaluations__tableau {
        .fr-table .fr-table__content table {
          thead tr th:nth-child(n + 3),
          tbody tr td:nth-child(n + 3) {
            display: none !important;
          }
        }
      }
    }
  }

  .tableau-bord-layout {
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: flex-start;
    gap: $dsfr-spacing-3w;

    .tableau-bord-contenu-principal {
      display: flex;
      padding: $dsfr-spacing-4w 0 $dsfr-spacing-7w 0;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-5w;
      flex: 1 0 0;
    }

    .tableau-bord-sidebar {
      display: flex;
      width: 282px;
      padding: $dsfr-spacing-3w 0 $dsfr-spacing-7w 0;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-4w;
      flex-shrink: 0;
      align-self: stretch;
      border-left: 1px solid var(--border-default-grey);
    }

    .bloc-questionnaires-entreprise__chapo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-3w;
      align-self: stretch;
    }

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 1200px;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .tableau-bord-sidebar {
        flex: 1;
        position: static;
        width: 100%;
      }
    }

    @media (max-width: 48rem) {
      .tableau-bord-sidebar {
        padding-bottom: 0;
      }
    }
  }

  .bloc-apercu {
    &-wrapper {
      margin-bottom: 1rem;

      .evaluation-legende {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.5rem;
        margin: 0;
        gap: 1rem;
        height: 2rem;
        font-size: 0.875rem;
      }
    }

    .campagnes-liste {
      color: $eva_dark_blue_grey;
      .liste-entete {
        display: flex;
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        font-size: 0.875rem;
        .entete {
          &-libelle {
            flex: 2;
          }
          &-code {
            flex: 1;
          }
          &-url {
            flex: 3;
          }
        }
      }
      .campagne {
        @include carte-avec-ombre;

        padding: 0.7rem 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 0.875rem;
        &-libelle,
        &-code {
          background-image: none;
        }
        &-libelle {
          flex: 2;
          font-size: 1rem;
          font-family: $font-titre;
          font-weight: bold;
          color: $couleur-liens;
        }
        &-code {
          flex: 1;
        }
        &-url {
          flex: 3;
          display: flex;
          justify-content: space-between;
          gap: 0.25rem;
          color: $eva_dark_blue_grey;
          line-height: 1.5rem;

          span:first-child {
            flex: 1;
          }
        }
      }
    }
  }

  .card__banner--alert {
    padding: 1.5rem 2rem;
    gap: 2rem;
  }

  .evaluations-sans-mise-en-action {
    box-shadow: none;


    .card {
      box-shadow: none;

      &.carte--deroulee {
        border-radius: .5rem .5rem 0 0;
        box-shadow: 0 0 8px rgba(30, 65, 106, 0.25);

        & ~ .qcm {
          box-shadow: 0 0 8px rgba(30, 65, 106, 0.25);
        }
      }
    }

    .carte-liste {
      height: 3rem;
      margin-bottom: 0;
      margin-top: .5rem;

      .carte__nom {
        a {
          display: flex;
          align-items: center;
          &::after {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            display: none;
            margin-left: .5rem;
            background: asset-data-url('oeil.svg') no-repeat center;
          }
        }
      }
      &:hover {
        background-color: white;
        .carte__nom a {
          color: $eva_main_blue;
          &::after {
            display: inline-block;
          }
        }
      }
      .mise-en-action {
        @include corps-de-texte-sm-regular;
      }
    }

    .titre-panel-avec-bouton {
      box-shadow: 0 0 8px rgba(30, 65, 106, 0.25);
      border-radius: .5rem .5rem 0 0;
    }

    .banniere-solutions-illettrisme, .description {
      a { color: $couleur-texte }
    }

    .contenu-avec-evaluations {
      background-color: $blue-france-950;
      padding-bottom: 0.5rem;
      border-radius: 0.5rem;

      .banniere-solutions-illettrisme {
        margin: 1rem 0;
      }
      .question {
        margin: 3.438rem 0;
      }
      p { margin-bottom: 0; }

      ul {
        list-style-type: none;
      }
    }

    .contenu-sans-evaluations {
      .description { padding: 2rem 1rem; }
      .illustration {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h5 {
        font-size: .875rem;
        line-height: 1.125rem;
      }
      p {
        margin-bottom: 1rem
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    .qcm {
      position: absolute;
    }
  }

  .mise-en-action__texte {
    text-align: right !important;
    color: $eva_main_blue;
  }

  .actions {
    gap: .25rem;
  }

  // Sidebar OPCO
  #sidebar {
    width: 282px;
  }

  .tableau-bord-sidebar-container {
    display: flex;
    padding-left: $dsfr-spacing-3w;
    flex-direction: column;
    align-items: flex-start;
    gap: $dsfr-spacing-4w;
    align-self: stretch;
  }

  .bloc-opco-partenaire {
    display: flex;
    padding: $dsfr-spacing-3w;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $dsfr-spacing-2w;
    align-self: stretch;
    border: 1px solid var(--border-default-grey);
    background: var(--background-alt-grey);
    img {
      height: 56px;
      width: auto;
      object-fit: contain;
    }
  }

  .bloc-opco-partenaire__titre {
    color: var(--text-default-grey);

    @include corps-de-texte-md-bold;

    margin: 0;
  }

  .bloc-opco-partenaire__logo {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 51/28;
    object-fit: contain;
  }

  .bloc-opco-entreprise {
    display: flex;
    padding: $dsfr-spacing-3w;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $dsfr-spacing-2w;
    align-self: stretch;
    border: 1px solid var(--border-default-grey);

    &__bouton {
      @include bouton-primaire;
    }
  }
  .bloc-opco-entreprise__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  .bloc-opco-entreprise__titre {
    color: var(--text-mention-grey);

    @include corps-de-texte-md-bold;

    margin: 0;
  }

  .bloc-opco-entreprise__nom {
    color: var(--text-default-grey);

    @include corps-de-texte-sm-regular;

    margin: 0;
  }

  .bloc-questionnaires-entreprise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $dsfr-spacing-3w;
    align-self: stretch;
    &__grid {
      display: flex;
      align-items: flex-start;
      gap: $dsfr-spacing-3w;
      align-self: stretch;
    }
    &__description {
      @include corps-de-texte-xl-regular;

      margin: 0;
    }
    &__description_2 {
      @include corps-de-texte-md-regular;

      margin: 0;
    }
    &__titre {
      @include titre-h5;

      margin: 0;
    }
    &__texte {
      @include corps-de-texte-md-regular;

      margin: 0;
    }
  }

  .bienvenue-entreprise {
    &__titre {
      @include titre-h2;

      margin: 0;
    }
    &__suite {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-3w;
      align-self: stretch;
    }
    &__texte {
      color: var(--text-default-grey);

      @include corps-de-texte-md-regular;

      margin: 0;
    }
  }

  @media (max-width: 48rem) {
    .tableau-bord-layout {
      display: flex;
      padding: $dsfr-spacing-2w $dsfr-spacing-2w $dsfr-spacing-5w $dsfr-spacing-2w;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-5w;
      align-self: stretch;
    }

    .tableau-bord-contenu-principal {
      padding-bottom: 0;
    }

    .bloc-questionnaires-entreprise {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-5w;
      align-self: stretch;
    }

    .bloc-questionnaires-entreprise__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $dsfr-spacing-3w;
      align-self: stretch;
    }

    .bloc-questionnaires-entreprise__chapo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }

    .bloc-questionnaires-entreprise__description_2 {
      @include corps-de-texte-xl-regular;
    }

    .tableau-bord-sidebar {
      display: flex;
      padding: $dsfr-spacing-4w $dsfr-spacing-3v;
      flex-direction: column;
      align-items: flex-start;
      gap: $dsfr-spacing-3w;
      border-left: none !important;
      border-top: 1px solid $grey-900;
    }
  }
}

@media (max-width: 48rem) {
  .admin_dashboard .tableau-bord-sidebar-container {
    padding-left: 0;
  }

  .admin_dashboard .tableau-bord-layout .tableau-bord-contenu-principal {
    padding-bottom: 0;
  }
}

  