.admin_dashboard {
  $grid-columns: 8;
  $grid-gutter-width: 1.25rem;
  @import "../../../bootstrap_grid";

  .section-evaluations, .section-actualites {
    margin-bottom: 2.5rem;
  }

  .bloc-apercu {
    &-wrapper {
      margin-bottom: 1rem;

      .evaluation-legende {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 0.5rem;
        gap: 1rem;
        height: 2rem;
        font-size: 0.875rem;
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.875rem;

      h3 {
        @include titre-carte;
        margin-bottom: 0;
      }

      > a {
        @include bouton-arrondi;
        display: inline-block;
      }
    }

    .campagnes-liste {
      color: $eva_dark_blue_grey;
      .liste-entete {
        display: flex;
        padding: 0 1rem;
        margin-bottom: 0.75rem;
        font-size: 0.875rem;
        .entete {
          &-libelle {
            flex: 2;
          }
          &-code {
            flex: 1;
          }
          &-url {
            flex: 3;
          }
        }
      }
      .campagne {
        @include carte-avec-ombre();
        padding: 0.7rem 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 0.875rem;
        &-libelle,
        &-code {
          text-decoration: none;
        }
        &-libelle {
          flex: 2;
          font-size: 1rem;
          font-family: $font-titre;
          font-weight: bold;
          color: $couleur-liens;
        }
        &-code {
          flex: 1;
        }
        &-url {
          flex: 3;
          display: flex;
          justify-content: space-between;
          color: $eva_dark_blue_grey;
          a:first-child {
            flex: 1;
          }
        }
        .bouton-jouer {
          @include bouton;
        }
      }
    }
  }

  .card__banner--alert {
    padding: 1.5rem 2rem;
    gap: 2rem;
  }

  .evaluations-sans-mise-en-action {
    box-shadow: none;

    .carte-liste {
      height: 3rem;
      margin-bottom: 0;
      margin-top: .5rem;

      .carte__nom {
        a {
          display: flex;
          align-items: center;
          &:after {
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            display: none;
            margin-left: .5rem;
            background: asset-data-url('oeil.svg') no-repeat center;
          }
        }
      }
      &:hover {
        background-color: white;
        .carte__nom a {
          color: $eva_main_blue;
          &:after {
            display: inline-block;
          }
        }
      }
      .mise-en-action {
        @include texte()
      }
    }

    .bloc-apercu-header {
      box-shadow: 0px 0px 8px rgba(30, 65, 106, 0.25);
      border-radius: .5rem .5rem 0 0;
    }

    .banniere-solutions-illettrisme, .description {
      a { color: $eva_dark; }
    }

    .contenu-avec-evaluations {
      .banniere-solutions-illettrisme {
        margin: 1rem 0;
      }
      .question {
        margin: 3.438rem 0;
      }
      p { margin-bottom: 0; }
    }

    .contenu-sans-evaluations {
      .description { padding: 2rem 1rem; }
      .illustration {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      h5 {
        font-size: .875rem;
        line-height: 1.125rem;
      }
      p {
        margin-bottom: 1rem
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    .qcm {
      position: absolute;
      border: solid 1px white;
      border-top: none;
    }
  }

  .bloc-evaluations {
    .bloc-apercu-header {
      margin-bottom: .875rem;
    }
  }

  .mise-en-action__texte {
    text-align: right !important;
  }

  .actions {
    gap: .25rem;
  }
}
