.fr-modal-dashboard-evapro.fr-modal.fr-modal--opened {
  display: flex !important;
  visibility: inherit !important;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.9);
}

.fr-modal-dashboard-evapro {
  .fr-modal__header {
    display: none;
  }

  .fr-modal__title {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  .fr-modal__body {
    background-color: transparent;
    box-shadow: none;
    filter: none;
  }

  .fr-alert .message {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  .fr-modal__content {
    margin-left: 3.15rem;
    width: 500px;
    background-color: #fff;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fr-modal-dashboard-evapro__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  &.fr-modal.evapro_admin .fr-btn.fr-btn--sm {
    @include petit-bouton;
  }
}

html.fr-modal-dashboard-evapro--scroll-locked,
html.fr-modal-dashboard-evapro--scroll-locked body {
  overflow: hidden !important;
}
