.prise-en-main {
  .evaluations-premiere-visite {
    @include carte-avec-ombre();
    padding-top: 1.375rem;
    overflow: hidden;
    text-align: center;
    border: 2px solid $couleur-warning;
    background-color: $eva_light;
    margin-bottom: 2.5rem;
    .premiere-visite {
      &-illustration {
        font-size: 0;
        h4 {
          margin-bottom: 0.75rem;
        }
      }
      &-action {
        padding: 1.5rem;
        background-color: #fff;
        p,
        .action {
          color: $eva_dark;
        }
        p {
          font-size: 0.875rem;
        }
        .action {
          @include bouton-arrondi;
          display: inline-block;
          @include texte-xs;
          padding: 0.438rem 0.75rem;
          color: $eva_dark;
          border: 0;
          background-color: $couleur-warning;
        }
      }
    }
  }
}
