#title_bar {
  padding: 0;
  border: none;
  text-shadow: none;
  background-image: none;
  box-shadow: none;
  background-color: unset;

  #titlebar_left {
    display: block;
    padding: 0.62rem 0;
    background-color: transparent;
    height: 4rem;
    box-sizing: border-box;

    #page_title {
      @include make-col(6, 8);

      padding-right: 1.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $font-titre;

      @include titre-h2;

      color: $grey-50;
    }

    .breadcrumb {
      margin-bottom: 0.5rem;

      a, .breadcrumb_sep {
        color: $couleur-texte;
      }

      .breadcrumb_sep {
        margin: 0;
      }
    }
  }

  #titlebar_right {
    display: none;
  }
}
