body.logged_in {
  #wrapper {
    position: relative;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100vw;
    height: 64px;
    position: absolute;
    left: 0;
  }
  &::before {
    top: 0;
    background-color: $eva_main_blue;
  }
  &::after {
    top: 64px;
    background-color: $eva_bluegrey;
  }

  .header, #title_bar, #active_admin_content {
    max-width: $container;
    margin: 0 auto;
  }
}
