#footer-principal {
  text-align: center;
  font-size: 0.8rem;
  color: $couleur-texte;
  padding: 1.75rem 0 0;

  .footer__ligne {
    border-top: 1px solid $eva_dark_blue_grey;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .footer__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 155px 1.25rem 155px;
    background-color: $eva_light;
    width: 100%;

    img { max-height: 4rem; }
    .logo-ministere-travail { max-height: 7.25rem; }

    .logos__groupe {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.875rem;
    }
  }
}
