#footer-principal {
  text-align: center;
  font-size: 0.8rem;
  color: $couleur-texte;
  padding: 1.75rem 0 0;

  .footer__a-propos {
    margin: 0;
    padding-top: 0.8rem;
  }

  .footer__ligne {
    border-top: 1px solid $eva_dark_blue_grey;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  @media (max-width: 630px) {
    .footer__logos {
      flex-direction: column;
    }
  }

  .footer__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10% 1.25rem 10%;
    width: 100%;

    img { max-height: 4rem; }
    .logo-eva { width: 7.25rem; }
    .logo-ministere-travail { max-height: 7.25rem; }

    .logos__groupe {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.875rem;
    }
  }
}
