/* HEADER */
#header {
  @include corps-de-texte-xs-regular;

  display: flex;
  height: 64px;
  align-items: center;
  text-shadow: none;
  border-bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: none;
  padding: 0; // reset activeadmin style
  #site_title {
    margin: 0 4rem 0 0;
    padding: 0;

    a {
      display: flex;
    }
  }
  #site_title_image {
    max-width: 50px;
    max-height: 43px;
    top: 0; // reset activeadmin style
  }
  a,
  a:link {
    color: $grey-1000;

    @include corps-de-texte-xs-regular;
  }
  ul.tabs {
    display: block;
    height: auto;
    &#tabs {
      padding: 0 5rem 0 0;
    }
    > li {
      margin-right: 0;
      margin-top: 0.12rem;
      &:focus-within ul {
        display: block;
      }
      &:hover > a,
      &.current > a {
        color: $eva_main_blue;
        background: $grey-1000;
      }
      > a {
        padding: 0.438rem 0.813rem;
        border-radius: 1.9rem;
      }
      &.has_nested {
        > a,
        &.current > a {
          padding-right: 0.87rem;
          background: none;
        }
        &.current > a {
          background-color: $grey-1000;
        }
        &:hover > a, &:focus-within > a {
          color: $eva_main_blue;
          border-radius: 0;
          border-top-right-radius: 0.6rem;
          border-top-left-radius: 0.6rem;
          border-bottom: 0.3rem solid $grey-1000;
          background: none;
          background-color: $grey-1000;
          z-index: 1020;
        }
        .menu_item > a:hover {
          text-decoration: underline;
        }
      }
      ul {
        background-color: $grey-1000;
        li {
          a,
          a:hover {
            color: $eva_main_blue;
          }
        }
      }
    }
  }
  #tabs {
    padding-left: 6.4rem;

    @media screen and (max-width: 1280px) {
      padding-left: 1rem;
    }
  }
  #utility_nav {
    $padding-horizontale: 1.25rem;
    $padding-verticale: 1rem;
    $largeur-logout: 1.5rem;
    $largeur-roue: 1.25rem;

    flex: 0 0 18.125rem;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    min-height: 6.5rem;
    text-align: left;
    font-size: 0;
    border-radius: 1rem;
    background-color: $grey-1000;
    overflow: hidden;
    padding: 0;
    margin-bottom: auto;
    box-shadow: 0 0 0.5rem rgba(30, 65, 106, 0.25);
    margin-left: auto;

    &:hover, &:focus-within {
      #utility_compte, #utility_structure, #utility_statistiques, #utility_logout {
        display: block;
      }
      #utility_structure_courante::after {
        display: none;
      }
    }

    li {
      margin: 0;
      display: block;
      padding: 0 $padding-horizontale;
      a {
        width: 100%;
        display: block;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $couleur-texte;
        background-color: transparent;
        &:hover {
          color: $eva_main_blue;
        }
      }
    }

    #utility {
      &_nom {
        margin-top: $padding-verticale;
        padding-right: calc(#{$padding-horizontale + $largeur-logout});
        margin-bottom: .25rem;
      }
      &_email {
        margin-bottom: .75rem;
        a {
          color: $couleur-texte-light;
          &:hover {
            color: $eva_main_blue;
          }
        }
      }
      &_email--non-confirme {
        margin-bottom: .75rem;
        a {
          @include pastille_rouge;
          &::after {
            right: -20px;
            top: 0;
            width: 18px;
            height: 18px;
          }
        }
      }
      &_structure_courante {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        margin-bottom: 1rem;
        padding-right: calc(#{$padding-horizontale + $largeur-roue} + .5rem);
        a {
          color: $eva_main_blue;
          &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.75rem;
            height: 2rem;
            margin-right: 0.625rem;
            background: asset-data-url('logo/eva-simple.svg') no-repeat center;
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: $largeur-roue;
          height: $largeur-roue;
          right: $padding-horizontale;
          top: 0.375rem;
          background: asset-data-url('roue-dentee.svg') no-repeat center;
        }
      }
      &_compte, &_structure, &_statistiques, &_logout {
        display: none;
        padding-bottom: .5rem;
        background-color: $eva_bluegrey;
        a { @include lien-non-dsfr; }
      }
      &_compte {
        padding-top: 1rem;
      }
      &_logout {
        padding-bottom: 1rem;
        &::after {
          content: '';
          position: absolute;
          width: 1.25rem;
          height: 1.25rem;
          right: $padding-horizontale;
          bottom: $padding-verticale;
          background: asset-data-url('roue-dentee.svg') no-repeat center;
        }
      }

      &_email,
      &_email--non-confirme,
      &_structure_courante {
        @include corps-de-texte-xs-regular;

        font-style: italic;
      }
    }
    #logout {
      position: absolute;
      right: $padding-horizontale;
      top: 0.875rem;
      padding: 0;
      a {
        width: $largeur-logout;
        display: block;
        background: asset-data-url('deconnexion.svg') no-repeat center right;
        background-size: contain;
        color: transparent;
      }
    }
  }
}
