/* HEADER */
#header {
  display: flex;
  height: 64px;
  align-items: center;
  text-shadow: none;
  border-bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: none;
  #site_title {
    margin: 0 4rem 0 0;
    padding: 0;

    a {
      display: flex;
    }
  }
  #site_title_image {
    max-width: 50px;
    max-height: 43px;
    top: 0; // reset activeadmin style
  }
  a,
  a:link {
    color: #fff;
    font-size: 0.75rem;
  }
  ul.tabs {
    display: block;
    height: auto;
    &#tabs {
      padding: 0 5rem 0 0;
    }
    > li {
      margin-right: 0;
      margin-top: 0.12rem;
      &:hover > a,
      &.current > a {
        color: $eva_main_blue;
        background: #fff;
      }
      > a {
        padding: 0.52rem 0.87rem;
        border-radius: 1.9rem;
      }
      &.has_nested {
        > a,
        &.current > a {
          padding-right: 0.87rem;
          background: none;
        }
        &.current > a {
          background-color: #fff;
        }
        &:hover > a {
          border-top-right-radius: 0.6rem;
          border-top-left-radius: 0.6rem;
          border-bottom: 0.3rem solid #fff;
          background: none;
          background-color: #fff;
        }
        .menu_item > a:hover {
          text-decoration: underline;
        }
      }
      ul {
        background-color: #fff;
        li {
          a,
          a:hover {
            color: $eva_main_blue;
          }
        }
      }
    }
    #aide {
      position: absolute;
      top: 50%;
      right: 1.25rem;
      margin-top: -.52rem;
      a {
        padding-left: 2rem;
        background: $eva_main_blue asset-data-url('icon_aide.svg') no-repeat 10px 8px;
      }
      a:hover,
      &.current > a {
        color: #fff;
      }
    }
  }
  .header-item {
    top: auto;
  }
  #tabs {
    padding-left: 6.4rem;
    @media screen and (max-width: 1280px) {
      padding-left: 1rem;
    }
  }
  #utility_nav {
    @include make-col(2, 8);

    display: flex;
    flex-direction: column;
    height: 104px;
    margin-top: 4rem;
    padding: 0.875rem 1.5rem;
    text-align: left;
    font-size: 0;
    border-radius: 1rem;
    background-color: #fff;
    li {
      margin: 0;
      display: block;
      a {
        width: 100%;
        display: block;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $eva_dark;
        &:hover {
          color: $eva_main_blue;
        }
      }
    }
    #utility {
      &_nom {
        padding-right: 1.75rem;
        font-size: 0.875rem;
      }
      &_email,
      &_structure_courante {
        font-size: 0.75rem;
        font-style: italic;
      }
      &_email {
        a {
          color: $eva_dark_blue_grey;
          &:hover {
            color: $eva_main_blue;
          }
        }
      }
      &_structure_courante {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        a {
          color: $eva_main_blue;
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            margin-right: 0.625rem;
            background: asset-data-url('eva-logo-simple.svg') no-repeat center;
          }
        }
      }
    }
    #logout {
      position: absolute;
      right: 0.875rem;
      top: 0.875rem;
      a {
        width: 28px;
        display: block;
        background: asset-data-url('deconnexion.svg') no-repeat center right;
        background-size: contain;
        color: transparent;
      }
    }
  }
}
