/* HEADER */
#header {
  display: flex;
  height: 64px;
  align-items: center;
  text-shadow: none;
  border-bottom: 0;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: none;
  h1 {
    width: 50px;
    height: 43px;
    margin: 0 4rem 0 0;
    text-indent: -9999px;
    background: asset-data-url('eva-logo.svg') no-repeat center;
    background-size: 50px 43px;
  }
  a,
  a:link {
    color: #fff;
    font-size: 0.75rem;
  }
  ul.tabs {
    display: block;
    height: auto;
    &#tabs {
      padding: 0 5rem 0 0;
    }
    > li {
      margin-right: 0;
      margin-top: 0.12rem;
      &:hover > a,
      &.current > a {
        color: $eva_main_blue;
        background: #fff;
      }
      > a {
        padding: 0.52rem 0.87rem;
        border-radius: 1.9rem;
      }
      &.has_nested {
        > a,
        &.current > a {
          padding-right: 0.87rem;
          background: none;
        }
        &.current > a {
          background-color: #fff;
        }
        &:hover > a {
          border-top-right-radius: 0.6rem;
          border-top-left-radius: 0.6rem;
          border-bottom: 0.3rem solid #fff;
          background: none;
          background-color: #fff;
        }
        .menu_item > a:hover {
          text-decoration: underline;
        }
      }
      ul {
        background-color: #fff;
        li {
          a,
          a:hover {
            color: $eva_main_blue;
          }
        }
      }
    }
    #aide {
      position: absolute;
      top: 50%;
      right: 1.25rem;
      margin-top: -.52rem;
      a {
        padding-left: 2rem;
        background: $eva_main_blue asset-data-url('icon_aide.svg') no-repeat 10px 8px;
      }
      a:hover,
      &.current > a {
        color: #fff;
      }
    }
  }
  .header-item {
    top: auto;
  }
  #tabs {
    padding-left: 6.4rem;
    @media screen and (max-width: 1280px) {
      padding-left: 1rem;
    }
  }
  #utility_nav {
    display: inline-block;
    height: 31px;
    padding: 0 1rem;
    border-radius: 1.9rem;
    background-color: #fff;
    font-size: 0;
    a {
      color: $eva_dark;
      &:hover {
        color: $eva_main_blue;
      }
    }
    #current_user {
      span, a {
        margin-right: .6rem;
        padding: 0.38rem 0;
      }
    }
    #logout {
      a {
        width: 1.8rem;
        padding: 0.38rem 0;
        display: inline-block;
        color: transparent;
        background: asset-data-url('deconnexion.svg') no-repeat center right;
        background-size: contain;
      }
    }
  }
}
