#active_admin_content {
  padding: 3rem 0;

  #main_content_wrapper {
    #main_content {
      margin-right: 310px;
    }
  }
  #sidebar {
    width: 290px;
    margin-left: -290px;
  }
}

#active_admin_content {
  margin: 0;
  padding: 3rem 0;
}
