#active_admin_content {
  padding: .5rem 0;
  #main_content_wrapper {
    max-width: 100vw;

    #main_content {
      margin-top: 2.5rem;
    }
  }
}

body.logged_in {
  #active_admin_content {
    display: flex;
    align-items: stretch;
  }
}
