#search_status_sidebar_section {
  display: none;
}

.sidebar_section.panel {
  &.action-items-sidebar {
    @include annule-carte;
    @include panel-gris();
    margin-bottom: 0.5rem;
  }

  &.annule-panel {
    @include annule-panel;
  }

  &.annule-carte {
    @include annule-carte;
  }

  .action_items {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;

    a {
      @include bouton;
    }
  }
}
