.sidebar_section.panel {
  &.action-items-sidebar {
    @include annule-panel();
    margin-bottom: 2rem;
  }

  &.annule-panel {
    @include annule-panel();
  }

  &.annule-carte {
    @include annule-carte();
  }

  .action_items {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;

    a {
      @include bouton-carte($eva_main_blue);
    }
  }
}
