#search_status_sidebar_section {
  display: none;
}

// Cacher le bloc "Gestion" uniquement sur la page show d'évaluation
body.admin_evaluations.show #action_items_sidebar_section,
body[class*="evaluations"].show #action_items_sidebar_section {
  display: none;
}

#responsable_de_suivi_sidebar_section, #acces_prives_sidebar_section {
  .panel_contents {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
  }

  .tag {
    $largeur-panel: 18.125rem;
    $padding: 1rem;
    @include tronque();
    display: inline-block;
    max-width: calc(#{ $largeur-panel - ($padding * 2) });
    font-weight: 400;
  }
  .champ-recherche {
    width: 100%;
  }
  .bouton-icone-plus {
    &::before {
      content: asset-data-url('plus.svg');
      margin-right: 4px;
    }
  }
  input {
    height: 1.625rem;
  }
}

.sidebar {
  .sidebar_section.panel {
    margin-bottom: 0.5rem;

    &.action-items-sidebar {
      background: var(--color-background-default, #FFF);
      /* dsfr/shadow-sm */
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
    }

    &.annule-panel {
      @include annule-panel;
    }

    &.annule-carte {
      @include annule-carte;
    }

    .action_items {
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;

      & > *:empty {
        display: none;
      }

      a {
        @include bouton-secondaire;
        @include tres-petit-bouton;
      }
    }
  }
}

@media (max-width: 854px) {
  #active_admin_content.with_sidebar {
    align-items: start;
    flex-direction: column;

    #main_content_wrapper #main_content {
      margin-right: 0;
    }

    #sidebar {
      display: flex;
      gap: 1rem;
      width: 100%;
      margin-left: 1rem;
      margin-top: 1rem;
      align-items: start;

      #filters_sidebar_section {
        width : 18.2rem;
      }

      .menu-sidebar {
        display: none;
      }
    }
  }
}
