<%= dsfr_alert(type: :info, title: "Pour en savoir plus", html_attributes: { class: "alert-annexe" }) do %>
  <div class="alert-annexe__contenu">
    <ul>
      <li>Sur les référentiels utilisés : <%= link_to @lien_referentiel, @lien_referentiel %></li>
      <li>Sur le positionnement : <%= link_to @lien_positionnement, @lien_positionnement %></li>
    </ul>
  </div>
<% end %>
