<div class="mesure-chiffre-cle">
  <div class="mesure-chiffre-cle__chiffre-cle">
    <%= render ChiffreCleComponent.new(
      palier: palier,
      prefixe: prefixe,
      chiffre: chiffre,
      suffixe: suffixe
    ) %>
  </div>
  <div class="mesure-chiffre-cle__explication">
    <p>
      <%= texte %>
    </p>
    <%= md(suite) %>
  </div>
</div>
