.admin_actualites {
  &.show {
    #active_admin_content {
      #main_content_wrapper #main_content {
        margin-right: 465px;
      }
      #sidebar {
        width: 445px;
        margin-left: -445px;
      }
    }

    .actualite-complete {
      color: $couleur-texte;

      .titre {
        @include titre();
        font-size: 2.25rem;
        margin-bottom: 2rem;
      }

      .illustration {
        img {
          width: 100%;
          @include carte-avec-ombre();
        }
        margin-bottom: 2rem;
      }

      .contenu {
        @include make-col(3, 5);
        @include make-col-offset(1, 5);
        padding: 0 .625rem;

        img, iframe, blockquote {
          width: calc(100% + 2.5rem);
          border-radius: .5rem;
          margin: 0 -1.25rem;
        }

        a {
          color: $eva_main_blue;
        }
      }
    }

    .actualite-complete,
    .details-actualite,
    .autres-actualites {
      font-size: .875rem;
    }

    .details-actualite {
      .metadonnees {
        @include carte-avec-ombre();
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;

        .donnee {
          display: flex;
          flex-direction: column;
          flex: 1;
          align-items: flex-start;
        }

        .label {
          font-weight: bold;
          margin-bottom: .5rem;
        }
      }
    }

    .autres-actualites {
      .actualite {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .tag-categorie {
          margin-right: 1rem;
        }

        .lien {
          // le style dsfr ne supporte pas les liens sur plusieurs lignes
          @include lien-non-dsfr;
        }
      }
    }
  }
}
