.admin_actualites {
  &.index {
    .actualites {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
    }
  }
}

@media (max-width: 854px) {
  .admin_actualites {
    &.index {
      .actualites {
        padding: 1rem;
        grid-template-columns: 1fr;
      }
    }
  }
}
