.admin_actualites {
  &.index {
    .actualites {
      columns: 3 auto;
      column-gap: 1.25rem;
    }
    .actualite {
      padding: 0.625rem 0;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;

      .conteneur {
        @include carte-avec-ombre;
      }
      .illustration {
        height: 145px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .contenu {
        padding: 1rem;
        position: relative;
      }
      .tag-categorie {
        margin-bottom: 1rem;
      }
      .titre {
        margin-bottom: 1.75rem;
        font-size: 1rem;
        a {
          text-decoration: none;
          color: $couleur-texte;
        }
      }
      .date {
        font-size: 0.875rem;
        color: $eva_dark_blue_grey;
      }
      .menu-actions {
        @include menu-actions();
        .table_actions {
          left: 9rem;
          top: 1.5rem;
        }
      }
      .bouton-menu {
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
      }
      .action {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        width: 1.25rem;

        .action-simple {
          @include bouton;
          margin-left: -1.5rem;
        }
      }
    }
  }
}
