.page-beneficiaire {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-12v;
}

.panel--beneficiaire { 
  h2 {
    font-size: $dsfr-font-size-4xl;
  }
}

.liste-evaluations-positionnement__tableau {
  td div {
    display: flex;
    gap: $dsfr-spacing-1v;
    align-items: center;
  }
}
