.admin_campagnes {
  $grid-columns:      6;
  $grid-gutter-width: 1.25rem;
  $largeur-colonne: 135px;
  $largeur-goutiere: 20px;
  @import "../../bootstrap_minimal";

  &.show {
    .titre {
      @include titre();
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
      color: $eva_main_blue;
    }
    .sous-titre {
      @include titre();
      margin-bottom: 1rem;
    }
    .panel {
      font-size: 0.875rem;
      > ul {
        margin-bottom: 0;
      }
    }
    .campagne {
      table {
        margin-bottom: 1rem;
      }
      &-code {
        border: 2px solid $eva_green;
        .row {
          &-code {
            font-size: 1.5rem;
            .code {
              display: flex;
              letter-spacing: 0.2rem;
            }
            .violet {
              color: $eva_main_blue;
            }
            td {
              position: relative;
              font-weight: 600;
            }
            .copier-coller {
              bottom: 0.7rem;
            }
          }
          &-url {
            position: relative;
            th {
              text-transform: uppercase;
            }
            td {
              padding-right: 6rem;
            }
          }
        }
        .campagne {
          position: relative;
        }
        .copier-coller {
          position: absolute;
          right: 0;
          bottom: 0.4rem;
        }
        .conteneur-action {
          padding-left: 8.5rem;
        }
        .bouton-jouer {
          @include bouton-carte($eva_main_blue);
        }
      }
      &-parcours {
        @include carte-avec-ombre();
        margin-bottom: .5rem;
        overflow: hidden;
        font-size: .875rem;

        p:last-child {
          margin-bottom: 0;
        }

        &-intro {
          padding: 1.5rem;
          font-style: italic;
        }
        &-info {
          background-color: $eva_main_blue;
          padding: 1.5rem;
          color: white;
          h4 {
            margin: 0;
            color: white;
            font-size: 1.25rem;
            margin-bottom: 1rem;
            font-weight: bold;
            font-family: $font-titre;
          }
          &-description {
            margin-bottom: 1rem;
          }
          &-duree-moyenne {
            font-style: italic
          }
        }
        padding: 0;
        div:first-child {
          padding: 1.5rem
        }
        p {
          margin: 0;
        }
        .info_parcours_campagne {
          background-color: $eva_main_blue;
          padding: 1.5rem;
          color: white;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          h3 {
            color: white;
          }
        }
      }
      &-auto_positionnement {
        margin-bottom: .5rem;
      }
      &-auto_positionnement, &-expression_ecrite {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
        .inclus {
          .title {
            font-weight: 600;
          }
          .commentaire {
            font-style: italic;
            color: $eva_green;
          }
        }
        .non_inclus {
          .title {
            font-weight: 600;
            color: $eva_dark_blue_grey;
          }
          .commentaire {
            font-style: italic;
            color: $eva_red;
          }
        }
      }
    }
    .attributes_table {
      table {
        th,
        td {
          border: 0;
        }
        td {
          font-weight: 500;
        }
        th {
          width: 7.875rem;
          vertical-align: bottom;
          font-family: $font-texte;
          font-weight: normal;
          font-size: 0.875rem;
          text-transform: none;
          color: $eva_dark;
        }
        a {
          color: $eva_dark;
        }
      }
    }
    table {
      margin-bottom: 0;
    }
  }

  .nouvelle-campagne {
    .titre {
      @include titre();
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      &--medium {
        font-size: 1.25rem;
      }
    }

    .description {
      font-size: 0.875rem;
      font-style: italic;
      line-height: 1rem;
      &--secondaire {
        margin-bottom: 1rem;
        color: $eva_dark_blue_grey;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    fieldset.inputs {
      background-color: #fff;
      input[type="text"],
      .select2 {
        width: auto;
        flex: 1;
      }
    }
  }
}
