.admin_campagnes {
  $grid-columns: 8;
  $grid-gutter-width: 1.25rem;
  @import "../../bootstrap_grid";

  td.col, th.col {
    padding: .625rem .75rem;
    &.col-actions {
      padding: 0;
    }
  }

  &.show {
    // Retire le margin-right de activeadmin afin que le contenu de la page soit sur toute la largeur (filtre compris)
    #active_admin_content #main_content_wrapper #main_content {
      margin-right: 0;
    }

    h2 {
      margin-top: 1.5rem;
    }

    .panel {
      font-size: 0.875rem;
      margin-bottom: 0;

      > ul {
        margin-bottom: 0;
      }
    }
    .card-informations {
      padding: 1.5rem;
    }
    .campagne {
      table {
        margin-bottom: 1rem;
      }
      &-code {
        border: 2px solid $success-425;
        .row {
          &-code {
            font-size: 1.5rem;
            .code {
              display: flex;
              letter-spacing: 0.2rem;
              line-height: 1.75rem;
            }
            .violet {
              color: $eva_main_blue;
            }
            td {
              position: relative;
              font-weight: 600;
            }
            .copier-coller {
              bottom: 0.7rem;
            }
          }
          &-url {
            position: relative;
            th {
              text-transform: uppercase;
            }
            td {
              padding-right: 6rem;
              a {
                padding-right: 2rem;
              }
            }
          }
        }
        .campagne {
          position: relative;
        }
        .copier-coller {
          position: absolute;
          right: 0;
          bottom: 0.4rem;
        }
        .conteneur-action {
          padding-left: 8.5rem;
        }
        .bouton-jouer {
          @include bouton;
        }
      }
      &-situation {
        margin-top: 1.5rem;
        gap: 1rem;
        .commentaire {
          font-style: italic;
          color: $eva_green;
        }
        .situation__texte {
          h5 {
            margin-bottom: 0;
            margin-right: .5rem;
            align-self: center;
          }
          p {
            font-style: italic;
            margin-bottom: 0;
          }
        }
      }
    }
    .attributes_table {
      table {
        th,
        td {
          border: 0;
        }
        td {
          font-weight: 500;
        }
        th {
          width: 7.875rem;
          vertical-align: bottom;
          font-family: $font-texte;
          font-weight: normal;
          font-size: 0.875rem;
          text-transform: none;
          color: $couleur-texte;
        }
      }
    }
    table {
      margin-bottom: 0;
    }
  }

  &.index {
    .col-date_derniere_evaluation {
      min-width: 7.5rem;
    }
  }

  .nouvelle-campagne {
    h3 {
      @include h3();
      margin-bottom: 1rem;
    }

    .panel__description {
      font-style: italic;
      p {
        margin-bottom: 1rem;
      }
    }
    .description--secondaire {
      color: $eva_dark_blue_grey;
    }

    fieldset.inputs, fieldset.input-choix, fieldset.choices {
      background-color: #fff;

      input[type="text"],
      .select2 {
        width: 100%;
      }
    }
  }

//ci-dessous--> A uniformiser plus tard sur tous les boutons actions de l'admin: app/assets/stylesheets/admin/composants/_buttons.scss

  form fieldset.actions {
    margin-top: 2rem;

    ol {
      display: flex;
      justify-content: space-between;
    }
    li {
      margin-bottom: 0;
    }
    .bouton-annuler a {
      @include bouton-arrondi;
      min-width: 6.563rem;
      text-align: center;
      margin-right: 0;
      color: $couleur-texte;
      background-color: $eva_bluegrey;
      border-color: $eva_bluegrey;
      &:hover {
        color: $couleur-texte;
        border-color: $eva_bluegrey;
      }
    }

    input {
      margin-right: 0;
    }
  }
}
