.nouvelle-campagne {
  $grid-columns:      8;
  $grid-gutter-width: 1.25rem;
  $largeur-colonne: 135px;
  $largeur-goutiere: 20px;
  @import "../../bootstrap_minimal";

  .titre {
    @include titre;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    &--medium {
      font-size: 1.25rem;
    }
  }

  .description {
    padding-right: $largeur-colonne + $largeur-goutiere;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1rem;
    p:last-child {
      margin-bottom: 0;
    }
  }

  fieldset.inputs {
    background-color: #fff;
    input[type="text"],
    .select2 {
      width: auto;
      flex: 1;
    }
  }
}
