.admin_campagnes {
  $grid-columns:      8;
  $grid-gutter-width: 1.25rem;
  $largeur-colonne: 135px;
  $largeur-goutiere: 20px;
  @import "../../bootstrap_minimal";

  &.show {
    .titre {
      @include titre;
      margin-bottom: 1.5rem;
      font-size: 2.25rem;
      color: $eva_main_blue;
    }
    .sous-titre {
      @include titre;
      margin-bottom: 1rem;
    }
    .panel {
      font-size: 0.875rem;
      > ul {
        margin-bottom: 0;
      }
    }
    .campagne {
      &-code {
        border: 2px solid $eva_green;
        .row {
          &-code {
            font-size: 1.5rem;
            .code {
              display: flex;
              letter-spacing: 0.2rem;
            }
            .violet {
              color: $eva_main_blue;
            }
            td {
              position: relative;
              font-weight: 600;
            }
            .input-copier-coller,
            .copier-coller {
              bottom: 0.7rem;
            }
          }
          &-url {
            th {
              text-transform: uppercase;
            }
            td {
              padding-right: 6rem;
            }
          }
        }
        .campagne {
          position: relative;
        }
        .input-copier-coller,
        .copier-coller {
          position: absolute;
          right: 0;
          bottom: 0.4rem;
        }
      }
      &-parcours {
        th {
          background-color: $eva_light;
        }
      }
    }
    .attributes_table {
      table {
        th,
        td {
          border: 0;
        }
        td {
          font-weight: 500;
        }
        th {
          width: 7.875rem;
          vertical-align: bottom;
          font-family: $font-texte;
          font-weight: normal;
          font-size: 0.875rem;
          text-transform: none;
          color: $eva_dark;
        }
        a {
          color: $eva_dark;
        }
      }
    }
    table {
      margin-bottom: 0;
    }
  }

  .nouvelle-campagne {
    .titre {
      @include titre;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      &--medium {
        font-size: 1.25rem;
      }
    }

    .description {
      font-size: 0.875rem;
      font-style: italic;
      line-height: 1rem;
      &--secondaire {
        margin-bottom: 1rem;
        color: $eva_dark_blue_grey;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    fieldset.inputs {
      background-color: #fff;
      input[type="text"],
      .select2 {
        width: auto;
        flex: 1;
      }
    }
  }
}
