.page-comparaison {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-12v;
}

.page-comparaison__titre {
  margin-bottom: 0;
}

.page-comparaison__tableau table {
  width: 100% !important;
  table-layout: fixed;
}

.page-comparaison__min-column {
  min-width: 19rem;
}

.page-comparaison__min-column:nth-child(1) {
  width: 20rem;
}

.page-comparaison__container-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
