.mon-compte {
  width: 100%;

  $grid-columns: 6;
  $grid-gutter-width: 1.25rem;

  @import "../../bootstrap_grid";

  .titre-entete-page {
    margin-bottom: 1.5rem;
  }

  .introduction-image{
    width: 16.75rem;
    right: 0;
  }

  table {
    margin-bottom: 0;
    .row {
      display: table-row;
      th, td {
        font-size: 0.875rem;
        border: 0;
        color: $couleur-texte;
      }
      th {
        font-weight: normal;
        text-transform: none;
      }
    }
  }

  .card__banner--alert {
    padding: 0.75rem;
    gap: 1.25rem;
    .banner__icone {
      width: 7.75rem;
      margin: .75rem;
    }
  }

  .email-non-confirme {
    @include pastille_rouge;
    &::after {
      right: -21px;
      top: 0;
      width: 21px;
      height: 21px;
    }
  }  
}
