.evaluation-evapro, .evaluation-evapro .page, .evaluation-evapro .page__contenu {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-7w;
  width: 100%;

  @media print {
    gap: $dsfr-spacing-4w;
  }
    
  .evaluation-evapro__titre {
    margin-bottom: 0;
    color: var(--text-title-grey);

    @include titre-h2;
  }

  .evaluation-evapro__titre-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

body.admin_evaluations.index #active_admin_content .evaluation-evapro,
body.admin_evaluations.index #active_admin_content .evaluation-evapro .page,
body.admin_evaluations.index #active_admin_content .evaluation-evapro .page__contenu {
  gap: 0;
}