@mixin bloc-evaluation() {
  .evaluation__nom {
    @include tronque();
    width: 15.25rem;
    font-family: $font-titre;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: bold;

    &, &:link, &:visited {
      text-decoration: none;
    }

    .icone-anonyme {
      flex-shrink: 0;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  .evaluation__campagne {
    font-weight: 600;
    @include tronque();
    width: 28.75rem;
    @include texte-lg();

    &, &:link, &:visited {
      color: $eva_dark_blue_grey;
      text-decoration: none;
    }
  }

  .evaluation__suivi-par {
    margin-left: 1.75rem;
  }

  .evaluation__suivi-par, .evaluation__parcours-type, .evaluation__created_at {
    color: $eva_dark_blue_grey;
    @include texte-xs();
    font-style: normal;
    font-weight: 400;

    a, a:link, a:visited {
      color: $eva_dark_blue_grey;
      font-weight: 600;
    }
  }

  .evaluation__created_at {
    text-align: right;
    white-space: nowrap;
    margin-top: .75rem;
  }
}

#index_table_evaluations {
  $padding-horizontal: 0.625rem;
  thead th { padding: 0 $padding-horizontal .5rem; }
  tbody tr {
    min-height: 4.5rem;
  }
  .cellule {
    display: flex;
    flex-direction: column;
    height: 2.875rem;
    justify-content: space-between;
  }
  .col-nom {
    .ellipse {
      margin-right: .75rem;
    }
  }
  td:first-child {
    padding-left: 1rem;
  }
  td:last-child {
    padding-right: 1rem;
  }
  td {
    padding: .75rem $padding-horizontal;
    vertical-align: top;
  }

  @include bloc-evaluation();
}

.show, .admin_evaluations {
  .menu-sidebar {
    margin-top: 2rem;
  }
}

#responsable_de_suivi_sidebar_section {
  @include panel-gris();
  height: 5.125rem;
  .tag {
    $largeur-panel: 18.125rem;
    $padding: 1rem;
    @include tronque();
    display: inline-block;
    max-width: calc(#{ $largeur-panel - ($padding * 2) });
    padding: 0.25rem 1rem;
    font-weight: 400;
    color: white;
    background-color: $eva_dark;
  }
  .champ-recherche {
    width: 100%;
    border: 1px solid $eva_main_blue;
    padding: 0.25rem 0.25rem 0.25rem 1.5rem;
    border-radius: 0.25rem;
  }
  .bouton {
    &::before {
      content: asset-data-url('plus.svg');
      margin-right: 4px;
    }
  }
  input[name="nom_responsable_suivi"] {
    height: 1.625rem;
  }
}
