.evaluation-evapro {
  display: flex;
  flex-direction: column;
  gap: var(--Space-7W, 3.5rem);

  .evaluation-evapro__titre {
    margin-bottom: 0;
    color: var(--light-decisions-text-text-title-grey, #161616);
    @include h2-lg();
  }
}
