@mixin bloc-evaluation() {
  .evaluation__nom {
    @include tronque;

    width: 15.25rem;
    font-family: $font-titre;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: bold;

    &,
    &:link,
    &:visited {
      background-image: none;
    }

    .icone-anonyme {
      flex-shrink: 0;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  $largeur_colonne_campagne: 28.75rem;

  .evaluation__campagne {
    font-weight: 600;

    @include tronque;

    width: $largeur_colonne_campagne;

    @include corps-de-texte-md-regular;

    &,
    &:link,
    &:visited {
      color: $eva_dark_blue_grey;
      background-image: none;
    }
  }

  .evaluation__code-beneficiaire {
    margin-left: 1.75rem;
  }

  .evaluation__code-beneficiaire,
  .evaluation__campagne-sous-titre,
  .evaluation__created_at {
    color: $eva_dark_blue_grey;

    @include corps-de-texte-xs-regular;

    font-style: normal;
    font-weight: 400;

    a,
    a:link,
    a:visited {
      color: $eva_dark_blue_grey;
      font-weight: 600;
    }
  }

  .evaluation__campagne-sous-titre {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: $largeur_colonne_campagne;
    line-height: normal;
  }

  .evaluation__created_at {
    text-align: right;
    white-space: nowrap;
  }

  .menu-actions {
    @include menu-actions;

    .table_actions {
      left: calc(100% - 2rem);
      top: 2rem;
    }
  }
}

#index_table_evaluations,
#index_table_evaluations_beneficiaire {
  $padding-horizontal: 0.625rem;

  thead th {
    padding: 0 $padding-horizontal .5rem;
  }

  tbody tr {
    min-height: 4.5rem;
  }

  .cellule {
    display: flex;
    flex-direction: column;
    height: 2.875rem;
    justify-content: space-between;
  }

  .col-beneficiaire {
    .ellipse {
      margin-right: .75rem;
    }
  }

  td:first-child {
    padding-left: 1rem;
  }

  td:last-child {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 4.5rem;
  }

  td {
    padding: .75rem $padding-horizontal;
  }

  @include bloc-evaluation;
}

.show,
.admin_evaluations {
  .menu-sidebar {
    margin-top: 2rem;
  }
}
