$largeur-colonne: 290px;

body.logged_out {
  font-size: .75rem;
  background-color: $eva_light;

  &::before {
    content: '';
    background: $eva_dark image-url('vagues-verticales.svg') no-repeat top center;
    height: 100%;
    display: block;
    position: fixed;
    width: $largeur-colonne;
    left: 50%;
    margin-left: -$largeur-colonne/2;
  }

  #wrapper {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    position: relative;
  }

  #content_wrapper {
    position: relative;
    padding-top: 10rem;
    flex: 1 0 auto;
    margin: auto;
    width: 445px;
  }

  h1 {
    font-family: $font-titre;
    color: $eva_light;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto 3rem;
  }

  .flashes {
    width: 100%;
    position: absolute;
    top: 12.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    .flash {
      display: inline-block;
      padding: .35rem 1rem;
      position: relative;
      top: 1.2rem;
      font-weight: 400;
      border-radius: 0.75rem;
      color: $eva_light;
      &_notice {
        background-color: $darkgreen;
      }
      &_alert {
        background-color: $couleur-accent-erreur;
      }
    }
  }

  #content_wrapper #active_admin_content {
     padding: 2rem 1.5rem;
     z-index: 1;
  }
  h2 {
    padding: 0;
    margin: 0 0 1.125rem;;
    font-size: 1.125rem;
    font-family: $font-titre;
    text-shadow: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: none;
    color: $eva_dark;
    background: none;
  }
  #login {
    form fieldset {
      &.actions {
        li {
          padding-bottom: 0;
        }
      }

      li {
        clear: both;
      }

      input[type=text],
      input[type=email],
      input[type=tel],
      input[type=password] {
        width: 60%;
      }

      .inline-hints a {
        float: none;
      }
    }
    a {
      color: $eva_main_blue;
      float: none;
    }
    br:last-child {
      display: none;
    }
  }
  .flash {
    text-shadow: none;
    font-weight: 600;
    color: $eva_dark;
  }

  form fieldset.buttons li, form fieldset.actions li {
    float: right;
  }

  .liens-partages {
    float: left;
    margin-top: -2rem;
  }

  #footer {
    box-sizing: border-box;
    color: $eva_light;
    padding: 1rem;
    width: $largeur-colonne;
    margin: auto;

    a {
      color: $eva_main_blue;
    }
  }
}
