$largeur-colonne: 290px;

body.logged_out {
  font-size: .75rem;
  background-color: $eva_light;

  #wrapper {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    position: relative;
    &::before {
      content: '';
      background: $eva_dark image-url('vagues-verticales.svg') no-repeat top center;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      width: $largeur-colonne;
      left: 50%;
      z-index: 1;
      margin-left: -$largeur-colonne/2;
    }
  }

  #content_wrapper {
    position: relative;
    padding-top: 10rem;
    flex: 1 0 auto;
    margin: auto;
    width: 445px;
    z-index: 2;

    &.conteneur-elargi {
      width: 640px;

      .description {
        font-size: 0.875rem;
        font-style: italic;
      }

      fieldset {
        &.inputs {
          padding-top: 1rem;
        }
      }
    }
    &.conteneur-invisible {
      #active_admin_content {
        padding: 0;
        box-shadow: none;
        background: none;
      }
      form fieldset legend {
        display: none;
      }
    }
  }

  .groupe-titres {
    width: $largeur-colonne;
    margin: 0 auto 3rem;
    font-family: $font-titre;
    text-align: center;
    h1 {
      color: $eva_light;
      font-size: 1.5rem;
      font-weight: bold;
      + h2 {
        margin-top: 1rem;
      }
    }
    h2 {
      font-size: 1rem;
    }
  }

  h2 {
    padding: 0;
    margin: 0 0 1.125rem;;
    font-size: 1.125rem;
    font-family: $font-titre;
    text-shadow: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: none;
    color: $eva_dark;
    background: none;
  }

  h3 {
    @include titre-carte;
    margin-bottom: .5rem;
    padding: 0;
    + .description {
      margin-bottom: 0;
    }
  }

  a {
    color: $eva_main_blue;
  }

  #login {
    width: 100%;
    form fieldset {
      input[type=text],
      input[type=email],
      input[type=password] {
        width: auto;
        flex: 1;
      }
      li {
        padding: 0;
      }
    }
    a {
      color: $eva_main_blue;
      float: none;
    }
  }

  .recherche-structure {
    p:first-child {
      margin-bottom: 2rem;
    }
    form {
      display: flex;
    }
    form + .sous-panel {
      margin-top: 1rem;
    }
    .label-champ-recherche {
      font-size: .875rem;
      margin-bottom: .5rem;
      display: block;
    }
    .champ-recherche {
      margin-right: .5rem;
    }
    .aucun-resultat {
      margin-top: 1rem;
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
    }
    .creer-structure {
      @include bouton;
      background-color: $couleur-warning;
      border: none;
    }
  }

  form fieldset {
    &.inputs {
      background-color: #fff;
    }
    &.buttons li,
    &.actions li {
      float: right;
    }

  }

  .liens-partages {
    float: left;
    margin-top: -2rem;
  }

  #footer {
    box-sizing: border-box;
    color: $eva_light;
    padding: 1rem;
    width: $largeur-colonne;
    margin: auto;
    position: relative;
    z-index: 2;
  }
}
