$largeur-colonne: 290px;
$panels-largeur: 28rem;
$panels-gap: 1rem;

body.logged_out {
  font-size: .875rem;
  background-color: $eva_light;

  h2 {
    padding: 0;
    margin: 0 0 1.125rem;;
    font-size: 1.125rem;
    font-family: $font-titre;
    text-shadow: none;
    box-shadow: none;
    color: $grey-50;
    background: none;
  }

  h3 {
    @include titre-carte;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
    padding: 0;
    + .description {
      margin-bottom: 0;
    }
  }

  #content_wrapper {
    position: relative;
    padding-top: 2rem;
    flex: 1 0 auto;
    margin: auto;

    &.conteneur-elargi {
      width: 640px;

      .description {
        font-size: 0.875rem;
        font-style: italic;
      }

      fieldset {
        &.inputs {
          padding-top: 1rem;
        }
      }
    }
    &.conteneur-invisible {
      #active_admin_content {
        padding: 0;
        box-shadow: none;
        background: none;
      }
      form fieldset legend {
        display: none;
      }
    }


    .groupe-titres {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-titre;
      .logo-eva {
        width: 6rem;
      }
      h1 {
        color: $grey-50;
        font-size: 1.5rem;
        line-height: 1.875rem;
        font-weight: bold;
        margin-top: 3rem;
        max-width: 17rem;
        text-align: center;
        + h2 {
          margin-top: 1rem;
        }
      }
      h2 {
        font-size: 1rem;
      }
    }

    .panels-login {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $panels-gap;
      grid-template-rows: 1fr;
      justify-content: center;
      .panel {
        width: $panels-largeur;
        max-width: 47vw;
        padding: 0;
        margin-bottom: 0;
        .panel-content {
          padding: 1.5rem;
        }
        .panel-header {
          display: flex;
          align-items: center;
          height: 4rem;
          border-radius: 0.5rem 0.5rem 0 0;
          font-size: 1rem;
          color: $eva_light;
          padding-left: 1.5rem;
          margin: 0;
        }
      }
      form {
        .actions input[type=submit] {
          margin-right: 0;
        }
        label abbr {
          display: none
        }
      }
      .panel--connexion {
        .panel-header {
          background-color: $eva_main_blue;
        }
      }
      .panel-description {
        font-style: italic;
        font-size: 0.875rem;
        p {
          margin: 0;
        }
      }
      .panel--evaluation {
        .panel-header {
          color: $grey-50;
          background-color: $eva-orange;
        }
        .panel-content {
          form {
            margin-top: 1rem;
          }
        }
      }
      .panel {
        &--evaluation, &--connexion {
          .bouton-action {
            display: flex;
            justify-content: flex-end;
          }

          .bouton-action--centre {
            justify-content: center;
          }
        }
      }
    }

    .separateur {
      margin-top: 1rem;
      border-top: 1px solid $eva_bluegrey;
      padding-top: 1rem;
    }

    .espace-inscription {
      display: flex;
      flex-direction: column;

      &.hidden {
        display: none;
      }

      .actions {
        margin-top: 1rem;

        .action-principale {
          @include bouton-primaire;
          @include grand-bouton;
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .espace-pro-connect {
      &-transition {
        margin: 2rem;
        font-family: "Quicksand";
        font-weight: bold;
        font-size: 1.125rem;
        text-align: center;
      }

      .bouton-action {
        .actions {
          @include bouton-primaire;
          @include grand-bouton;
          display: inline-flex;
          height: 3.625rem;
          align-items: center;
          font-size: 1rem;
          padding: 0 1rem;
          color: $grey-1000;
        }
      }
    }
  }

  #login {
    form fieldset {
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        width: 100%;
      }
      li {
        padding: 0;
      }
    }
    a {
      color: $eva_main_blue;
      float: none;
      margin: 0;
    }
  }

  form {
    .inputs {
      background-color: $grey-1000;
      margin-bottom: 1rem;
    }
    .buttons li,
    .actions li {
      float: right;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.625rem;

    input[type=submit] {
      margin: 0;
    }
  }

  #footer-principal {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__a-propos {
      background-color: $eva_light;
    }

    .footer__logos {
      background-color: $eva_light;
      padding-right: 0;
      padding-left: 0;
      width: ($panels-largeur * 2 + $panels-gap);
      max-width: 100%;
    }
  }

  .mot-de-passe-instruction {
    &--consigne {
      font-weight: 600;
    }
    margin-bottom: 1.5rem;
    p {
      margin-bottom: 1rem;
    }
  }
  
  #wrapper {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    position: relative;
  }
}

body.logged_out:not(.page_inscription_v2) :not(.page_connexion_v2) {
  #wrapper {
    &::before {
      content: '';
      background: $eva_main_blue image-url('vagues-verticales.svg') no-repeat top center;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      width: $largeur-colonne;
      left: 50%;
      margin-left: -$largeur-colonne/2;
    }
  }
}
