.form-question {
  .transcriptions {
    padding: 0;
    .has_many_remove {
      display: none;
    }
  }
}

.show.admin_questions {
  tr.even, tr.odd {
    td  {
      background: transparent;
      vertical-align: middle;
      border-bottom: 1px solid $eva_bluegrey;
    }
  }
}
