form.question_saisie, form.question_qcm, form.question_sous_consigne {
  .transcriptions {
    padding: 0;
    .has_many_remove {
      display: none;
    }
  }
}
form.question_saisie .choix {
  .has_one ~ .has_many_add {
    display: none !important;
  }
}
.show.admin_question_qcms {
  tr.even, tr.odd {
    td  {
      background: transparent;
      vertical-align: middle;
      border-bottom: 1px solid $eva_bluegrey;
    }
  }
}
