form.question_saisie,
form.question_clic_dans_image,
form.question_qcm,
form.question_sous_consigne,
form.question_glisser_deposer {
  .transcriptions {
    padding: 0;
    .has_many_remove {
      display: none;
    }
  }
  .inline-hints img {
    width: 300px;
  }
}
form.question_saisie .choix {
  .has_one ~ .has_many_add {
    display: none !important;
  }
}
.show.admin_question_qcms, .show.admin_questions_glisser_deposer {
  tr.even, tr.odd {
    td  {
      background: transparent;
      vertical-align: middle;
      border-bottom: 1px solid $eva_bluegrey;
    }
    .image-preview {
      width: 100px;
    }
  }
}
.show.admin_questions_clic_dans_image {
  svg {
    stroke: $eva_bluegrey;
    stroke-width: 3px;
    opacity: 0.3;
  }
}
