.admin_structures {
  &.show {
    .sous-titre {
      @include titre-carte;
      font-size: 14px;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
      padding-left: 1.5rem;
    }

    .panel {
      font-size: 0.875rem;
      margin-bottom: 2rem;
      width: 37.5rem;
      .attributes_table {
        th,
        td {
          border: 0;
          font-size: 0.875rem;
        }
        td {
          font-weight: 500;
        }
        th {
          vertical-align: bottom;
          font-family: $font-texte;
          font-weight: normal;
          text-transform: none;
          color: $eva_dark;
        }
      }
    }
    
    .index_table {
      width: 37.5rem;
      .information-principale {
        width: 13.313rem;
      }
      .information-secondaire {
        font-style: italic;
        color: $eva_dark_blue_grey;
      }
    }
  }
}
