.admin_structures, .admin_structures_locales, .admin_structures_administratives {
  // laisse une place à droite du #main_content pour la sidebar même si elle n'est pas là.
  #active_admin_content.without_sidebar #main_content_wrapper #main_content {
    margin-right: $sidebar-width + ($section-padding * 2);
  }

  .nouvelle_structure {
    fieldset.inputs {
      background-color: white;
      margin: 2rem 0;
    }
  }

  &.show {
    $grid-columns: 6;
    $grid-gutter-width: 1.25rem;
    @import "../../bootstrap_grid";

    $largeur_image_entete: 12rem;
    $position_image_entete: 1.5rem;
    .bloc-structure-infos {
      .titre-entete-page {
        overflow-wrap: break-word;
        max-width: calc(100% - #{$largeur_image_entete + $position_image_entete});
      }
      .panel {
        .introduction-image {
          width: $largeur_image_entete;
          right: $position_image_entete;
        }

        .attributes_table {
          th, td {
            border: 0;
            font-size: 0.875rem;
          }

          td {
            font-weight: 500;
          }

          th {
            vertical-align: bottom;
            font-family: $font-texte;
            font-weight: normal;
            text-transform: none;
            color: $couleur-texte;
          }
        }
      }
      .statistiques__description {
        font-style: italic;
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }
    }

    #bloc-membres {
      .panel-invitation {
        background: $eva_bluegrey;
        margin-bottom: 1rem;

        .container-instructions {
          display: flex;
        }
          &-message, &-lien {
            font-size: 0.875rem;
            color: $couleur-texte;
          }
          &-message {
            width: 100%;

            p {
              margin: 0 1rem 1rem 0;
            }
          }
      }

      .liste-membres {
        margin-bottom: 2rem;
        .sous-titre {
          font-family: $font-texte;
          color: $couleur-texte;
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
          height: 2rem;
          font-size: 14px;
          font-weight: 600;
          padding: 0 1.5rem;
        }
      }
    }

    .bloc-mes-campagnes {
      table {
        td, th { padding: .625rem .75rem; }
        .col-derniere_evaluation {
          min-width: 7.5rem;
        }
        .col-actions {
          background-image: none;
          .bouton-menu {
            display: none;
          }
        }
      }
    }
  }
}
