.admin_structures {
  $grid-columns:      6;
  $grid-gutter-width: 1.25rem;
  @import "../../bootstrap_minimal";

  .without_sidebar {
    .structure {
      @include make-col(3);
    }
  }

  &.show {
    $largeur_image_entete: 12rem;
    $position_image_entete: 1.5rem;
    .bloc-structure-infos {
      .titre-entete-page {
        overflow-wrap: break-word;
        max-width: calc(100% - #{$largeur_image_entete + $position_image_entete});
      }
      .panel {
        .introduction-image {
          width: $largeur_image_entete;
          right: $position_image_entete;
        }

        .attributes_table {
          th, td {
            border: 0;
            font-size: 0.875rem;
          }
    
          td {
            font-weight: 500;
          }
    
          th {
            vertical-align: bottom;
            font-family: $font-texte;
            font-weight: normal;
            text-transform: none;
            color: $eva_dark;
          }
        }
      }
    }

    .liste-collegues {
      margin-top: 2rem;
      .sous-titre {
        font-family: $font-texte;
        color: $eva_dark;
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 600;
        padding: 0 1.5rem;
      }

      .card-validation {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .bloc-mes-campagnes {
      table {
        margin-top: 2rem;
      }
    }

    h3 {
      margin-top: 2rem;
    }
  }
}
