.fr-header.header-pdf-evapro {
  border: 0 !important;
  background: var(--background-alt-blue-france);
  filter: none !important;

  .fr-responsive-img {
    width: 128px;
  }

  .fr-header__service::before {
    content: none;
  }

  .fr-header__body-row, .fr-header__brand {
    justify-content: flex-start;
  }

  .fr-header__brand-top {
    width: auto;
  }

  .fr-header__brand {
    background: none;
    filter: none;
  }

  .fr-header__brand::after {
    content: none;
  }
}
