<%# Impossible d'utiliser le composant Badge car il faut obligatoirement lui passer un status %>
<p class="fr-badge fr-badge-acquisition <%= @classes.join(" ") %>"><%= image_tag("icones/#{icone}.svg"alt: "") %><%= @text %></p>
