<%= link_to @url, class: "text-decoration-none" do %>
  <div class="card carte-liste <%= @classes %>">
    <div class="fr-grid-row w-100 d-flex justify-content-between align-items-center">
      <%= content %>
    </div>
  </div>
<% end %>
