<div class="ellipse ellipse-a-cocher ellipse--<%= @statut %> position-relative">
  <% if @statut == :succes %>
    <%= image_tag "tick.svg", class: "position-absolute ellipse-a-cocher__tick", alt: "" %>
  <% end %>
</div>
