<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo"> République<br>française</p>
            </div>
            <div class="fr-header__operator">
              <a><img class="fr-responsive-img" src="<%= image_path @logo %>" alt="<%= @logo_alt %>" /></a>
            </div>
          </div>
          <% if @titre.present? %>
            <div class="fr-header__service">
              <p class="fr-header__service-title" style="margin: 0;"> <%= @titre %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

