<div class="menu-actions">
  <div class="table_actions">
    <% @actions.each do |action| %>

      <% if can?(action[:type], @ressource) %>
        <%= link_to(
              action[:label],
              send(action[:url], @ressource),
              {
                method: action[:method],
                data: action[:data],
                class: action[:class]
              }.compact
            ) %>
      <% end %>
    <% end %>
  </div>
</div>
