<span class="ellipse ellipse--<%= @couleur %>"
      data-toggle=<%= @tooltip_content ? 'tooltip' : 'none' %>
      data-placement='right'
      title="<%= @tooltip_content %>">
</span>
<%= @etiquette %>

