<div class="<%= wrapper_classes %>">
  <% scores.each do |score| %>
    <%= render FlecheScoreComponent.new(
      score: score,
      theme: @theme,
      active: active_score?(score)
    ) %>
  <% end %>
</div>
