.index {
  @media (min-width: 760px) {
    .lien-retour {
      position: absolute;
      left: -8.5rem;
    }
  }
}

.new, .edit, .show, .create, .update {
  #content_wrapper:not(.conteneur-elargi) {
    @media (min-width: 760px) {
      .lien-retour {
        position: absolute;
        left: -8.5rem;
      }
    }
  }

  .conteneur-elargi {
    @media (min-width: 1040px) {
      .lien-retour {
        position: absolute;
        left: -13rem;
      }
    }
  }
}
