.index {
  .lien-retour {
    position: absolute;
    left: -8.5rem;
  }
}

.new, .edit, .show, .create, .update {
  .lien-retour {
    position: absolute;
    left: -8.5rem;
  }

  .conteneur-elargi {
    .lien-retour {
      position: absolute;
      left: -13rem;
    }
  }
}
