.index {
  .bouton-retour {
    position: absolute;
    left: -8rem;
  }
}

.new, .edit, .show, .create, .update {
  .bouton-retour {
    position: absolute;
    left: -8.5rem;
  }

  .conteneur-elargi {
    .bouton-retour {
      position: absolute;
      left: -12.313rem;
    }
  }
}
