<div class="modal modal-alerte" id="validation-comptes-en-attente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='message'>
          <%= md t('.info_comptes_en_attente') %>
        </div>
        <div class='actions'>
          <a class="bouton-secondaire petit-bouton" href="#" data-dismiss="modal"><%= t('.annuler') %></a>
          <% structure = current_compte.structure %>
          <%= link_to 'Voir les demandes',
                      send("admin_#{structure.type.underscore}_path", structure, anchor: "bloc-membres"),
                      class: "bouton petit-bouton" %>
        </div>
      </div>
    </div>
  </div>
</div>
