<%# frozen_string_literal: true %>
<div class="modal" id="validation-comptes-en-attente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content fr-alert fr-alert--warning">
      <div class="modal-body">
        <div class='message'>
          <%= md t(".info_comptes_en_attente") %>
        </div>
        <div class='actions'>
          <a class="bouton-secondaire petit-bouton" href="#" data-dismiss="modal"><%= t(".annuler") %></a>
          <%= link_to "Voir les demandes", admin_comptes_path, class: "bouton petit-bouton" %>
        </div>
      </div>
    </div>
  </div>
</div>
