<div class="modal" id="validation-comptes-en-attente" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= md t('.info_comptes_en_attente') %>
        <div class='actions'>
          <button type="button" class="bouton-fermer" data-dismiss="modal">Plus Tard</button>
          <%= link_to 'Aller sur la page Comptes', admin_comptes_path(q: { statut_validation_eq: 'en_attente' }), class:"bouton-redirection" %>
        </div>
      </div>  
    </div>
  </div>
</div>
