<div class="modal" id="acceptation-cgu" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='message'>
          <p>
            <%= md t('.info_lien_cgu') %>
            <%= lien_cgu  %>
          </p>
          <p>
            <%= t('.demande_acceptation_cgu') %>
          </p>
        </div>
        <div class='actions'>
          <%= link_to t('.bouton_acceptation_cgu'),
                      accepter_cgu_admin_compte_path(@current_compte),
                      method: :patch,
                      class: "bouton" %>
        </div>
      </div>
    </div>
  </div>
</div>
