<div class="modal modal--static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='message'>
          <%= render partial: "admin/comptes/demande_acceptation_cgu_creation_compte",
            locals: { scope: 'admin.dashboard.modal_confirmation_cgu' } %>
        </div>
        <div class='actions'>
          <%= link_to t('.bouton_acceptation_cgu'),
                      accepter_cgu_admin_compte_path(@current_compte),
                      method: :patch,
                      class: "bouton petit-bouton" %>
        </div>
      </div>
    </div>
  </div>
</div>
