<section class="bienvenue-entreprise section-tableau-bord-eva-pro">
  <h2 class="bienvenue-entreprise__titre">
    <%= t("admin.dashboard.bienvenue_entreprise.titre") %>
  </h2>
  <%= dsfr_callout(title: t(".titre"), icon_name: :none) do %>
    <%= md t(".description") %>
  <% end %>
</section>
