.nouvelle-session__demonstration {
  background-color: var(--color-background-alt-blue, #F5F5FE);
  display: flex;
  padding: 0 var(--Space-3V, 0.75rem);
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  position: relative;
}

.nouvelle-session__demonstration-vagues {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 31.25rem;
  width: 100%;
  background-image: url("vagues-demo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.nouvelle-session__demonstration-container {
  display: flex;
  max-width: 36.75rem;
  padding-top: var(--Space-15W, 7.5rem);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-3W, 1.5rem);
  flex: 1 0 0;
  align-self: stretch;
}

.nouvelle-session__demonstration-content {
  display: flex;
  width: 23.875rem;
  flex-direction: column;
  gap: 1.5rem;
}

.nouvelle-session__demonstration-image {
  width: 18.75rem;
  align-self: center;
}

.nouvelle-session__demonstration-titre {
  color: $blue-france-sun-113;
  @include h4-sm();
  margin: 0;
}

.nouvelle-session__demonstration-description {
  @include body-sm();
  color: $grey-100;
  margin: 0rem;
}

.nouvelle-session__demonstration-liste {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  ul {
    padding: 0rem;
    margin: 0rem;
    list-style: none;

    li {
      padding-bottom: 0rem;
    }
  }
}

.nouvelle-session__demonstration-liste-item {
  display: flex;
  align-items: flex-start;
  gap: var(--Space-1W, 0.5rem);
  align-self: stretch;
}

.nouvelle-session__demonstration-liste-item-icone {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  background-image: image-url('check-line.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.nouvelle-session__demonstration-liste-item-texte {
  @include body-sm();
}

.nouvelle-session__demonstration-bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}
