.nouvelle-session__demonstration {
  background-color: var(--color-background-alt-blue, #F5F5FE);
  display: flex;
  padding: 0 $dsfr-spacing-3v;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  position: relative;
}

.nouvelle-session__demonstration-container {
  display: flex;
  max-width: var(--Grille-6-colonnes, 36.75rem);
  padding-top: $dsfr-spacing-12w;
  flex-direction: column;
  align-items: center;
  gap: $dsfr-spacing-3w;
  flex: 1 0 0;
  align-self: stretch;
}

.nouvelle-session__demonstration-body {
  display: flex;
  width: var(--Grille-4-colonnes, 23.875rem);
  flex-direction: column;
  align-items: center;
  gap: $dsfr-spacing-5w;
}

.nouvelle-session__demonstration-logo {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.nouvelle-session__demonstration-content {
  display: flex;
  width: 23.875rem;
  flex-direction: column;
  gap: 1.5rem;
}

.nouvelle-session__demonstration-image {
  width: 18.75rem;
  align-self: center;
}

.nouvelle-session__demonstration-titre {
  color: $blue-france-sun-113;

  @include titre-h4;

  margin: 0;
}

.nouvelle-session__demonstration-description {
  @include corps-de-texte-sm-regular;

  color: $grey-100;
  margin: 0;
}

.nouvelle-session__demonstration-bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nouvelle-session__demonstration-vagues {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 24rem;
  width: 100%;
  background-image: url("vagues-demo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (max-width: 48rem) {
  .nouvelle-session__demonstration-body {
    padding: $dsfr-spacing-3v;
  }

  .nouvelle-session__demonstration-content {
    width: 100%;
  }

  .nouvelle-session__demonstration-vagues {
    position: relative;
    bottom: auto;
    right: auto;
    width: 100vw;
    height: 24rem;
  }

  .nouvelle-session__demonstration-container {
    padding-bottom: 0 !important;
  }

}
