body.logged_out {

  // Les colonnes et leurs conteneurs ont déjà leurs propres marges.
  .nouvelle-session .fr-container {
    padding-left: 0;
    padding-right: 0;
  }

  .nouvelle-session__connexion {
    display: flex;
    padding: 0 $dsfr-spacing-3v;
    flex-direction: column;
    align-items: flex-start;

    .flashes {
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
    }
  }

  .nouvelle-session__container {
    display: flex;
    max-width: $dsfr-grille-6-colonnes;
    padding: $dsfr-spacing-12w;
    flex-direction: column;
    gap: $dsfr-spacing-3w;
    align-items: center;
    flex: 1 0 0;

    .nouvelle-session__body {
      display: flex;
      max-width: $dsfr-grille-4-colonnes;
      flex-direction: column;
      gap: $dsfr-spacing-3w;
    }
  }

  .nouvelle-session__connexion-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .informations-compte-actions {
      width: 100%;
    }

    .connexion_v2__inputs-group {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }

    .connexion_v2__input-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .liens-partages a {
      @include corps-de-texte-md-regular;

      color: var(--text-action-high-blue-france);
    }
  }

  .nouvelle-session__connexion-titre {
    @include titre-h5;

    margin: 0;
  }

  .nouvelle-session__connexion-lien-proconnect {
    font-size: 14px;
  }

  .page-nouvelle-session-separateur {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;

    .separateur-ligne {
      display: flex;
      height: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 1 0 0;

      svg,
      img {
        height: 1px;
        width: 100%;
        max-width: 169px;
        fill: #ddd;
      }
    }

    .separateur-texte {
      @include corps-de-texte-sm-regular;

      font-weight: 700;
      color: $grey-200;
      margin: 0;
    }
  }

  .connexion_v2__bouton-full-width,
  a.connexion_v2__bouton-full-width {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: $dsfr-breakpoint-lg-max) {
    .nouvelle-session__connexion {
      padding-bottom: $dsfr-spacing-5w;
    }

    .nouvelle-session__container {
      padding: $dsfr-spacing-6w $dsfr-spacing-8w;
      align-self: center;

      .nouvelle-session__body {
        max-width: $dsfr-grille-5-colonnes;
      }
    }
  }

  // Deux colonnes étroites : on réduit la marge latérale des conteneurs
  // pour que le contenu des deux colonnes ne se touche pas.
  @media (min-width: $dsfr-breakpoint-lg) and (max-width: 70em) {
    .nouvelle-session__container {
      padding-left: $dsfr-spacing-8w;
      padding-right: $dsfr-spacing-8w;
    }
  }
}
