<%= render MenuActionsComponent.new(evaluation,
  Evaluation::ACTIONS[:LIRE],
  Evaluation::ACTIONS[:EDITER],
  Evaluation::ACTIONS[:SUPPRIMER]
) %>
<%= render partial: "components/bouton_menu_actions" %>
<div class="evaluation__created_at"><%= l(evaluation.created_at) %></div>
