<div id="evaluation-aller-plus-loin" class="fr-mb-6w">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <div class="panel fr-pl-4w fr-pr-4w">
    <div class="focus-incoutournable">
      <div class="focus-incoutournable__media">
        <%= image_tag "les-incontournables.png", class: "focus-incoutournable__media-image", alt: t(".image_alt") %>
      </div>
      <div class="focus-incoutournable__explication">
        <%= t(".explication") %>

        <br><br>
        <%= link_to t(".lien_texte"), "https://www.bao-incontournables.fr", class: "fr-link fr-link--sm", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
