<div class="sous-competence__container">
  <div class="row">
    <div class= "col-auto">
      <%= svg_tag_base64 "badges/anlci/#{profil}.svg" %>
    </div>
    <div class= "col-7">
      <%= md t(".#{sous_competence}.titre") %>
      <%= md t(".#{sous_competence}.description") %>
    </div>
  </div>
</div>
