<div class="sous-competences">
  <div class="sous-competences__container">
    <%= image_tag "badges/anlci/#{profil}.svg" %>
    <div class="sous-competences__contenu">
      <%= md t(".#{sous_competence}.titre") %>
      <%= md t(".#{sous_competence}.description") %>
    </div>
  </div>
</div>
