<% profil = cafe_de_la_place ? cafe_de_la_place.niveau_litteratie : 'indetermine' %>
<div class="panel panel-lettrisme panel--avec-references">
  <div class='marges-page'>
    <%= render 'litteratie_numeratie_synthese',
      synthese: synthese,
      scope: "admin.evaluations.lettrisme.litteratie",
      description: "#{profil}.description",
      icone: "icone_profil/icone_#{profil}.svg",
      pdf: pdf %>
    <% if niveau_bas?(profil) %>
      <div class="lettrisme-sous-competences">
        <% cafe_de_la_place.competences_lettrisme.each do |competence, profil| %>
          <%= render 'lettrisme_sous_competence', sous_competence: competence, profil: profil %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render ReferentielAnlciComponent.new unless pdf %>
  <% if !pdf && cafe_de_la_place && !place_du_marche %>
    <% route = admin_positionnement_partie_reponses_path(partie_id: cafe_de_la_place.partie.id)%>
    <%= render partial: 'telechargement_reponses', locals: { route: route } %>
  <% end %>
</div>
