<div class="sous-competence__container">
  <%= image_tag "badges/anlci/#{profil}.svg" %>
  <div>
    <%= md t(".#{sous_competence}.titre") %>
    <%= md t(".#{sous_competence}.description") %>
  </div>
</div>
