<div class="sous-competence__container">
  <div class="row">
    <div class= "col-auto">
      <%= image_tag "badges/anlci/#{profil}.svg", alt: t(".#{profil}.alt_icone") %>
    </div>
    <div class= "col-7">
      <%= md t(".#{sous_competence}.titre") %>
      <%= md t(".#{sous_competence}.#{profil}.description") %>
    </div>
  </div>
</div>
