<% profil = cafe_de_la_place ? cafe_de_la_place.niveau_litteratie : 'indetermine' %>
<div class="panel panel--avec-references">
  <div class='marges-page'>
    <%= render 'litteratie_numeratie_synthese',
      synthese: synthese,
      scope: "admin.evaluations.litteratie.#{profil}",
      icone: "icone_profil/icone_#{profil}.svg" %>
    <% if niveau_bas?(profil) %>
      <%= render 'admin/evaluations/positionnement/sous_competences',
        sous_competences: cafe_de_la_place.competences_litteratie,
        competence: :litteratie %>
    <% end %>
  </div>
  <%= render ReferentielAnlciComponent.new unless pdf %>
  <% if !pdf && cafe_de_la_place && !place_du_marche %>
    <% route = admin_positionnement_partie_reponses_path(partie_id: cafe_de_la_place.partie.id)%>
    <%= render partial: 'telechargement_reponses', locals: { route: route } %>
  <% end %>
</div>
