<%
  palier = palier_pourcentage_risque(pourcentage_risque)
  lettre = palier_to_lettre(palier)
%>
<div id="diag-risques-entrerpise">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <%= render Evaluation::MesureChiffreCleComponent.new(
    palier: palier,
    prefixe: t(".prefixe"),
    chiffre: "#{pourcentage_risque} %",
    explications: {
      texte: t(".explication.texte.#{lettre}"),
      suite: t(".explication.suite.#{lettre}")
    }
  ) %>
</div>