<% classes = if pourcentage_risque <= 10
    [ "fr-callout--green-emeraude" ]
 elsif pourcentage_risque <= 25
    [ "fr-callout--blue-cumulus" ]
 else
    [ "fr-callout--pink-macaron" ]
  end
%>

<div id="diag-risques-entrerpise">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <div>
    <%= render MiseEnAvantComponent.new(
      titre: t(".callout.titre", pourcentage_risque: pourcentage_risque),
      description: t(".callout.description", pourcentage_risque: pourcentage_risque),
      classes: classes.push("fr-mb-0")
    ) %>
  </div>

</div>
