<div id="diag-risques-entrerpise">
  <h2 class="evaluation__titre"><%= t(".titre") %></h2>
  <%= render Evaluation::MesureChiffreCleComponent.new(
    palier: risques_presenter.palier,
    prefixe: t(".prefixe"),
    chiffre: "#{risques_presenter.pourcentage_risque} %",
    explications: {
      texte: t(".explication.texte.#{risques_presenter.lettre}"),
      suite: t(".explication.suite.#{risques_presenter.lettre}")
    }
  ) %>
</div>