<% profil = place_du_marche ? place_du_marche.profil_numeratie : 'indetermine' %>
<% classes_panel = place_du_marche ? "panel panel--avec-references" : "panel" %>

<div class="<%= classes_panel %>">
  <div class='marges-page'>
    <%= render 'litteratie_numeratie_synthese',
      synthese: synthese,
      scope: "admin.evaluations.numeratie.#{profil}",
      icone: "icone_profil/icone_#{profil}.svg",
      pdf: pdf %>
    <% if place_du_marche %>
      <%= render 'admin/evaluations/positionnement/sous_competences',
          sous_competences: place_du_marche.competences_numeratie,
          competence: :numeratie %>
    <% end %>
  </div>
  <% if !pdf && place_du_marche %>
    <% route = admin_positionnement_partie_reponses_path(partie_id: place_du_marche.partie.id)%>
    <%= render partial: 'telechargement_reponses', locals: { route: route } %>
  <% end %>
</div>
