<%# frozen_string_literal: true %>
<div class="fr-tile fr-tile--download fr-enlarge-link" id="tile-6735">
  <div class="fr-tile__body">
      <div class="fr-tile__content">
          <h3 class="fr-tile__title">
              <a href="<%= route %>" download>Télécharger les réponses détaillées</a>
          </h3>
          <p class="fr-tile__detail">Données brutes au format XLS</p>
      </div>
  </div>
</div>
