<% class_css = campagne_avec_positionnement?(:litteratie) ? "litteratie" : "numeratie" %>
<div>
  <% if restitution_globale.evaluation.evaluation_evapro? %>
    <%= render partial: "admin/evaluations/restitution_globale_evapro", locals: { restitution_globale: restitution_globale, pdf: true } %>
  <% else %>
    <%= render partial: "admin/evaluations/restitution_globale", locals: { restitution_globale: restitution_globale, pdf: true } %>
  <% end %>
</div>
