<div class='bloc-questionnaires-entreprise bloc-apercu'>
  <p class="bloc-questionnaires-entreprise__description"><%= t(".evapro_description") %></p>
  <p class="bloc-questionnaires-entreprise__description_2"><%= t(".evapro_description_2") %></p>
  <div class="bloc-questionnaires-entreprise__grid">
    <% campagnes.each do |campagne| %>
      <div class="bloc-questionnaires-entreprise__item">
        <% url = LanceurCampagne.url(campagne, current_compte) %>
        <%= render CardDiagnostiqueComponent.new(
          titre: campagne.parcours_type.libelle,
          description: campagne.parcours_type.description,
          precision_detail: t(".precision_detail", opco_nom: opco.nom),
          bouton_label: t(".bouton_label"),
          bouton_url: url,
          opco: campagne.evapro_opco? ? opco : nil,
          bouton_attributes: { target: "_blank", rel: "noopener" }
        ) %>
      </div>
    <% end %>
  </div>
</div>
