<%= render LienComponent.new(nil, admin_evaluation_path(evaluation)) do %>
  <%= t("admin.evaluations.index_evapro.voir_detail") %>
  <span class="fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
<% end %>
