<div class="page-comparaison">
  <%= render partial: "comparaison_litteratie", locals: { comparaison: comparaison } %>

  <%= render partial: "comparaison_numeratie", locals: { comparaison: comparaison } %>
</div>
