<div class="page-comparaison">
  <%= render partial: "comparaison",
             locals: {
               titre: "Littératie",
               competence: :litteratie,
               sous_competences: Restitution::SousCompetence::Litteratie::LISTE,
               tableau: comparaison.tableau_comparaison(:litteratie)
             } %>
  <%= render partial: "comparaison",
            locals: {
              titre: "Numératie",
              competence: :numeratie,
              sous_competences: Restitution::SousCompetence::Numeratie::LISTE,
              tableau: comparaison.tableau_comparaison(:numeratie)
            } %>

  <% route = admin_beneficiaire_comparaison_download_pdf_path(evaluation_ids: params[:evaluation_ids], format: :pdf) %>
  <div class="fr-tile fr-tile--download fr-enlarge-link" id="tile-6735">
    <div class="fr-tile__body">
        <div class="fr-tile__content">
            <h3 class="fr-tile__title">
                <a href="<%= route %>" download>Télécharger le comparatif</a>
            </h3>
            <p class="fr-tile__detail">format pdf</p>
        </div>
    </div>
  </div>
</div>
