<% entete_page_args = {
  nom_beneficiaire: beneficiaire.nom,
  code_beneficiaire: beneficiaire.code_beneficiaire,
  structure: structure.nom
} %>

<div class="page-pdf page adaptation-pdf page-comparaison">
  <%= render Pdf::HeaderEvaComparaisonComponent.new(
    nom_beneficiaire: entete_page_args[:nom_beneficiaire],
    code_beneficiaire: entete_page_args[:code_beneficiaire]
  ) %>
  <div class="page__contenu">
    <h2 class="page-comparaison__titre">Comparaison des résultats</h2>

    <%= render partial: "comparaison",
            locals: {
              titre: "Littératie",
              competence: :litteratie,
              sous_competences: Restitution::SousCompetence::Litteratie::LISTE,
              tableau: comparaison.tableau_comparaison(:litteratie)
            } %>
    <%= render partial: "comparaison",
              locals: {
                titre: "Numératie",
                competence: :numeratie,
                sous_competences: Restitution::SousCompetence::Numeratie::LISTE,
                tableau: comparaison.tableau_comparaison(:numeratie)
              } %>
  </div>
</div>

<%= render Evaluation::AnnexePositionnementEvaComponent.new(
  **entete_page_args
) %>
