<% pdf = true %>

<div class="page-pdf page adaptation-pdf page-comparaison">
  <%= render Pdf::EntetePageComponent.new(
    nom_beneficiaire: beneficiaire.nom,
    code_beneficiaire: beneficiaire.code_beneficiaire
  ) %>
  <div class="page-pdf__contenu">
    <h1 class="page-comparaison__titre">Comparaison des résultats</h1>

    <%= render partial: "comparaison",
            locals: {
              pdf: true,
              titre: "Littératie",
              competence: :litteratie,
              sous_competences: Restitution::SousCompetence::Litteratie::LISTE,
              tableau: comparaison.tableau_comparaison(:litteratie)
            } %>
    <%= render partial: "comparaison",
              locals: {
                pdf: true,
                titre: "Numératie",
                competence: :numeratie,
                sous_competences: Restitution::SousCompetence::Numeratie::LISTE,
                tableau: comparaison.tableau_comparaison(:numeratie)
              } %>
  </div>
  <%= render Pdf::PiedPageComponent.new %>
</div>
