<% content_for :title, t(".title") %>
<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<%= render TexteIntroComponent.new(titre: t(".titre"), texte: t(".texte")) %>

<%= form_with url: demo_connect_path do |demo| %>
  <div class="fr-mt-4w"><%= recaptcha_tags %></div>
  <%= demo.submit t(".submit"), class: "fr-mt-4w" %>
<% end %>
