<% content_for :title, t("active_admin.devise.login.title") %>
<% content_for :titre, t("active_admin.devise.login.titre") %>

<div class="nouvelle-session">
  <%= render partial: "active_admin/devise/sessions/partials/connexion" %>
</div>
<script>
  function basculer_login_eva() {
    $(".espace-connexion").toggleClass("hidden");
    $(".espace-connexion").find('#compte_email').select();
    $(".espace-inscription").toggleClass("hidden");
    $(".espace-pro-connect").toggleClass("hidden");
  }
</script>
