<div class="evaluation-aller-plus-loin__les-incontournables">
  <%= render "admin/evaluation_evapros/les_incontournables_intro" %>
  <%= render "admin/evaluation_evapros/les_incontournables_etapes", pdf: local_assigns.fetch(:pdf, false) %>
</div>
