<div class="indicateur-impact">
  <% interpretations_impact.each do |interpretation| %>
    <% resultat = synthese[interpretation] %>
    <div class="indicateur-impact__details">
      <div class="indicateur-impact__details--titre-et-score">
        <div class="indicateur-impact__details-titre">
          <%= t("admin.evaluation_evapros.mesure_des_impacts.labels.#{interpretation}") %>
        </div>
        <% if resultat %>
          <div class="indicateur-impact__details-score">
            <%= render EvaProScoreComponent.new(score: resultat) %>
          </div>
        <% end %>
      </div>
      <div class="indicateur-impact__details--definition">
        <% if resultat %>
          <%= t("admin.evaluation_evapros.mesure_des_impacts.descriptions.#{interpretation}.#{resultat}") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
