@mixin titre() {
  font-family: $font-titre;
  font-weight: bold;
  text-shadow: none;
  color: $grey_50;
  margin: 0;
}

@mixin titre-carte() {
  @include annule-carte;
  @include titre;

  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 0;
}

@mixin h1() {
  font-size: 2.25rem;
  line-height: 2.813rem;
}

@mixin h2() {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

@mixin h3() {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin h6() {
  font-family: $font-titre;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin h1-xl() {
  font-family: Quicksand, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

@mixin h2-lg() {
  color: var(--color-text-title, #161616);
  font-family: var(--Titres-Font, Quicksand);

  @include dsfr-titre-lg;
}

@mixin h3-md-desktop() {
  font-family: Quicksand, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@mixin h4-sm() {
  font-family: var(--Titres-Font, Quicksand);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

@mixin h5-xs() {
  color: var(--color-text-title, #161616);
  font-family: var(--Titres-Font, Quicksand);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
}

/* @deprecated */
@mixin h5-xs-desktop() {
  @include h5-xs;
}

@mixin h6-xxs() {
  color: var(--light-decisions-text-text-title-grey, #161616);
  font-family: var(--Titres-Font, Quicksand);
  font-size: var(--Titres-H6---XXS-Size, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Titres-H6---XXS-Line-Height, 28px);
}

/* @deprecated */
@mixin h6-xxs-desktop() {
  @include h6-xxs;
}


// Taille "titre"
@mixin dsfr-titre-sm() {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin dsfr-titre-md() {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@mixin dsfr-titre-lg() {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

@mixin dsfr-titre-xl() {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

@mixin dsfr-titre-2xl() {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
