.ui-helper-hidden-accessible {
  visibility: hidden;
}

.admin_recherche_structure {
  .recherche_structure {
    .sous-panel {
      @include carte-avec-bordure();
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem .75rem;
      align-items: flex-start;

      .infos {
        max-width: 16.25rem;
        .sous-infos {
          margin-top: .75rem;
          color: $couleur-texte;
          font-size: .75rem;
        }
      }

      a {
        @include bouton-carte($couleur-legere-accent-validation, $eva_dark);
      }
    }

    form {
      display: flex;
    }
    form + .sous-panel {
      margin-top: 1rem;
    }

    .label-champ-recherche {
      font-size: .875rem;
      margin-bottom: .5rem;
      display: block;
    }

    .champ-recherche {
      flex-grow: 1;
      margin-right: .5rem;

      &--geographique {
        background-image: image-url('punaise-recherche.svg');
      }
    }

    .description-liste-structures {
      margin-bottom: 1rem;
      color: $eva_main_blue;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
    }

    .creer-structure {
      @include bouton-arrondi;
      color: $eva_dark;
      background-color: $couleur-warning;
      border: none;
    }
  }
}
