.aide {
  $grid-columns:      8;
  $grid-gutter-width: 1.25rem;
  $largeur-conteneur: 1220px;
  @import "bootstrap";
  @include make-container();
  max-width: $largeur-conteneur;
}

.aide_titre {
  @include titre-carte;
  padding-top: 0;
  padding-left: 0;
}

.contenu_aide {
  padding-bottom: 10vh;
}
