.aide__contact {
  @include carte-avec-ombre;

  padding: 1rem 1.5rem;
  margin-bottom: 3.75rem;
  position: relative;
  font-size: 0.875rem;
  color: $couleur-texte;
  p:last-child {
    margin-bottom: 0;
  }
  a {
    color: $couleur-texte;
  }
  .contact {
    &__description {
      width: 46.20%;
    }
    &__support {
      @include carte-avec-ombre;

      width: 42%;
      padding: 1rem 1.5rem;
      position: absolute;
      top: -1.5rem;
      right: 1.625rem;
      border-radius: 1rem;
      transform: rotate(3deg);
      background-color: $eva_bluegrey;
    }
  }
  .support {
    &__logo,
    &__titre h4 {
      display: inline-block;
      vertical-align: bottom;
      font-size: .875rem;
    }
    &__titre {
      margin-bottom: 1.6rem;
      h4 {
        margin-left: 0.625rem;
      }
    }
    &__logo {
      width: 2.875rem;
      height: 2.375rem;
    }
  }
}
