.aide__contact {
  @include carte;
  padding: 1rem 1.5rem;
  margin-bottom: 3.75rem;
  position: relative;
  font-size: 0.875rem;
  color: $couleur-texte-sombre;
  p:last-child {
    margin-bottom: 0;
  }
  a {
    color: $couleur-blanc;
  }
  .contact {
    &__description {
      width: 46.20%;
    }
    &__support {
      @include carte;
      width: 23.75rem;
      padding: 1rem 1.5rem;
      position: absolute;
      top: -1.5rem;
      right: 1.625rem;
      border-radius: 1rem;
      transform: rotate(3deg);
      background-color: $eva_main_blue;
    }
  }
  .support {
    &__logo,
    &__titre h4 {
      display: inline-block;
      vertical-align: bottom;
    }
    &__titre {
      margin-bottom: 1.6rem;
      h4 {
        @include titre;
        margin-left: 0.625rem;
        font-size: 1.125rem;
        color: $couleur-blanc;
      }
    }
    &__logo {
      width: 2.875rem;
      height: 2.375rem;
    }
  }
}
