.faq {
  $grid-columns:      6;
  $grid-gutter-width: 1.5rem;
  @import "../../../bootstrap_grid";
  @include make-row();

  ul {
    list-style: none;
  }
  .questions {
    @include carte-avec-ombre();
    ul {
      padding: 1.5rem;
      margin: 0;
      li {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.2;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .titre_questions {
    margin: 0;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: $eva_light;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: $eva_main_blue;
  }
  .reponses {
    position: relative;
    font-size: 0.875rem;
    color: $couleur-texte;
  }
  .reponse {
    position: absolute;
    padding-left: inherit;
    padding-right: inherit;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .2s;
    &.active {
      opacity: 1;
      z-index: 1;
    }
    a, a:visited {
      color: $eva_main_blue;
    }
  }
  .titre_reponse {
    margin: 1.25rem 0 2.5rem;
    font-size: 1rem;
    font-family: $font-titre;
    font-weight: bold;
    color: $eva_main_blue;
  }
}
