.sources_aide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 3rem;

  .source_aide {
    @include carte-avec-ombre();
    display: flex;
    padding: 1.5rem;
    color: $eva_dark;
    font-size: .875rem;
    text-decoration: none;

    .illustration {
      margin-right: 1.5rem;
    }

    .titre {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .description {
      font-style: italic;
    }

    .action {
      @include bouton;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }
}
