.sources_aide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 3rem;

  .source_aide {
    @include carte-avec-ombre;

    display: flex;
    padding: 1.5rem;
    color: $couleur-texte;
    font-size: .875rem;
    background-image: none;

    .illustration {
      margin-right: 1.5rem;
      height: 150px;
      width: 111px;
    }

    .details {
      width: 100%;

      .titre {
        font-weight: bold;
        margin-bottom: .5rem;
      }

      .description {
        font-style: italic;
        p {
          line-height: 1rem;
          font-size: .875rem;
        }
      }
    }

    .action {
      @include bouton-secondaire;
      @include tres-petit-bouton;

      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }
}
