.actualites {
  position: relative;
  margin-bottom: 2rem;

  h3 {
    @include titre-carte();
    padding-bottom: 3rem;
  }

  > a {
    position: absolute;
    top: 0.75rem;
    right: 0;
    @include bouton()
  }
}

.carte-actualite {
  @include carte;

  &.complete {
    max-width: 40rem;
  }

  .illustration {
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%
    }
  }

  .texte {
    display: flex;
    margin-bottom: .5rem;
    font-size:0.875rem;
    align-items: center;
    padding: 0 1rem;
    min-height: 3.5rem;

    .action {
      @include bouton-carte($couleur-legere-accent-validation, $couleur-texte-sombre);
    }

    .status_tag {
      margin-right: 1rem;
    }

    .titre {
      color: $couleur-texte-sombre;
      flex: 1;
      margin: 0 .75rem 0 0;
    }

    .date {
      color: $couleur-texte;
      margin-right: .75rem;
    }
  }
}

.derniere-actualite, .complete {
  .texte {
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.9rem 1.45rem 1.25rem;

    .titre {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0.75rem 0 1.5rem;
    }

    .action {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}

.actualite-complete {
  $grid-columns:      8;
  $grid-gutter-width: 1.25rem;
  $largeur-conteneur: 1220px;

  @import "../bootstrap_minimal";
  @include make-container();
  max-width: $largeur-conteneur;
  font-size: .875rem;
  color: $couleur-texte-sombre;

  padding-top: 1.125rem;

  .titre {
    @include titre();
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }

  .illustration {
    img {
      width: 100%;
      @include carte;
    }
    margin-bottom: 2rem;
  }

  .contenu {
    @include make-col(3, 5);
    @include make-col-offset(1, 5);
  }

  .metadonnees {
    @include carte;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;

    .donnee {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
    }

    .label {
      font-weight: bold;
      margin-bottom: .5rem;
    }
  }

  .autres-actualites {
    display: flex;
    flex-direction: column;

    &-titre {
      @include titre();
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .actualite {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .categorie {
        margin-right: 1rem;
      }

      .lien {
        color: $eva_main_blue;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
