.actualite {
  &-contenu,
  &-date {
    font-size: 1rem;
    color: $couleur-texte;
  }
  &-categorie {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.actualites {
  position: relative;
  margin-bottom: 2rem;

  h3 {
    @include titre-carte();
    padding-bottom: 3rem;
  }

  > a {
    position: absolute;
    top: 0.75rem;
    right: 0;
    @include bouton()
  }

  &-liste {
    .actualite {
      @include carte;
      display: flex;
      margin-bottom: .5rem;
      font-size:0.875rem;
      align-items: center;
      padding: 0 1rem;
      min-height: 3.5rem;

      .action {
        @include bouton-carte($couleur-legere-accent-validation, $couleur-texte-sombre);
      }

      .status_tag {
        margin-right: 3.25rem;
      }

      .titre {
        color: $couleur-texte-sombre;
        flex: 1;
        margin: 0 .75rem 0 0;
      }

      .date {
        color: $couleur-texte;
        margin-right: .75rem;
      }
    }

    .derniere-actualite {
      .actualite {
        min-height: auto;
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
        .titre {
          font-size: 1.25rem;
          font-weight: 600;
          margin: 0.75rem 0 1.5rem;
        }
        .action {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
        }
      }
    }
  }
}
