.carte-actualite {
  @include carte-avec-ombre();

  &.complete {
    max-width: 40rem;
  }

  .illustration {
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%
    }
  }

  .texte {
    display: flex;
    margin-bottom: .5rem;
    font-size:0.875rem;
    align-items: center;
    padding: 0 1rem;
    min-height: 3.5rem;

    .action {
      @include bouton-carte($couleur-legere-accent-validation, $eva_dark);
    }

    .status_tag {
      margin-right: 1rem;
    }

    .titre {
      flex: 1;
      margin: 0 .75rem 0 0;
      a {
        color: $eva_dark;
        text-decoration: none;
      }
    }

    .date {
      color: $couleur-texte;
      margin-right: .75rem;
    }
  }
}

.derniere-actualite, .complete {
  .texte {
    min-height: auto;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.9rem 1.45rem 1.25rem;

    .titre {
      font-size: 1.25rem;
      font-weight: 600;
      margin: 0.75rem 0 1.5rem;
    }

    .action {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}

.actualite-complete {
  $grid-columns:      8;
  $grid-gutter-width: 1.25rem;

  @import "../bootstrap_minimal";
  font-size: .875rem;
  color: $eva_dark;

  padding-top: 1.125rem;

  .titre {
    @include titre();
    font-size: 2.25rem;
    margin-bottom: 2rem;
  }

  .illustration {
    img {
      width: 100%;
      @include carte-avec-ombre();
    }
    margin-bottom: 2rem;
  }

  .contenu {
    @include make-col(3, 5);
    @include make-col-offset(1, 5);
    padding: 0 .625rem;

    img, iframe, blockquote {
      width: calc(100% + 2.5rem);
      border-radius: .5rem;
      margin: 0 -1.25rem;
    }

    a {
      color: $eva_main_blue;
    }
  }

  .metadonnees {
    @include carte-avec-ombre();
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;

    .donnee {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
    }

    .label {
      font-weight: bold;
      margin-bottom: .5rem;
    }
  }

  .autres-actualites {
    display: flex;
    flex-direction: column;

    &-titre {
      @include titre();
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .actualite {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .categorie {
        margin-right: 1rem;
      }

      .lien {
        color: $eva_main_blue;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
