@mixin lien-dsfr {
  --hover-tint: var(--idle);
  --active-tint: var(--active);

  color: inherit;
  text-decoration: var(--text-decoration);
}

#header {
  h1 a, ul.tabs > li a {
    background-image: none;
  }
}
ul {
  list-style-type: var(--ul-type);
  padding-left: var(--ul-start);
  margin: var(--text-spacing);
}
ol > li::marker {
  content: none;
}
a, a:link, a:visited {
  text-decoration: none;
}

a.pas-souligne {
  background-image: none;
}

.tarteaucitronSelfLink {
    background-image: none;
    &::after {
      display: none;
    }
}

.fr-skiplinks {
  z-index: 99; // nécessaire pour positionner au dessus du breadcumb en version mobile
}

// Evapro admin: ajustements layout DSFR dans ActiveAdmin
body.logged_in.evapro_admin {
  &::before,
  &::after {
    display: none;
  }

  .fr-header .fr-container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // Annule la contrainte de largeur du header AA
  .header {
    max-width: none;
    margin: 0;
  }

  #title_bar {
    display: none;
  }

  #title_bar,
  #active_admin_content {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// Fix conflit entre l'accordeon et les boutons
.fr-accordion__btn {
  font-family: $font-titre;
  border-radius: unset;
  border-color: unset;
  border-top-color: unset;
  border-right-color: unset;
  border-bottom-color: unset;
  border: unset;

  &, &:not(.disabled):hover {
    font-weight: bold !important;
  }

  &:not(.disabled):hover {
    font-weight: 500;
    background-color: var(--hover-tint);
  }

  &:active, &:not(.disabled):active {
    background-color: var(--active-tint);
    box-shadow: unset;
    background-image: unset;
  }

  &:-moz-focusring { // pour contrer le normalize d'activeadmin
    @include focus;
  }
}

// Fix conflit entre la table (DSFR) et la table d'ActiveAdmin
.fr-table__content table {
  margin-bottom: unset;
}

// Fix conflit entre les tuiles (DSFR) et la règle d'ActiveAdmin : .section > div, .panel > div
.fr-tile {
  padding: 2rem 2rem 2.25rem !important;
}

.fr-alert__title {
  margin-bottom: $dsfr-spacing-1v;
}

.fr-alert p:last-child {
  margin-bottom: 0;
}

.fr-toggle__label {
  display: flex !important;
  padding-right: 0;
}

.text-grey-425 {
  color: $grey-425;
}

.fr-badge {
  font-weight: 600 !important;
  margin: 0;
}

.fr-badge--grey-950 {
  color: $grey-425;
  background-color: $grey-950;
}

.fr-fieldset__element .fr-checkbox-group--sm input[type="checkbox"] + label::before {
  margin-top: 0;
}

.fr-modal__content {
  margin-bottom: 0 !important;
}

.fr-modal__body {
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}
button.fr-link--close.fr-link {
  border: none;
  box-shadow: none;
}

button.fr-link--close.fr-link:hover {
  background-color: $grey-1000-hover;
  cursor: pointer;  
  border-radius: 0;
}

.fr-modal__footer {
  display: flex;
  padding-top: $dsfr-spacing-8v;
  margin: 0;
}

.fr-modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;
}

.fr-modal.fr-modal--opened {
  display: flex; 
}

.fr-modal__content ul {
  list-style-type: var(--ul-type);
  padding: 0;
  padding-inline-start: var(--ul-start);
}

.body.logged_out #wrapper .fr-modal__content ul li, 
.fr-modal__content ul li {
  float: none;

  --xl-base: calc(var(--xl-size) * 0.9);

  padding-bottom: var(--li-bottom);
  font-size: 1rem;
  line-height: 1.5rem;
}

.fr-modal__footer .fr-btns-group {
  gap: 1rem;
  margin: 0;
}

body.logged_in:not(.evapro_admin) .fr-btn {
  @include grand-bouton;
  @include bouton-primaire;
  &.bouton-secondaire {
    @include bouton-secondaire;
  }
  
  &:disabled {
    @include bouton-disabled;
  }
}

body.logged_in:not(.evapro_admin) a.fr-btn {
  color: $eva_light !important;
}

body.evapro_admin a:not(.fr-btn),
body.evapro_admin a:link:not(.fr-btn),
body.evapro_admin a:visited:not(.fr-btn),
.evapro_admin a:not(.fr-btn),
.evapro_admin a:link:not(.fr-btn),
.evapro_admin a:visited:not(.fr-btn) {
  text-decoration: none;
}

body.evapro_admin .fr-btn:not(.fr-btn--secondary, .fr-btn--tertiary),
.evapro_admin .fr-btn:not(.fr-btn--secondary, .fr-btn--tertiary) {
  color: var(--text-inverted-blue-france);
}

body.evapro_admin .fr-btn--secondary,
body.evapro_admin .fr-btn--tertiary,
.evapro_admin .fr-btn--secondary,
.evapro_admin .fr-btn--tertiary {
  color: var(--light-decisions-text-text-action-high-blue-france, #000091);
}

body.evapro_admin .fr-btn--tertiary:hover,
.evapro_admin .fr-btn--tertiary:hover {
  background: var(--light-decisions-background-background-transparent-hover, rgba(0, 0, 0, 0.04));
}

// Fix pour fr-card__end : espacement du bouton dans les cards DSFR
.fr-card__end {
  padding-bottom: 1.5rem;
  margin-top: auto;
}

// S'assurer que le titre de la card est en noir
.fr-card__title {
  color: $eva_dark_blue_grey;
  
  .fr-card__link {
    color: $eva_dark_blue_grey;
    
    &:hover {
      color: $eva_dark_blue_grey;
    }
  }
}

.fr-stepper {
  margin-bottom: $dsfr-spacing-0 !important;
}

.fr-footer a {
  @include lien-dsfr;
}

.fr-footer__partners-main {
  gap: $dsfr-spacing-8v;
}

.fr-footer__partners .fr-footer__logo {
  box-shadow: none;
  background-color: transparent;
}

body.logged_out h3.fr-footer__top-cat,
body.logged_in h3.fr-footer__top-cat {
  font-family: $font-texte;
  color: var(--text-title-grey);
  display: block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin: 0 0 .75rem;
  text-align: left;
}
body.logged_out h2.fr-footer__partners-title,
body.logged_in h2.fr-footer__partners-title {
  font-family: $font-texte;

  --title-spacing: 0 0 0.75rem 0;

  color: var(--text-default-grey);
  flex-basis: 100%;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.fr-footer__partners-sub {
  ul {
    margin-bottom: 0;
  }
}
