#header {
  h1 a, ul.tabs > li a {
    background-image: none;
  }
}
ol > li::marker {
  content: none;
}
a, a:link, a:visited {
  text-decoration: none;
}
.tarteaucitronSelfLink {
    background-image: none;
    &::after {
      display: none;
    }
}
