#header {
  h1 a, ul.tabs > li a {
    background-image: none;
  }
}
ul {
  list-style-type: var(--ul-type);
  padding-left: var(--ul-start);
  margin: var(--text-spacing);
}
ol > li::marker {
  content: none;
}
a, a:link, a:visited {
  text-decoration: none;
}

a.pas-souligne {
  background-image: none;
}

.tarteaucitronSelfLink {
    background-image: none;
    &::after {
      display: none;
    }
}

.fr-skiplinks {
  z-index: 99; // nécessaire pour positionner au dessus du breadcumb en version mobile
}

// Fix conflit entre l'accordeon et les boutons
.fr-accordion__btn {
  font-family: $font-titre;

  border-radius: unset;
  border-color: unset;
  border-top-color: unset;
  border-right-color: unset;
  border-bottom-color: unset;
  border: unset;

  &, &:not(.disabled):hover {
    font-weight: bold !important;
  }

  &:not(.disabled):hover, &:not(.disabled):hover {
    font-weight: 500;
    background-color: var(--hover-tint);
  }

  &:active, &:not(.disabled):active {
    background-color: var(--active-tint);
    box-shadow: unset;
    background-image: unset;
  }

  &:-moz-focusring { // pour contrer le normalize d'activeadmin
    @include focus();
  }
}

// Fix conflit entre la table (DSFR) et la table d'ActiveAdmin
.fr-table__content table {
  margin-bottom: unset;
}

// Fix conflit entre les tuiles (DSFR) et la règle d'ActiveAdmin : .section > div, .panel > div
.fr-tile {
  padding: 2rem 2rem 2.25rem !important;
}

.fr-alert__title {
  margin-bottom: 4px;
}

.fr-toggle__label {
  display: flex !important;
}

.text-grey-425 {
  color: $grey-425;
}

.fr-badge {
  font-weight: 600 !important;
  margin: 0;
}

.fr-badge--grey-950 {
  color: $grey-425;
  background-color: $grey-950;
}

.fr-fieldset__element .fr-checkbox-group--sm input[type=checkbox] + label:before {
  margin-top: 0;
}

.fr-modal__content {
  margin-bottom: 0 !important;
}
button.fr-link--close.fr-link {
  border: none;
  box-shadow: none;
}

button.fr-link--close.fr-link:hover {
  background-color: $grey-1000-hover;
  cursor: pointer;  
  border-radius: 0;
}

.fr-modal__footer {
  display: flex;
  padding: $dsfr-spacing-12v $dsfr-spacing-0 $dsfr-spacing-8v $dsfr-spacing-0;
  justify-content: flex-end;
  align-items: center;
  gap: $dsfr-spacing-4v;
  align-self: stretch;
}

.fr-modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;
}

.fr-modal.fr-modal--opened {
  display: flex; 
}

.fr-btn {
  @include grand-bouton();
  @include bouton-primaire();
  &.bouton-secondaire {
    @include bouton-secondaire();
  }
  
  &:disabled {
    @include bouton-disabled;
  }


}

a.fr-btn {
  color: $eva_light !important;
}

// Fix pour fr-card__end : espacement du bouton dans les cards DSFR
.fr-card__end {
  padding-bottom: 1.5rem;
  margin-top: auto;
}

// S'assurer que le titre de la card est en noir
.fr-card__title {
  color: $eva_dark_blue_grey;
  
  .fr-card__link {
    color: $eva_dark_blue_grey;
    
    &:hover {
      color: $eva_dark_blue_grey;
    }
  }
}

