.bg-erreur {
  color: $error-425;
  background-color: $error-950;
  a, h4 {
    color: $error-425;
  }
}

.bg-alerte {
  color: $warning-425;
  background-color: $warning-950;
  a, h4 {
    color: $warning-425;
  }
}

.bg-information {
  color: $info-425;
  background-color: $info-950;
  a, h4 {
    color: $info-425;
  }
}
