.mon-compte {
  $grid-columns:      6;
  $grid-gutter-width: 1.25rem;
  @import "../bootstrap_minimal";

  .titre {
    @include titre();
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .introduction-image {
    width: 16.75rem;
    right: 0;
  }

  table {
    margin-bottom: 0;
    .row {
      display: table-row;
      th, td {
        font-size: 0.875rem;
        border: 0;
        color: $eva_dark;
      }
      th {
        font-weight: normal;
        text-transform: none;
      }
    }
  }
}
