body.logged_in {
  .flashes {
    display: flex;
    flex-direction: column-reverse;
  }
  .flash {
    &_annonce_generale,
    &_comptes_en_attente {
      @include ombre();
      background-color: $couleur-warning;
      color: $eva_dark;
      background-image: none;
      text-shadow: none;
      font-size: 0.8rem;
      font-weight: 500;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      min-height: 2rem;
      border: none;

      &::before {
        background-image: asset-data-url('annonce_generale.svg');
        content: '';
        display: inline-block;
        height: 2rem;
        min-width: 2rem;
        background-position: center;
        background-repeat: no-repeat;
      }

      a {
        color: $eva_dark;
      }
    }

    &:first-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}

.bloc-apercu {
  margin-bottom: 2rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    h3 {
      @include titre-carte;
      margin-bottom: 0;
    }

    > a {
      @include bouton;
      display: inline-block;
    }
  }
}

.evaluations-premiere-visite {
  @include carte-avec-ombre();
  padding-top: 1.375rem;
  overflow: hidden;
  text-align: center;
  border: 2px solid $couleur-warning;
  background-color: $eva_light;
  .premiere-visite {
    &-illustration {
      font-size: 0;
      h4 {
        @include titre;
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
      }
    }
    &-action {
      padding: 1.5rem;
      background-color: #fff;
      p,
      .action {
        color: $eva_dark;
      }
      p {
        font-size: 0.875rem;
      }
      .action {
        @include bouton;
        display: inline-block;
        font-size: 0.75rem;
        color: $eva_dark;
        background-color: $couleur-warning;
      }
    }
  }
}
