body.logged_in {
  .flash.flash_annonce_generale {
    background-color: $couleur-warning;
    color: $couleur-texte-sombre;
    background-image: none;
    text-shadow: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 2rem;

    &::before {
      background-image: asset-data-url('annonce_generale.svg');
      content: '';
      display: inline-block;
      height: 2rem;
      min-width: 2rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    a {
      color: $couleur-texte-sombre;
    }
  }

  .flash:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

.bloc-apercu {
  position: relative;
  margin-bottom: 2rem;

  h3 {
    @include titre-carte;
    padding-bottom: 3rem;
  }

  > a {
    position: absolute;
    top: 0.75rem;
    right: 0;
    @include bouton()
  }
}
