.sidebar_section {
  form.filter_form {
    .filter_form_field {
      &.select_and_search {
        input[type='text'] {
          width: 4.75rem;
        }
      }
      &.filter_date_range {
        input[type='text'] {
          width: 6.62rem;
        }
      }
    }
    .input:not(.select_and_search) {
      select {
        width: 100%;
      }
    }
  }
}
