.sidebar_section {
  label {
    text-transform: none;
    font-weight: normal;
    color: $couleur-texte;
  }
  form.filter_form {
    .filter_form_field {
      &.select_and_search {
        input[type='text'] {
          width: 4.75rem;
        }
      }
      &.filter_date_range {
        input[type='text'] {
          width: 6.62rem;
        }
      }
    }
    .input:not(.select_and_search) {
      select {
        width: 100%;
      }
    }
    ::placeholder,
    input[type='text'],
    .select2-results__option {
      color: $couleur-texte;
    }

    .select2-container--default .select2-selection--single {
      border-color: $bluegrey;
      .select2-selection__arrow b {
        border-color: $couleur-principale transparent transparent transparent;
      }
      .select2-selection__rendered {
        color: $couleur-texte;
      }
    }
    .buttons {
      input[type='submit'],
      .clear_filters_btn {
        padding: 0.44rem 0.94rem;
        font-family: $font-texte;
        font-weight: normal;
        text-shadow: none;
        border: none;
        background: none;
      }
      input[type='submit'] {
        background-color: $couleur-principale;
      }
      .clear_filters_btn {
        margin-right: 0;
        border: 1px solid $couleur-principale;
        color: $couleur-principale;
        background-color: #fff;
      }
    }
  }
}
