/* Marianne-regular - latin-ext */
@font-face {
  font-family: 'Marianne';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       font-url('Marianne-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('Marianne-Regular.woff') format('woff'), /* Modern Browsers */
}

/* Marianne-bold - latin-ext */
@font-face {
  font-family: 'Marianne';
  font-style: bold;
  font-weight: 700;
  src: local(''),
       font-url('Marianne-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('Marianne-Bold.woff') format('woff'), /* Modern Browsers */
}

/* quicksand-regular - latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: font-url('quicksand-v21-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('quicksand-v21-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('quicksand-v21-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('quicksand-v21-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       font-url('quicksand-v21-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('quicksand-v21-latin-ext-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-600 - latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: font-url('fonts/quicksand-v21-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('quicksand-v21-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('quicksand-v21-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('quicksand-v21-latin-ext-600.woff') format('woff'), /* Modern Browsers */
       font-url('quicksand-v21-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('quicksand-v21-latin-ext-600.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-700 - latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: font-url('quicksand-v21-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('quicksand-v21-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('quicksand-v21-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('quicksand-v21-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       font-url('quicksand-v21-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('quicksand-v21-latin-ext-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* work-sans-regular - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: font-url('work-sans-v8-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('work-sans-v8-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('work-sans-v8-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('work-sans-v8-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       font-url('work-sans-v8-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('work-sans-v8-latin-ext-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-500 - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: font-url('work-sans-v8-latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('work-sans-v8-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('work-sans-v8-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('work-sans-v8-latin-ext-500.woff') format('woff'), /* Modern Browsers */
       font-url('work-sans-v8-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('work-sans-v8-latin-ext-500.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-600 - latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: font-url('work-sans-v8-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('work-sans-v8-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('work-sans-v8-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('work-sans-v8-latin-ext-600.woff') format('woff'), /* Modern Browsers */
       font-url('work-sans-v8-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('work-sans-v8-latin-ext-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}

/* work-sans-700 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: font-url('work-sans-v8-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       font-url('work-sans-v8-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('work-sans-v8-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       font-url('work-sans-v8-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       font-url('work-sans-v8-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('work-sans-v8-latin-ext-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}

