/* Marianne-regular - latin-ext */
@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/dsfr/fonts/Marianne-Regular.woff2') format('woff2'),
       url('/dsfr/fonts/Marianne-Regular.woff') format('woff');
}

/* Marianne-bold - latin-ext */
@font-face {
  font-family: Marianne;
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/dsfr/fonts/Marianne-Bold.woff2') format('woff2'),
       url('/dsfr/fonts/Marianne-Bold.woff') format('woff');
}
