body.logged_out {
  #content_wrapper #active_admin_content {
     padding: 1rem 1.3rem 1.5rem;
  }
  h2 {
    padding: 0;
    margin: 0 0 1.125rem;;
    font-size: 1.125rem;
    font-family: $font-titre;
    text-shadow: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: none;
    color: $couleur-texte-sombre;
    background: none;
  }
  #login {
    form fieldset {
      &.inputs {
        padding: 1rem;
      }
      &.actions {
        li {
          padding-bottom: 0;
        }
      }

      li {
        clear: both;
      }

      .inline-hints a {
        float: none;
      }
    }
    a {
      margin-top: -1.375rem;
      color: $eva_main_blue;
    }
    br:last-child {
      display: none;
    }
  }
  .flash {
    text-shadow: none;
    font-weight: 600;
    color: $couleur-texte-sombre;
  }
}
