@mixin carte {
  position: relative;
  border-radius: 0.5rem;
  background-color: #fff;
}
@mixin annule-carte {
  box-shadow: none;
  background: none;
  padding: 0;
}
@mixin annule-panel {
  @include annule-carte();

  h3 {
    display: none;
  }
}
@mixin ombre {
  box-shadow: 0px 0px 8px rgba(30, 65, 106, 0.25);
}
@mixin carte-avec-ombre {
  @include carte();
  @include ombre();
}
@mixin carte-avec-bordure {
  @include carte();
  border: 1px solid $eva_bluegrey;
}
@mixin bouton() {
  padding: 0 0.94rem;
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: 2.875rem;
  line-height: 1.875rem;
  color: $eva_light;
  border: 1px solid $eva_main_blue;
  background-color: $eva_main_blue;
  box-shadow: none;
}
@mixin bouton-carte($background-color, $color:$eva_light) {
  background-color: $background-color;
  display: inline-flex;
  border-radius: 0.25rem;
  color: $color;
  text-decoration: none;
  min-width: 3rem;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-size: .75rem;
  box-sizing: border-box;
  line-height: 1rem;
}
@mixin titre() {
  font-family: $font-titre;
  font-weight: bold;
  text-shadow: none;
  color: $eva_dark;
  margin: 0;
}
@mixin titre-carte() {
  @include annule-carte();
  @include titre();
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border: 0;
}
