@import "admin/mixins/cards";
@import "admin/mixins/buttons";
@import "admin/mixins/onboarding";
@import "admin/mixins/panels";
@import "admin/mixins/shadows";
@import "admin/mixins/typography";
@import "admin/mixins/pastille_rouge";
