.section,
.panel,
body.logged_out #content_wrapper #active_admin_content {
  @include carte;
  > h3 {
    @include titre-carte();
  }
  .panel_contents {
    padding: 0 1.2rem 1.5rem;
  }
}

.admin_dashboard {
  .panel {
    box-shadow: unset;
    background-color: transparent;
    h3 {
      font-size: 1.5rem;
    }

    .panel_contents {
      padding-top: 1rem;
      @include carte;
    }
  }
}
