.section,
.panel,
body.logged_out #content_wrapper #active_admin_content {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(30, 65, 106, 0.5);
  background-color: #fff;
  > h3 {
    margin: 0;
    padding: 1rem 1.5rem;
    font-family: $font-titre;
    font-size: 1.12rem;
    border: 0;
    box-shadow: none;
    color: $couleur-texte-sombre;
    background: none;
  }
  .panel_contents {
    padding: 0 1.3rem 1.5rem;
  }
}
