.sources_aide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin-bottom: 3rem;

  &_titre {
    @include titre-carte;
    padding-top: 0;
  }

  .source_aide {
    @include carte;
    display: flex;
    padding: 1.5rem;
    color: $couleur-texte-sombre;
    font-size: .875rem;
    text-decoration: none;

    .illustration {
      margin-right: 1.5rem;
    }

    .titre {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .description {
      font-style: italic;
    }

    .action {
      @include bouton-carte($couleur-legere-accent-validation, $couleur-texte-sombre);
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }
}
