table.index_table {
  font-size: 0.875rem;
  border-spacing: 0 0.5rem;
  thead {
    th {
      font-weight: normal;
      border: 0;
      box-shadow: none;
      color: $couleur-texte;
      background: none;
      &:last-child {
        border-right: 0;
        width: 1px;
      }
      &.sorted-asc,
      &.sorted-desc {
        background: none;
      }
      a,
      a:link,
      a:visited {
        color: $couleur-texte;
      }
    }
  }
  tbody {
    tr {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 0.5rem rgba(30, 65, 106, 0.5);

      &.even {
        td {
          background: none;
        }
      }

      td {
        height: 1.875rem;
        line-height: 1.2;
        border-bottom: 0;
        vertical-align: middle;
        border-top: 1px solid $bluegrey;
        border-bottom: 1px solid $bluegrey;
        color: $couleur-texte-sombre;
        &:first-child {
          font-weight: 600;
          padding-left: 1.375rem;
          border-left: 1px solid $bluegrey;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        &:last-child {
          border-right: 1px solid $bluegrey;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
        a {
          color: $couleur-principale;
        }
        &.col-actions {
          .table_actions {
            display: flex;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0.25rem 0.5rem;
              color: $couleur-blanc;
              margin: 0.2rem;
              border-radius: 1rem;
              text-decoration: none;
              background-color: $couleur-texte;
              min-width: 3rem;

              &.view_link {
                background-color: $couleur-legere-accent-validation;
              }
              &.edit_link {
                background-color: $couleur-principale;
              }
              &.delete_link {
                background-color: $couleur-accent-erreur;
              }
            }
          }
        }
      }
    }
  }
}
