table.index_table {
  font-size: 0.875rem;
  border-spacing: 0 0.5rem;
  thead {
    th {
      font-weight: normal;
      border: 0;
      box-shadow: none;
      color: $couleur-texte;
      background: none;
      &:last-child {
        border-right: 0;
        width: 1px;
      }
      &.sorted-asc,
      &.sorted-desc {
        background: none;
      }
      a,
      a:link,
      a:visited {
        color: $couleur-texte;
      }
    }
  }
  tbody {
    tr {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 0.5rem rgba(30, 65, 106, 0.5);
      td {
        height: 1.875rem;
        line-height: 1.2;
        border-bottom: 0;
        vertical-align: middle;
        color: $couleur-texte-sombre;
        a { color: $couleur-principale; }
        &:first-child {
          font-weight: 600;
          padding-left: 1.375rem;
        }
        &.col-actions {
          padding: 0;
          .table_actions {
            display: flex;
            align-content: stretch;
            height: 100%;
            overflow: hidden;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            background-color: $bluegrey;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0;
              padding: 0 0.5rem;
              color: #fff;
              background-color: $couleur-texte;
              &.view_link {
                background-color: $couleur-legere-accent-validation;
                min-width: 3rem;
              }
              &.edit_link {
                min-width: 3.5rem;
                background-color: $couleur-principale;
              }
              &.delete_link {
                min-width: 4.5rem;
                background-color: $couleur-accent-erreur;
              }
            }
          }
        }
      }
      &.even {
        td {
          background: none;
        }
      }
    }
  }
}
