h1 {
  @include titre;
  font-size: 2.25rem;
  color: $eva_main_blue;
  margin-bottom: 2rem;
}

h2 {
  @include titre;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  @include titre-carte;
  margin-bottom: 1rem;
}

h4 {
  @include titre;
  font-size: 1.125rem;
}

h5 {
  @include titre;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
