h1 {
  @include titre;
  @include ancien-titre-h1;

  color: $eva_main_blue;
  margin-bottom: 2rem;
}

// h2 et h3 ont le même font-size de 1.5rem
// notre h3 devrait donc faire 1.25rem
// utiliser @include titre-h3 pour les h3

h2 {
  @include titre;
  @include ancien-titre-h2;

  margin-bottom: 1rem;
}

h3 {
  @include titre-carte;

  margin-bottom: 1rem;
}

h4 {
  @include titre;

  font-size: 1.125rem;
}

h5 {
  @include titre;

  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

h6 {
  @include titre;
  @include ancien-titre-h6;
}

.body-sm {
  @include corps-de-texte-sm-regular;
}

.h6-xxs {
  @include titre-h6;
}

.body-xs {
  @include corps-de-texte-xs-regular;
}
