.bord-rouge {
  border: 2px solid $warning-425;
}

.supprime-espace-derniere-balise {
  *:last-child{
    margin-bottom: 0;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

@mixin tronque() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
