.bord-rouge {
  border: 2px solid $eva_red;
}

.supprime-espace-derniere-balise {
  *:last-child{
    margin-bottom: 0px;
  }
}

.fw-semi-bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

@mixin tronque() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte--deroulee {
  border-radius: .5rem .5rem 0 0;
}
