$eva_main_blue: #6E84FE;
$eva_dark_green: #0C826D;
$eva_green: #9ADBD0;
$eva_dark_orange: #E4912F;
$eva_orange: #FDAF54;
$eva_red: #fd5c54;
$eva_dark: #1E416A;
$eva_dark_blue_grey: #7B83B0;
$eva_bluegrey: #D6DAEC;
$eva_light: #FBF9FA;

$anlci_orange: #fc5d5d; // Couleur officielle : nacarat

$couleur-texte: $eva_dark_blue_grey;
$couleur-liens: $eva_main_blue;
$couleur-accent-erreur: $eva_red;
$couleur-warning: $eva_orange;
$couleur-legere-accent-validation: $eva_green;

$border-radius: .75rem;

$couleur-niveau-indetermine: $eva_bluegrey;
$couleur-niveau-1: $couleur-legere-accent-validation;
$couleur-niveau-2: $couleur-warning;
$couleur-niveau-3: $couleur-accent-erreur;

$container: 1220px;
$sidebar-width: 290px;
$section-padding: 10px;

$grid-gutter-width: 3rem;

$font-titre: 'Quicksand';
$font-texte: 'Work Sans';

$theme-colors: (
  "primary": $eva_main_blue,
  "warning": $eva_dark_orange,
  "orange": $eva_orange,
  "succes": $eva_green,
  "active": $eva_light,
  "desactive": $eva_bluegrey
);

// Variables pour ActiveAdmin
$link-color: $eva_main_blue;

$spacer: 1rem;
$spacers: (
  6: ($spacer * 2)
)
