@import "admin/variables/colors";
@import "admin/variables/sizes";
@import "admin/variables/spacings";
@import "admin/variables/fonts";
@import "admin/variables/typographies";

$border-radius: .75rem;
$border-radius-sm: $dsfr-radius-sm;

$container: 1220px;
$sidebar-width: 290px;
$section-padding: 10px;

$grid-gutter-width: $dsfr-spacing-4v;

$numeratie-component-margin: $dsfr-spacing-8v 0;

$spacer: $dsfr-spacing-4v;
$spacers: (
  6: ($spacer * 2)
);
