:scheduler:
  :schedule:
    anonymisations_evaluations_job:
      cron: '0 1 * * *'
      class: AnonymisationBeneficiairesJob
      description: Anonymise les bénéficiaires qui ont des évaluations de plus d'un an. (job exécuté chaque jour)
      enabled: true
    notification_admin_job:
      cron: '0 9 * * 1'
      class: NotificationAdminComptesEnAttenteJob
      description: Notifie à l'administrateur toutes les semaines des comptes en attentes
      enabled: true
    structure_assigne_region_job:
      cron: '0 1 * * *'
      class: Structure::AssigneRegionJob
      description: Assigne les régions pour les structures sans région.
      enabled: true
    reinitialise_compte_demo_job:
      cron: '30 1 * * *'
      class: ReinitialiseCompteDemoJob
      description: Efface les campagnes, évaluations et bénéficiaires du compte de démo
      enabled: true
    nettoyage_evaluations_job:
      cron: '0 2 * * *'
      class: NettoyageEvaluationsJob
      description: Efface réellement les parties des évaluations effacées
      enabled: true
