:queues:
  - default
  - [active_storage_transform, 3]
  - [active_storage_analysis, 1]
  - [active_storage_purge, 1]

:scheduler:
  :schedule:
    anonymisations_evaluations_job:
      cron: '0 1 * * *'
      class: AnonymisationBeneficiairesJob
      description: Anonymise les bénéficiaires qui ont des évaluations de plus d'un an. (job exécuté chaque jour)
      enabled: true
    notification_admin_job:
      cron: '0 9 * * 1'
      class: NotificationAdminComptesEnAttenteJob
      description: Notifie à l'administrateur toutes les semaines des comptes en attentes
      enabled: true
    structure_assigne_region_job:
      cron: '0 1 * * *'
      class: Structure::AssigneRegionJob
      description: Assigne les régions pour les structures sans région. (job exécuté chaque jour)
      enabled: true
    reinitialise_compte_demo_job:
      cron: '0 2 * * *'
      class: ReinitialiseCompteDemoJob
      description: Efface les campagnes, évaluations et bénéficiaires du compte de démo (job exécuté chaque jour)
      enabled: true
    nettoyage_comptes_structure_demo_job:
      cron: '30 1 * * *'
      class: NettoyageComptesStructureDemoJob
      description: Efface les comptes en attente dans la structure de démo ANLCI
      enabled: true
