<div id="evaluation-aller-plus-loin" class="evaluation-aller-plus-loin">
  <h2 class="evaluation__titre fr-mb-0"><%= t(:titre, scope: [  :admin, :evaluations, :aller_plus_loin  ]) %></h2>
  <%= render "admin/evaluations/evapro/les_incontournables" %>
  <%= render "admin/evaluations/evapro/definitions_des_impacts" %>
</div>
