<% apl = [  :admin, :evaluations, :aller_plus_loin  ] %>
<% etapes = [  *apl, :etapes  ] %>
<% bao_incontournables = "https://www.bao-incontournables.fr" %>
<% etapes_cartes = [
     {
       numero: "01",
       titre_cle: :informe,
       image: "incontournables/jinforme 1.svg",
       couleur_fond: "#DCE2E7",
       couleur_texte: "#3272AD",
       url: "#{bao_incontournables}/etape-1-informer/"
     },
     {
       numero: "02",
       titre_cle: :implique,
       image: "incontournables/jimplique 1.svg",
       couleur_fond: "#F1E5E1",
       couleur_texte: "#F79676",
       url: "#{bao_incontournables}/etape-2-impliquer/"
     },
     {
       numero: "03",
       titre_cle: :repere,
       image: "incontournables/je-repere-et-jidentiie 1.svg",
       couleur_fond: "#F1E5E1",
       couleur_texte: "#F05757",
       url: "#{bao_incontournables}/etape-3-reperer-identifier/"
     },
     {
       numero: "04",
       titre_cle: :plan_actions,
       image: "incontournables/jelabore-mon-plan 1.svg",
       couleur_fond: "#E5E9DF",
       couleur_texte: "#7EAB42",
       url: "#{bao_incontournables}/etape-4-elaborer/"
     },
     {
       numero: "05",
       titre_cle: :passe_commande,
       image: "incontournables/je-passe-commande 1.svg",
       couleur_fond: "#EBE6E1",
       couleur_texte: "#F1A131",
       url: "#{bao_incontournables}/etape-5-commander/"
     },
     {
       numero: "06",
       titre_cle: :co_construis,
       image: "incontournables/je-co-construis.svg",
       couleur_fond: "#EDE4EA",
       couleur_texte: "#D077B4",
       url: "#{bao_incontournables}/etape-6-co-construire/"
     },
     {
       numero: "07",
       titre_cle: :forme_salaries,
       image: "incontournables/je-forme-des-salaries.svg",
       couleur_fond: "#F0E7DF",
       couleur_texte: "#F1A131",
       url: "#{bao_incontournables}/etape-7-former/"
     },
     {
       numero: "08",
       titre_cle: :evalue_projet,
       image: "incontournables/illustration.svg",
       couleur_fond: "#E1E8EB",
       couleur_texte: "#61B7CC",
       url: "#{bao_incontournables}/etape-8-evaluer/"
     }
   ] %>
<div class="incontournables-etapes">
  <div class="incontournables-etapes__rangee">
    <% etapes_cartes.first(4).each do |carte| %>
      <% titre = t(carte[:titre_cle], scope: etapes) %>
      <%= render IncontournablesEtapeCardComponent.new(
            numero: carte[:numero],
            titre: titre,
            image_path: carte[:image],
            couleur_texte: carte[:couleur_texte],
            couleur_fond: carte[:couleur_fond],
            image_alt: t(:image_alt_etape, scope: apl, numero: carte[:numero], titre: titre),
            url: carte[:url],
            pdf: local_assigns.fetch(:pdf, false)
          ) %>
    <% end %>
  </div>

  <div class="incontournables-etapes__rangee">
    <% etapes_cartes.drop(4).each do |carte| %>
      <% titre = t(carte[:titre_cle], scope: etapes) %>
      <%= render IncontournablesEtapeCardComponent.new(
            numero: carte[:numero],
            titre: titre,
            image_path: carte[:image],
            couleur_texte: carte[:couleur_texte],
            couleur_fond: carte[:couleur_fond],
            image_alt: t(:image_alt_etape, scope: apl, numero: carte[:numero], titre: titre),
            url: carte[:url],
            pdf: local_assigns.fetch(:pdf, false)
          ) %>
    <% end %>
  </div>
</div>
