<% if impacts_presenter.complet? %>
  <% synthese = impacts_presenter.synthese %>
  <% interpretations_impact = impacts_presenter.interpretations %>

  <% if synthese.values.compact.present? %>
    <div id="evaluation-impact-general">
      <h2 class="evaluation__titre"><%= t(:titre, scope: [  :admin, :evaluations, :mesure_des_impacts  ]) %></h2>
      <div class="fr-pb-0">
        <div class="evaluation-impact-general__resultats">

          <%= render partial: "admin/evaluations/evapro/mesure_des_impacts_chart",
                      locals: { synthese: synthese, interpretations_impact: interpretations_impact } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
