@import "variables";

.admin_restitution_globale, .autopositionnement {
  @media screen {
    #main_content {
      padding-top: 2rem;
    }
  }
  @import "bootstrap_minimal";

  color: $couleur-texte;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .header, .title_bar { display: none; }

  #active_admin_content {
    border-top: none;
    padding-top: 0;
  }

  .panel {
    background-color: white;
  }

  .nom-competence {
    margin-left: 1rem;
  }

  .description-competence {
    font-size: .75rem;
    color: adjust-color($couleur-texte, $alpha: -0.5);
    a {
      text-decoration: none;
      color: adjust-color($couleur-liens, $alpha: -0.5);
    }

    a:hover {
      text-decoration: underline;
      color: $couleur-liens;
    }
  }

  .legende-titre {
    font-size: 20px;
  }

  .competences-identifiees {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;

    .identification-competence {
      .jauge {
        height: 100%;
        width: 40%;
        background-color: $couleur-legere-accent-validation;
        position: absolute;
        border-radius: 2rem;
      }

      .jauge-1 {
        width: 90%
      }
      .jauge-2 {
        width: 80%
      }
      .jauge-3 {
        width: 70%
      }
      .jauge-4 {
        width: 60%
      }
      .jauge-5 {
        width: 50%
      }
      span {
        position: relative;
        img {
          height: 3rem;
        }
      }
    }
  }

  .synthese-illettrisme {
    &-niveau {
      font-size: 1rem;
    }
    &-illustration {
      img {
        margin-right: 0.5rem;
      }
    }
  }

  a {
    color: black;
  }

  .label {
    vertical-align: top;
  }
}


.niveau-competence-base {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 5px;

  &.niveau-indetermine { border: 2px solid $couleur-niveau-indetermine; }
  &.niveau-1 { background-color: $couleur-niveau-1; }
  &.niveau-2 { background-color: $couleur-niveau-2; }
  &.niveau-3 { background-color: $couleur-niveau-3; }
}
