@import "variables";

@mixin applique-theme($couleur) {
  .progress, .btn {
    background: rgba($couleur, .2);
  }
  .progress-bar, .badge, .btn.active {
    background: $couleur;
    border-color: $couleur;
  }
}

.admin_restitution_globale {
  @media screen {
    #main_content {
      padding-top: 2rem;
    }
  }
  @import "bootstrap_minimal";

  color: $couleur-texte;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .header, .title_bar { display: none; }

  h2 {
    margin: 2rem auto;
    .btn {
      border-radius: 1rem;
      background: $couleur-fond-principale;
      border-color: $couleur-fond-principale;
      color: $couleur-texte;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1.125rem 1.5rem;
      color-adjust: exact;
    }

  }

  h3 {
    text-align: center;
  }

  #active_admin_content {
    border-top: none;
    padding-top: 0;
  }

  .progress {
    height: 1.5rem;
    border-radius: $border-radius;
    border: solid 1px #9ebcd5;
    box-shadow: inset 0px 0px 0px 1px #ffffff !important;
    padding: 1px;
    font-size: 0.875rem;
    color-adjust: exact;

    .progress-bar {
      border-radius: $border-radius;
    }
  }

  .badge {
    color: white;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: normal;
    min-width: 3.75rem;
    color-adjust: exact;
  }

  .btn {
    color: white;
    border-radius: $border-radius;
    color-adjust: exact;
    text-shadow: none;
  }

  .btn-group {
    box-shadow: inset 0px 0px 0px 1px #ffffff !important;
    border-radius: $border-radius;
    padding: 1px;

    .btn {
      padding: 0rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  .nom-competence {
    margin-left: 1rem;
  }

  .description-competence {
    font-size: .75rem;
    color: adjust-color($couleur-texte, $alpha: -0.5);
    a {
      text-decoration: none;
      color: adjust-color($couleur-liens, $alpha: -0.5);
    }

    a:hover {
      text-decoration: underline;
      color: $couleur-liens;
    }
  }

  .legende-titre {
    font-size: 20px;
  }

  .inventaire {
    @include applique-theme($couleur-inventaire);
  }

  .controle {
    @include applique-theme($couleur-controle);
  }

  .tri {
    @include applique-theme($couleur-tri);
  }

  .questions {
    @include applique-theme($couleur-questions);
  }

  .reponse-communication-ecrite {
    margin-top: .5rem;
  }

  .competences-identifiees {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;

    .identification-competence {
      .jauge {
        height: 100%;
        width: 40%;
        background-color: $couleur-legere-accent-validation;
        position: absolute;
        border-radius: 2rem;
      }

      .jauge-1 {
        width: 90%
      }
      .jauge-2 {
        width: 80%
      }
      .jauge-3 {
        width: 70%
      }
      .jauge-4 {
        width: 60%
      }
      .jauge-5 {
        width: 50%
      }
      span {
        position: relative;
        img {
          height: 3rem;
        }
      }
    }
  }

  a {
    color: black;
  }

  .label {
    vertical-align: top;
  }
}


.niveau-competence-base {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 5px;

  &.niveau-1 { background-color: $couleur-niveau-1; }
  &.niveau-2 { background-color: $couleur-niveau-2; }
  &.niveau-3 { background-color: $couleur-niveau-3; }
}
