@import "variables";

.panel_admin_restitution_globale {
  background-color: white;
}

.admin-scores {
  margin-top: 1rem;
}

.admin_restitution_globale {
  $grid-gutter-width: 2rem;
  @import "bootstrap_minimal";

  color: $couleur-texte;
  font-size: 1rem;
  font-family: $font-texte;

  .en-tete-page, .pied-page {
    display: none;
  }

  .page {
    border-bottom: thin solid $bluegrey;
  }

  h2 {
    font-family: $font-titre;
    color: $couleur-texte-sombre;
    font-weight: bold;
  }

  h3 {
    font-family: $font-titre;
    color: $couleur-principale;
    font-size: 1rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: $couleur-texte;
    &:hover {
      color: $couleur-texte;
      text-decoration: underline;
    }
  }

  .marges-page {
    margin : 0 3rem;
  }

  .header, .title_bar { display: none; }

  #active_admin_content {
    border-top: none;
    padding-top: 0;
  }

  .autopositionnement {
    color: $couleur-texte-sombre;

    .intitule-question {
      display: flex;
      align-items: center;
    }

    .jauge {
      position: relative;
      background-image: asset-data-url('jauge.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 420px;
      height: 4rem;
    }

    .position-1 { left: -1%; }
    .position-2 { left: 14%; }
    .position-3 { left: 31%; }
    .position-4 { left: 48%; }
    .position-5 { left: 63%; }
    .position-6 { left: 80%; }
    .position-7 { left: 97%; }

    .puce {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      width: 28px;
      line-height: 28px;
      background-image: asset-data-url('puce_jauge.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      font-family: $font-titre;
      font-weight: 600;
      font-size: 1.1rem;
      color: $couleur-blanc;
    }

    .row.question-standard {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .categorie {
      font-size: 1.3rem;
      margin: 2rem 0;
    }

    .reponse {
      color: $couleur-principale;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .legende-titre {
    font-size: 1rem;
    color: $couleur-texte;
    font-weight: normal;
  }

  .competences-transversales-vides {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .competence-transversale {
    margin-left: 1.7rem; // 1/2 largeur de image_competence
    margin-bottom: 3rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .conteneur-jauge {
      position: absolute;
      top: 0;
      left: 0;
      width: 85%;
    }

    .jauge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      border: 1px solid $couleur-texte-sombre;
      border-radius: 0 0.3rem 0.3rem 0;

      &.remplissage {
        background-color: $couleur-texte-sombre;

        &-3 {
          width: 100%;
        }
        &-2 {
          width: 75%;
        }
        &-1 {
          width: 50%;
        }
      }
    }

    .image-competence {
      position: absolute;
      top: 0;
      left: -1.7rem;
      img {
        width: 3.4rem;
      }
    }

    .informations-competence {
      padding: 1.5rem 0 0 5rem;
    }

    .nom-competence {
      font-size: 1.3rem;
    }

    .description-competence {
      a {
        color: $couleur-principale;
      }
    }
  }

  .synthese-illettrisme {
    color: $couleur-blanc;
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin: 2rem 5rem 3rem;

    h3 {
      color: $couleur-blanc;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    img {
      height: 6rem;
    }

    &.illettrisme_potentiel {
      background-color: $couleur-warning;
    }

    &.ni_ni {
      background-color: $couleur-principale;
    }

    &.socle_clea {
      color: $couleur-texte-sombre;
      background-color: $couleur-legere-accent-validation;
      h3 {
        color: $couleur-texte-sombre;
      }
    }
  }

  .stanine-niveau-francais-mathematique {
    color: $couleur-principale
  }

  .col-auto.badge {
    img {
      width: 4.5rem;
      margin-bottom: 1rem;
    }
  }

  .label {
    vertical-align: top;
  }

  .references_restitution_illettrisme {
    width: 100%;
    background-color: $couleur-texte;
    color: $couleur-blanc;
    padding: 1rem 0;

    a {
      color: $couleur-blanc;
    }

    .icone {
      height: 3rem;
    }

    .ordre {
      font-size: 0.8rem;
    }

    .badge-references {
      height: 2rem;
    }

    .lien-references {
      margin-top: 1rem;
    }
  }

  .note-redaction {
    position: relative;
    font-size: 1rem;
    color: $couleur-principale;
    padding: 2.2rem 2rem;
    border: 1px solid $couleur-principale;
    box-sizing: border-box;
    border-radius: 1.8rem;
  }

  .titre-redaction {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }

  .image-redaction {
    position: absolute;
    top: -1.3rem;
    right: 1rem;
    img {
      height: 2.6rem;
    }
  }
}

.niveau-competence-base {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 5px;

  &.niveau-indetermine { border: 2px solid $couleur-niveau-indetermine; }
  &.niveau-1 { background-color: $couleur-niveau-1; }
  &.niveau-2 { background-color: $couleur-niveau-2; }
  &.niveau-3 { background-color: $couleur-niveau-3; }
}
