@import "variables";

.panel_admin_restitution_globale {
  background-color: white;
}

.admin_restitution_globale {
  @import "bootstrap_minimal";

  color: $couleur-texte;
  font-size: 1rem;
  font-family: $font-texte;

  h2 {
    font-family: $font-titre;
    color: $couleur-texte-sombre;
    font-weight: bold;
  }

  h3 {
    font-family: $font-titre;
    color: $couleur-principale;
    font-size: 1rem;
    font-weight: 600;
  }


  .header, .title_bar { display: none; }

  #active_admin_content {
    border-top: none;
    padding-top: 0;
  }

  .panel {
    background-color: white;
  }

  .autopositionnement {
    color: $couleur-texte-sombre;

    .intitule-question {
      display: flex;
      align-items: center;
    }

    .jauge {
      position: relative;
      background-image: asset-data-url('jauge.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 420px;
      height: 4rem;
    }

    .position-1 { left: -1%; }
    .position-2 { left: 14%; }
    .position-3 { left: 31%; }
    .position-4 { left: 48%; }
    .position-5 { left: 63%; }
    .position-6 { left: 80%; }
    .position-7 { left: 97%; }

    .puce {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      width: 28px;
      line-height: 28px;
      background-image: asset-data-url('puce_jauge.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      font-family: $font-titre;
      font-weight: 600;
      font-size: 1.1rem;
      color: $couleur-blanc;
    }

    .row.question-standard {
      margin-top: 2rem;
    }

    .categorie {
      font-size: 1.3rem;
      margin: 2rem 0;
    }

    .reponse {
      color: $couleur-principale;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .legende-titre {
    font-size: 1rem;
    color: $couleur-texte;
    font-weight: normal;
  }

  .competence-transversale {
    margin-left: 1.7rem; // 1/2 largeur de image_competence
    margin-bottom: 4rem;
    position: relative;

    .jauge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      border: 1px solid $couleur-texte-sombre;
      border-radius: 0 0.3rem 0.3rem 0;

      &.remplissage {
        background-color: $couleur-texte-sombre;

        &-3 {
          width: 100%;
        }
        &-2 {
          width: 75%;
        }
        &-1 {
          width: 50%;
        }
      }
    }

    .image-competence {
      position: absolute;
      top: 0;
      left: -1.7rem;
      img {
        width: 3.4rem;
      }
    }

    .informations-competence {
      padding: 1.5rem 0 0 5rem;
    }

    .nom-competence {
      font-size: 1.3rem;
    }

    .description-competence {
      a {
        text-decoration: none;
        color: adjust-color($couleur-liens, $alpha: -0.5);
      }

      a:hover {
        text-decoration: underline;
        color: $couleur-liens;
      }
    }
  }

  .synthese-illettrisme {
    margin: 3rem 0 2rem;

    h3 {
      color: $couleur-warning;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-niveau {
      font-size: 1rem;
    }
    &-illustration {
      img {
        margin-right: 0.5rem;
      }
    }
  }

  a {
    color: black;
  }

  .label {
    vertical-align: top;
  }
}


.niveau-competence-base {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 5px;

  &.niveau-indetermine { border: 2px solid $couleur-niveau-indetermine; }
  &.niveau-1 { background-color: $couleur-niveau-1; }
  &.niveau-2 { background-color: $couleur-niveau-2; }
  &.niveau-3 { background-color: $couleur-niveau-3; }
}
