$couleur-separateur: #afc5d0;
$couleur-fond-principale: #d8e8f7;
$couleur-principale: #6E84FE;
$couleur-texte: #7B83B0;
$couleur-texte-sombre: #1E416A;
$couleur-liens: blue;
$couleur-accent-erreur: #fd4c54;
$couleur-warning: #fdaf54;
$couleur-legere-accent-validation: #9adbd0;
$bluegrey: #d6daec;

$border-radius: .75rem;

$couleur-niveau-indetermine: $bluegrey;
$couleur-niveau-1: $couleur-legere-accent-validation;
$couleur-niveau-2: $couleur-warning;
$couleur-niveau-3: $couleur-accent-erreur;
