$couleur-separateur: #afc5d0;
$couleur-inventaire: #39c4d4;
$couleur-controle: #e3b055;
$couleur-tri: #9b7cd1;
$couleur-questions: #398ad4;
$couleur-fond-principale: #d8e8f7;
$couleur-texte: #001c36;
$couleur-liens: blue;
$couleur-accent-erreur: #fd4c54;
$couleur-warning: #fdaf54;
$couleur-legere-accent-validation: #9adbd0;
$bluegrey: #d6daec;

$border-radius: .75rem;

$couleur-niveau-indetermine: $bluegrey;
$couleur-niveau-1: $couleur-legere-accent-validation;
$couleur-niveau-2: $couleur-warning;
$couleur-niveau-3: $couleur-accent-erreur;
