@import "bootstrap";
@import "base";

.admin_restitution_globale {
  .en-tete-page {
    display: block;
    background-image: asset-data-url('vague.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 3.75rem;
    padding-left: 5rem;
    line-height: 50px;
    margin-bottom: 5rem;
  }

  .eva-logo {
    float: left;
    width: 7.5rem;
    height: 12.5rem;
  }

  .identite {
    padding-top: 1rem;
  }

  .date-restitution {
    color: #D6DAEC;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 12px;
  }

  .nom-evalue {
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    color: #FBF9FA;
  }

  .row {
    display: -webkit-box;
    width: 1000px;
    page-break-inside: avoid;
    .col-4, .col-6, .competences-identifiees {
      height: 100%;
      vertical-align: top;
      display: inline-block;
    }
    .col-4 {
      width: 20.6rem;
      min-width: 18.75rem;
    }
    .competences-identifiees {
      width: 100%;

      .col-6 {
        width: 31.2rem;
      }

      .identification-competence {
        margin-top: 1rem;
      }

      .description-competence {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 28.1rem;
      }
    }
  }

  .saut-de-page {
    page-break-after: always;
  }

  .btn-group {
    border: none;

    .btn {
      font-size: 0.75rem;
    }
  }
  h3 {
    margin: 2rem;
  }

  .panel {
    border-top: 1px $couleur-separateur solid;

    &:first-of-type {
      border-top: none;
    }
  }
}
