@import "bootstrap";
@import "base";

.admin_restitution_globale {
  .row {
    display: -webkit-box;
    width: 1000px;
    .col-4{
      height: 100%;
      vertical-align: top;
      display: inline-block;
      width: 330px;
      min-width: 300px;
      .my-2 {
        width: 330px;
       }
    }
  }

  .panel:nth-of-type(3) {
    page-break-after: always;
  }

  .btn-group {
    border: none;
  }
  h3 {
    margin: 2rem;
  }

  .panel {
    border-top: 1px $couleur-separateur solid;

    &:first-of-type {
      border-top: none;
    }
  }
}
