@import "bootstrap";
@import "base";
@import "fonts_faces_pdf";

.admin_restitution_globale {
  line-height: 1.3;
  width: 1100px;

  h2 {
    font-size: 1.80rem;
  }

  .marges-page {
    margin : 0 5rem;
  }

  .en-tete-page {
    display: block;
    background-image: asset-data-url('vague.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 233px;
    padding: 3.75rem 5rem 0 5rem;

    .eva-logo {
      margin-right: 1.5rem;
    }

    .contexte {
      text-align: right;
    }

    .structure, .date-restitution {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }

    .structure {
      color: #FBF9FA;
      font-size: 1.6rem;
    }

    .date-restitution {
      color: $bluegrey;
    }

    .nom-evalue {
      font-family: $font-titre;
      color: #FBF9FA;
      font-size: 2rem;
      vertical-align: bottom;
      font-weight: bold;
    }
  }

  .pied-page {
    display: block;
    background-color: $couleur-texte-sombre;
    color: $couleur-blanc;
    text-align: center;
    font-size: 1rem;
    line-height: 2.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .synthese-illettrisme {
    margin-bottom: 5rem;

    &-illustration {
      img {
        width: 5rem;
      }
    }
  }

  .row {
    page-break-inside: avoid;
    display: -webkit-box;
  }

  .col {
    -webkit-box-flex: 1;
  }

  .col-auto {
    -webkit-box-flex: 0;
  }

  .autopositionnement {
    .intitule-question {
      margin-top: 1.5rem; // centrage par coïncidence
    }

    .jauge {
      height: 5rem;
    }

    .row.question-standard {
      margin-top: 3rem;
    }

    .categorie {
      margin: 2.5rem 0;
    }

    .reponse {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
  }

  .competence-transversale {
    display: inline-block;
  }

  .page {
    height: 1540px;
    position: relative;
    page-break-after: always;
    border-bottom: none;
  }

  .btn-group {
    border: none;

    .btn {
      font-size: 0.75rem;
    }
  }

  .panel {
    border-top: 1px $couleur-separateur solid;

    &:first-of-type {
      border-top: none;
    }
  }
}
