@import "bootstrap";
@import "base";

.admin_restitution_globale {
  width: 1000px;

  .en-tete-page {
    background-image: asset-data-url('vague.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    padding: 3.75rem 5rem 0 5rem;
    margin-bottom: 4rem;

    .row {
      display: -webkit-box;
    }

    .eva-logo {
      margin-right: 1.5rem;
    }

    .contexte {
      text-align: right;
    }

    .structure, .date-restitution {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }

    .structure {
      color: #FBF9FA;
    }

    .date-restitution {
      color: #D6DAEC;
    }

    .nom-evalue {
      strong {
        font-size: 2rem;
        vertical-align: bottom;
      }
      color: #FBF9FA;
      font-style: normal;
      font-weight: bold;
      font-size: 2.25rem;
    }
  }

  .synthese-illettrisme {
    &-illustration {
      margin-top: 0;
      margin-right: 2rem;

      img {
        width: 5rem;
      }
    }
  }

  .row {
    page-break-inside: avoid;
    .identification-competence, .description-competence, .competences-identifiees {
      display: inline-block;
    }
    .competences-identifiees {
      width: 100%;

      .identification-competence {
        vertical-align: top;
        margin-top: 1rem;
      }

      .description-competence {
        margin-top: 1rem;
        margin-right: 1rem;
        width: 28.1rem;
      }
    }
  }

  .saut-de-page {
    page-break-after: always;
  }

  .btn-group {
    border: none;

    .btn {
      font-size: 0.75rem;
    }
  }
  h3 {
    margin: 2rem;
  }

  .panel {
    border-top: 1px $couleur-separateur solid;

    &:first-of-type {
      border-top: none;
    }
  }
}
