@import "bootstrap";
@import "base";

.admin_restitution_globale {
  width: 1100px;

  .en-tete-page {
    background-image: asset-data-url('vague.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    padding: 3.75rem 5rem 0 5rem;
    margin-bottom: 4rem;

    .eva-logo {
      margin-right: 1.5rem;
    }

    .contexte {
      text-align: right;
    }

    .structure, .date-restitution {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }

    .structure {
      color: #FBF9FA;
    }

    .date-restitution {
      color: #D6DAEC;
    }

    .nom-evalue {
      color: #FBF9FA;
      font-size: 2rem;
      vertical-align: bottom;
      font-weight: bold;
    }
  }

  .synthese-illettrisme {
    margin-bottom: 5rem;

    &-illustration {
      img {
        width: 5rem;
      }
    }
  }

  .row {
    page-break-inside: avoid;
    display: -webkit-box;
  }

  .col {
    -webkit-box-flex: 1;
  }

  .col-auto {
    -webkit-box-flex: 0;
  }

  .identification-competence, .description-competence, .competences-identifiees {
    display: inline-block;
  }
  .competences-identifiees {
    width: 100%;

    .identification-competence {
      vertical-align: top;
      margin-top: 1rem;
    }

    .description-competence {
      margin-top: 1rem;
      margin-right: 1rem;
      width: 28.1rem;
    }
  }

  .saut-de-page {
    break-after: always;
  }

  .btn-group {
    border: none;

    .btn {
      font-size: 0.75rem;
    }
  }

  .panel {
    border-top: 1px $couleur-separateur solid;

    &:first-of-type {
      border-top: none;
    }
  }
}
