@import "base";

.admin_restitution_globale {
  .btn-group {
    border: solid 1px #9ebcd5;
  }
  h3 {
    margin-bottom: 2rem;
  }

  .panel {
    border-bottom: 1px $couleur-separateur solid;

    &:last-of-type {
      border-bottom: none;
    }
  }
}
