<div class="sous-competence__container">
  <div class="row">
    <div class= "col-auto">
      <%= image_tag "badges/anlci/#{profil}.svg", alt: t(".#{profil}.alt_icone") %>
    </div>
    <div class= "col-7">
      <h3><%= t(".#{competence}.#{sous_competence}.titre") %></h3>
      <%= md t(".#{competence}.#{sous_competence}.description.#{profil}") %>
    </div>
  </div>
</div>
