<div>
  <% sous_competences.each do |sous_competence, metriques| %>
    <div class="sous-competence__container">
      <div class="row">
        <div class= "col-auto">
          <% if competence == :litteratie %>
            <%= image_tag "badges/anlci/#{metriques[:profil]}.svg", alt: t(".#{metriques[:profil]}.alt_icone") %>
          <% else %>
            <% succes = metriques[:profil] == true %>
            <% type = succes ? :acquis : :non_acquis %>

            <%= render(
              partial: 'components/badge_profil',
              locals: { type: type, titre: "#{metriques[:pourcentage]}%" }
            ) %>
          <% end %>
        </div>
        <div class= "col-7">
          <h3><%= t(".#{competence}.#{sous_competence}.titre") %></h3>
          <%= md t(".#{competence}.#{sous_competence}.description.#{metriques[:profil]}") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
