<% if illustration.attached? %>
  <%= link_to cdn_for(illustration), target: '_blank', rel: 'noopener', class: 'pas-souligne' do %>
    <%= image_tag cdn_for(illustration), class: 'image-preview', alt: illustration.filename %>
  <% end %>
<% else %>
    <span class="empty">Vide</span>
<% end %>
