@import "fonts";
@import 'admin/variables';
@import "admin/typography";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-underline-offset: 10%;
}

body {
	-webkit-font-smoothing: antialiased; /* Améliore le rendu sur WebKit (Chrome, Safari) */
	-moz-osx-font-smoothing: grayscale;  /* Pour Firefox sur macOS */
	text-rendering: optimizeLegibility;  /* Meilleur rendu des polices */
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: relative;
  page-break-after: always;
  break-after: page;
  
  -bottom: none;
}

.break-after-page {
  break-after: page;
}

.row {
  page-break-inside: avoid;
  display: -webkit-box;
}

.col {
  -webkit-box-flex: 1;
}

.col-auto {
  -webkit-box-flex: 0;
  border: none; // Il y a une bordure noir qui apparait sur cet élément
}

.page-numeratie {
  .content {
    display: flex;
    padding: 0px 7.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  /* Adaptation */

  h2 {
    margin-bottom: 0;
  }

  .synthese-illettrisme {
    margin: 0 5rem 0;
  }

  .fr-accordion {
    display: none;
  }
}
