@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  src: asset-data-url('quicksand-v21-latin-ext-regular.woff') format('woff')
}

@font-face {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  src: asset-data-url('quicksand-v21-latin-ext-700.woff') format('woff')
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: asset-data-url('work-sans-v8-latin-ext-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: asset-data-url('work-sans-v19-latin-italic.woff') format('woff'),
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: asset-data-url('work-sans-v8-latin-ext-700.woff') format('woff'),
}
