@mixin pdf-texte-xl() {
  font-family: $font-titre;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@mixin pdf-texte-lg() {
  font-family: $font-titre;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
