<div class="structure-info-card">
  <ul class="structure-info-card__list">
    <li class="structure-info-card__info">
      <span class="structure-info-card__label">Numéro SIRET :</span> <span class="structure-info-card__value"><%= structure.siret %></span>
    </li>
    <% if structure.persisted? %>
      <li class="structure-info-card__info">
        <span class="structure-info-card__label">Dénomination :</span> <span class="structure-info-card__value"><%= structure.nom %></span>
      </li>
    <% else %>
      <li class="structure-info-card__info">
        <span class="structure-info-card__label">Raison sociale :</span> <span class="structure-info-card__value"><%= structure.raison_sociale %></span>
      </li>
    <% end %>
    <li class="structure-info-card__info">
      <span class="structure-info-card__label">Adresse :</span> <span class="structure-info-card__value"><%= structure.adresse %></span>
    </li>
  </ul>
</div>

