<% content_for :classes_conteneur do "conteneur-elargi conteneur-invisible" end %>

<% persisted = @structure.persisted? %>

<% if persisted %>
  <% content_for :title, t("inscription.structures.show.rejoindre_structure.titre") %>
  <% content_for :titre, t("inscription.structures.show.rejoindre_structure.titre") %>
  <% content_for :sous_titre, t("inscription.structures.show.rejoindre_structure.sous_titre") %>
<% else %>
  <% content_for :title, t("inscription.structures.show.creer.titre") %>
  <% content_for :titre, t("inscription.structures.show.creer.titre") %>
<% end %>

<div class="page-inscription-structure">
  <% if persisted %>
    <%= render TexteIntroComponent.new(titre: t("inscription.structures.show.titre_intro_presente"), texte: t("inscription.structures.show.sous_titre_intro_presente")) %>
    <%= render "form_rejoindre" %>
  <% else %>
    <%= render TexteIntroComponent.new(titre: t("inscription.structures.show.titre_intro_non_presente"), texte: t("inscription.structures.show.sous_titre_intro_non_presente")) %>
    <%= render "form_creer" %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    <% if persisted %>
      structure_confirmation_submit();
    <% else %>
      structure_creation_confirmation_submit();
    <% end %>
  });
</script>
