.admin_evaluations.index.evapro_admin #active_admin_content.with_sidebar #sidebar  {
  width: 305px;
  border-left: 1px solid var(--border-default-grey);
  
  @media screen and (max-width: 854px) {
    width: 100%;
    margin-left: 0;
  }

  .sidebar_section {
    @media screen and (max-width: 854px) {
      display: block;
    }
  }
}

body.admin_evaluations.show #active_admin_content:has(.evaluation-evapro) {
  .sidebar {
    border-left: 1px solid var(--border-default-grey);
    width: 305px !important;
  }
  .menu-sidebar {
    margin-top: 0;
  }
}

body.admin_evaluations.index #active_admin_content:has(.evaluation-evapro) {
  .menu-sidebar {
    margin-top: 0;
  }
}

// .show .menu-sidebar, .admin_evaluations 
.evaluation-sidebar__container {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-4w;
  padding-left: $dsfr-spacing-3w;

  @media screen and (max-width: 854px) {
    padding-right: $dsfr-spacing-3w;
  }

  h3 {
    color: var(--text-default-grey);

    @include corps-de-texte-md-bold;

    text-transform: none;
    margin: 0;
  }

  img {
    width: auto;
    height: 56px;
    object-fit: contain;
    aspect-ratio: 51 / 28;
  }

  p {
    margin: 0;
  }
}

.evaluation-sidebar__bloc {
  display: flex;
  width: 100%;
  padding: $dsfr-spacing-3w;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $dsfr-spacing-2w;
  border: 0.063rem solid var(--border-default-grey);
}

.evaluation-sidebar__bloc-opco-background {
  background: var(--background-alt-grey);
}

.evaluation-sidebar__bloc-evaluation__details {
  h3 {
    color: var(--text-mention-grey);

    @include corps-de-texte-md-bold;
  }

  p {
    color: var(--text-default-grey);

    @include corps-de-texte-sm-regular;
  }
}
