.admin_evaluations.index.evapro_admin #active_admin_content.with_sidebar #sidebar {
  width: 305px;

  @media screen and (max-width: 854px) {
    width: 100%;
    margin-left: 0;
  }

  .sidebar_section {
    @media screen and (max-width: 854px) {
      display: block;
    }
  }
}

.sidebar .sidebar_section.panel.evaluation-evapro,
#_sidebar_section.sidebar_section.panel {
  padding: 0;
  border: none;
  margin-top: $dsfr-spacing-4w;

  >h3 {
    display: none;
  }
}

body.admin_evaluation_evapros.show {
  .sidebar {
    border-left: 1px solid var(--border-default-grey);
    width: 305px !important;

    .sidebar_section.panel {
      margin-left: $dsfr-spacing-3w;
    }
  }
}

.evaluation-sidebar__container {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-4w;

  @media screen and (max-width: 854px) {
    padding-right: $dsfr-spacing-3w;
  }

  h3 {
    color: var(--text-default-grey);

    @include corps-de-texte-md-bold;

    text-transform: none;
    margin: 0;
  }

  img {
    width: auto;
    height: 56px;
    object-fit: contain;
    aspect-ratio: 51 / 28;
  }

  p {
    margin: 0;
  }
}

.evaluation-sidebar__bloc {
  display: flex;
  padding: $dsfr-spacing-3w;
  border: 1px solid var(--border-default-grey);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $dsfr-spacing-2w;
}

.evaluation-sidebar__bloc-opco-background {
  background: var(--background-alt-grey);
}

.evaluation-sidebar__bloc-evaluation__details {
  h3 {
    color: var(--text-mention-grey);

    @include corps-de-texte-md-bold;
  }

  p {
    color: var(--text-default-grey);

    @include corps-de-texte-sm-regular;
  }
}
