<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo BoutonAjouterUneStructureComponent</h1>

  <h2>Bouton d'ajout de structure</h2>
  <%= render BoutonAjouterUneStructureComponent.new(@current_compte) %>
</div> 
