<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo BoutonCopierComponent</h1>

  <h2>Bouton de copie</h2>
  <%= render BoutonCopierComponent.new(
        libelle: "Copier",
        texte: "Copier le texte",
        classes: "bouton-copier"
      ) %>
</div> 
