<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo CartePartageCodeComponent</h1>

  <h2>Carte de partage de code</h2>
  <%= render CartePartageCodeComponent.new(
        libelle_code: "Code",
        code: "123456",
        url: "https://www.google.com",
        description: "Description de la carte"
      ) %>
</div> 
