<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo Notice Evaluation incomplète</h1>
  <h2>Démo NoticeIncompleteComponent</h2>

  <%= render Evaluation::NoticeIncompleteComponent.new() %>

  <h2>Démo IconeIncompleteComponent</h2>

  <%= render Evaluation::IconeIncompleteComponent.new() %>
</div>
