<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo MenuBoutonsActionComponent</h1>
  
  <table>
    <tbody>
      <tr>
        <td class="menu-boutons-action">
          <%= render MenuBoutonsActionComponent.new(
              { label: "Voir", url: "#" },
              { label: "Modifier", url: "#" },
              { label: "Supprimer", url: "#", method: :delete, data: { confirm: "Voulez-vous supprimer ?" } }
            ) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>