<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo MenuActionsComponent</h1>

  <table>
    <tbody>
      <tr>
        <td class="col-actions bouton-menu-actions">
          <%= render MenuActionsComponent.new("#",
              { label: t(".option_1"), url: :p },
              { label: t(".option_2"), url: :p },
              { label: t(".option_3"), url: :p, method: :delete, data: { confirm: t(".option_suppression") } }
            ) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
