<div class="container">
  <h1>Démo PanelComponent</h1>

  <%= render PanelComponent.new(titre: "Mon titre") do %>
    <h3>Contenu du panel</h3>
    <p>Contenu du panel avec un titre</p>
  <% end %>
</div> 
