<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo QCMComponent</h1>

  <h2>Composant QCM</h2>
  <%= render QcmComponent.new %>
</div> 
