<%# frozen_string_literal: true %>
<div class="container">
  <div class="fr-mb-3w">
    <%= link_to "← Retour à l'index des composants", "/admin/ui_kit", class: "fr-link" %>
  </div>

  <h1>Démo RechercheStructureComponent</h1>

  <h2>Composant de recherche de structure</h2>
  <%= render RechercheStructureComponent.new %>
</div> 
