<div class="evaluation-sidebar__container">
  <%= render "admin/opcos/bloc_opco_partenaire", opco: structure.opco %>
  <%= render "admin/structures/bloc_structure_invitation", structure: structure %>
</div>
