[id^="valider-modal-verification"] {
  width: auto;
}

.fr-modal-verification {
  .fr-modal__content {
    margin-bottom: 0;
  }
  .fr-modal__footer {
    flex-shrink: 0;
    margin-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    justify-content: end;
    gap: 1rem;
  }
}
