.fr-modal-fusion {
  .modal-fusionner .liste-beneficiaires-fusion {
    display: flex;
    flex-direction: column;
    gap: $dsfr-spacing-5v;
  }

  .modal-fusionner #liste-elements-a-fusionner {
    list-style-type: disc;
    font-size: inherit;
    padding-left: 2em;
  }

  .modal-fusionner #liste-elements-a-fusionner li {
    font-size: $dsfr-font-size-md;
    line-height: $dsfr-line-height-md;
    margin-bottom: 0.5rem;
  }

  .contenu-modale {
    display: flex;
    padding: 1rem 0 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  @media (max-width: 1280px) {
    .contenu-modale {
      padding-bottom: 0;
    }
  }

  .contenu {
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }
}
