.modal-fusionner .liste-beneficiaires-fusion {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-5v
}

.modal-fusionner #liste-elements-a-fusionner {
  list-style-type: disc;
  font-size: inherit;
  padding-left: 2em; 
}
  
.modal-fusionner #liste-elements-a-fusionner li {
  font-size: $dsfr-font-size-md;
  line-height: $dsfr-line-height-md;
  margin-bottom: 0.5rem;
}

#fr-modal-fusionner {
  background-color: transparent;
}

#fr-modal-fusionner::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

