// Reset the form style
@mixin reset-form {
  fieldset.inputs {
    padding: 0 !important;
    margin: 0 !important;
  }

  form li {
    list-style: none !important;
  }
}

.page-informations-compte {
  @include reset-form();
  display: flex;
  width: 792px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-7W, 56px);
}

.page-informations-compte .indication-champs-obligatoires {
  @include texte-xs();
  color: $couleur-accent-erreur;
}

.page-informations-compte .informations-compte-champs-obligatoires {
  @include body-xs-mention();
}

.page-informations-compte .informations-compte-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.page-informations-compte .valider-compte-bouton {
  @include grand-bouton();
}

.page-informations-compte label[for="compte_cgu_acceptees"] abbr[title] {
  color: #000;
}
