.page-recherche-structure .recherche-structure-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.page-recherche-structure {
  display: flex;
  flex-direction: column;
  gap: 56px !important;
}
