.page-recherche-structure .recherche-structure-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
}

.page-recherche-structure .recherche-structure-actions .fr-btn {
  border-radius: 0;
}

.page-recherche-structure {
  display: flex;
  flex-direction: column;
  gap: 56px !important;

  .carte-v2 {
    @media (max-width: 48rem) {
      padding: $dsfr-spacing-5w $dsfr-spacing-2w !important;
    }
    .form {
      @media (max-width: 48rem) {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 48rem) {
    .recherche-structure-actions {
      @include onboarding-actions-mobile;
    }
  }
}

