.page-selection-usage {
  .page-selection-usage__cartes {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .page-selection-usage__carte {
    flex: 1;
  }

  .page-selection-usage__carte__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    height: 100%;
  }

  .page-selection-usage__carte__titre {
    color: $eva_main_blue;
    @include h3();
  }
}
