.page-inscription-structure {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 3rem;

  .fr-alert {
    background-color: $grey-1000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  form fieldset.inputs {
    padding-top: 0 !important;
    max-width: none !important;
    background-color: transparent !important;

    ol {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }

  .inscription-structure__actions-droite {
    display: flex;
    justify-content: flex-end;
  }
}
