.fr-table--criteres-component {
  td, th {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;         /* Assure que le texte passe à la ligne */
    max-width: 0;                /* Trick pour forcer le word-wrap dans les tables */
  }
}
