<div class="modal modal--static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='message'>
          <h3><%= t('.titre') %></h3>
          <p><%= md t('.message')%></p>
        </div>
        <div class='actions'>
          <%= link_to t('.bouton_retour'), 'javascript:history.back()', class: 'bouton bouton-light' %>
          <%= link_to t('.bouton'),
            url_for(params.permit(:code_postal)),
            class: "bouton" %>
        </div>
      </div>
    </div>
  </div>
</div>
