.pro-connect-group {
  word-wrap: break-word;
  font-family: Marianne,arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;

  .btn-pro-connect {
    background-color: #000091;
    color: #f5f5fe;
    display: inline-flex;
    user-select: none;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .75rem;
    padding: .625em .75em .625em 4.5em;
    background-image: none;
    position: relative;


    .pro-connect__login, .pro-connect__brand {
      line-height: 1;
      white-space: nowrap;
      z-index: 1;
    }

    .pro-connect__login {
      font-size: 1.0625em;
    }

    .pro-connect__brand {
      font-size: 1.125em;
      font-weight: 700;
    }
  }

  .btn-pro-connect::before {
    background-image: image-url('logo-pro-connect-bg.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 3.375em 3em;
    bottom: .25em;
    content: "";
    display: block;
    height: 3em;
    left: .625em;
    margin-top: -1.5em;
    position: absolute;
    top: 50%;
    width: 3.375em;
  }
}

.btn-pro-connect.active, .btn-pro-connect.focus, .btn-pro-connect.hover, .btn-pro-connect:active, .btn-pro-connect:focus,  a[href].btn-pro-connect:hover {
  color: #fff;
  border-color: #2323ff;
  background-color: #2323ff;
}

.btn-pro-connect:focus, .btn-pro-connect:focus-visible {
  @include focus();
}

.btn-pro-connect:focus:not(:focus-visible) {
  outline: 0;
}

.btn-pro-connect.disabled, .btn-pro-connect:disabled {
  pointer-events: none;
  background-color: #b3b4c3;
  border-color: #b3b4c3;
}
