$couleur-separateur: #afc5d0;
$couleur-fond-principale: #d8e8f7;
$eva_main_blue: #6E84FE;
$eva_light: #FBF9FA;
$couleur-texte: #7B83B0;
$eva_dark: #1E416A;
$couleur-liens: blue;
$eva_red: #fd5c54;
$couleur-accent-erreur: $eva_red;
$couleur-warning: #fdaf54;
$couleur-legere-accent-validation: #9ADBD0;
$bluegrey: #D6DAEC;
$darkgreen: #0C826D;

$border-radius: .75rem;

$couleur-niveau-indetermine: $bluegrey;
$couleur-niveau-1: $couleur-legere-accent-validation;
$couleur-niveau-2: $couleur-warning;
$couleur-niveau-3: $couleur-accent-erreur;

$container: 1220px;
$depassement-avatar-aide: -70px;
$container-avec-depassement: $container - $depassement-avatar-aide;

$grid-gutter-width: 3rem;

$font-titre: 'Quicksand';
$font-texte: 'Work Sans';
