@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin_reorderable";
@import "restitution_globale/variables";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.evenement-piece {
  display: inline-block;
  width: 10px;
  height: 30px;

  &.piece-bien-placee {
    background-color: green;
  }

  &.piece-mal-placee {
    background-color: red;
  }

  &.piece-ratee {
    background-color: gray;
  }
}
