@import 'activeadmin_addons/all';

@import 'accessible-autocomplete.min';

// Active Admin's got SASS!
@import 'admin/variables';
@import 'active_admin/mixins';
@import 'activeadmin_reorderable';
@import 'admin/base';
@import 'admin/bg';
@import 'admin/fonts';
@import 'admin/mixins';
@import 'admin/typography';
@import "bootstrap_minimal";
@import "pro_connect_button";
@import 'dsfr';
@import 'admin/adaptation_dsfr';

// COMPOSANTS
@import "admin/composants/alert_interpreter_resultats";
@import 'admin/composants/autocomplete';
@import "admin/composants/badge_acquisition";
@import 'admin/composants/filtres';
@import 'admin/composants/panel';
@import 'admin/composants/tables';
@import 'admin/composants/forms';
@import "admin/composants/liens";
@import 'admin/composants/buttons';
@import 'admin/composants/tags';
@import 'admin/composants/input_choix';
@import 'admin/composants/input_choix_parcours';
@import 'admin/composants/input_choix_type_programme';
@import 'admin/composants/input_component';
@import 'admin/composants/flash_messages';
@import 'admin/composants/menu_transverse';
@import 'admin/composants/modal';
@import 'admin/composants/nom_anonymisable';
@import 'admin/composants/card';
@import 'admin/composants/card_validation';
@import "admin/composants/card_parcours_type";
@import 'admin/composants/carte_partage_code';
@import "admin/composants/carte_prise_en_main";
@import 'admin/composants/carte_v2';
@import "admin/composants/code";
@import "admin/composants/qcm";
@import "admin/composants/litteratie";
@import "admin/composants/telechargement_reponses";
@import "admin/composants/scopes";
@import "admin/composants/ellipse";
@import "admin/composants/tooltip";
@import "admin/composants/situation_illustration";
@import "admin/composants/sous_competence";
@import "admin/composants/referentiel_anlci";
@import 'admin/composants/recherche_structure';
@import 'admin/composants/rejoindre_structure';
@import 'admin/composants/bouton_ajouter_une_structure';
@import "admin/composants/evaluation/table_criteres";
@import "admin/composants/evaluation/icone_incomplete";
@import "admin/composants/evaluation/notice_incomplete";
@import "admin/composants/barre_segmentee";
@import "admin/composants/impact_stepper";
@import 'admin/composants/alert_incomplete';
@import 'admin/composants/sidebar/parametres';
@import 'admin/composants/dropdown';
@import 'admin/composants/tableau';
@import 'admin/composants/menu_actions';

// UTILITIES
@import 'admin/utilities';

// LAYOUT
@import 'admin/layout/header';
@import 'admin/composants/menu_mobile';
@import 'admin/layout/footer';
@import 'admin/layout/breadcrumb';
@import 'admin/layout/content';
@import 'admin/layout/main_structure';
@import 'admin/layout/sidebar';

//PAGES
@import 'admin/pages/aide/aide';
@import 'admin/pages/aide/contact';
@import 'admin/pages/aide/sources_aide';
@import 'admin/pages/beneficiaires/*';
@import 'admin/pages/dashboard/dashboard';
@import 'admin/pages/dashboard/bloc_evaluations';
@import 'admin/pages/dashboard/bloc_actualites';
@import 'admin/pages/erreurs';
@import 'admin/pages/evaluations';
@import 'admin/pages/inscription/informations_compte';
@import 'admin/pages/inscription/recherche';
@import 'admin/pages/inscription/selection_usage';
@import 'admin/pages/inscription/structure';
@import 'admin/pages/logged_out';
@import 'admin/pages/actualites';
@import 'admin/pages/actualite';
@import 'admin/pages/beneficiaire';
@import 'admin/pages/comparaison';
@import 'admin/pages/comptes';
@import 'admin/pages/campagne';
@import 'admin/pages/structure';
@import 'admin/pages/restitution_globale/evaluation';
@import 'admin/pages/restitution_globale/base';
@import 'admin/pages/restitution_globale/numeratie';
@import 'admin/pages/restitution_globale/deroulement';
@import 'admin/pages/restitution_globale/mesure_des_impacts';
@import 'admin/pages/layouts/inscription_v2';
@import 'admin/pages/login/structures';
@import 'admin/pages/opcos';
@import 'admin/pages/question';
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  @include texte();
  font-family: $font-texte;
  color: $couleur-texte;
  background-color: $eva_light;
  overflow-x: hidden;

  // initialisation du line-height des titres équivalente à la configuration d'active admin initiale pour éviter une regression du design
  // l'objectif est de pouvoir supprimer ces lignes suite au refacto des titres
  h3 {
    line-height: 1;
  }

  h4 {
    line-height: 1.25;
  }
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

.evenement-piece {
  display: inline-block;
  width: 10px;
  height: 30px;

  &.piece-bien-placee {
    background-color: $eva_dark_green;
  }

  &.piece-mal-placee {
    background-color: $couleur-accent-erreur;
  }

  &.piece-ratee {
    background-color: $eva_bluegrey;
  }
}

.sr-only { // surcharge de la class definie par bootstrap
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.modal-role-utilisateur {
  margin-bottom: inherit;
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-4v;

  h1 {
    margin: $dsfr-spacing-0;
  }

  p {
    margin: 0;
  }
}

