@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';
@import 'activeadmin_reorderable';
@import 'fonts';
@import 'variables';

@import 'admin/mixins';

@import 'admin/layout/header';
@import 'admin/layout/footer';
@import 'admin/layout/breadcrumb';
@import 'admin/layout/content';

@import 'admin/composants/filtres';
@import 'admin/composants/panels';
@import 'admin/composants/tables';
@import 'admin/composants/forms';
@import 'admin/composants/buttons';
@import 'admin/composants/status_tag';

@import 'admin/dashboard';
@import 'admin/actualites';
@import 'admin/evaluations';
@import 'admin/sources_aide';
@import 'admin/pages/aide/aide';
@import 'admin/pages/aide/faq';
@import 'admin/pages/aide/contact';
@import 'admin/pages/aide/menu';
@import 'admin/pages/contacts';
@import 'admin/pages/logged_out';
@import 'admin/comptes';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  font-family: $font-texte;
  color: $eva_dark;
  background-color: $eva_light;
}

.evenement-piece {
  display: inline-block;
  width: 10px;
  height: 30px;

  &.piece-bien-placee {
    background-color: $darkgreen;
  }

  &.piece-mal-placee {
    background-color: $couleur-accent-erreur;
  }

  &.piece-ratee {
    background-color: $bluegrey;
  }
}
