@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'admin/base';
@import 'activeadmin_reorderable';
@import 'fonts';
@import 'variables';

@import 'admin/mixins';

@import 'admin/layout/header';
@import 'admin/layout/footer';
@import 'admin/layout/breadcrumb';
@import 'admin/layout/content';
@import 'admin/layout/main_structure';
@import 'admin/layout/sidebar';

@import 'admin/composants/filtres';
@import 'admin/composants/panels';
@import 'admin/composants/tables';
@import 'admin/composants/forms';
@import 'admin/composants/buttons';
@import 'admin/composants/status_tag';
@import 'admin/composants/input_choix_parcours';
@import 'admin/composants/flash_messages';
@import 'admin/composants/menu_transverse';
@import 'admin/composants/clipboard';

@import 'admin/dashboard';
@import 'admin/actualites';
@import 'admin/evaluations';
@import 'admin/sources_aide';
@import 'admin/pages/aide/aide';
@import 'admin/pages/aide/faq';
@import 'admin/pages/aide/contact';
@import 'admin/pages/contacts';
@import 'admin/pages/logged_out';
@import 'admin/comptes';
@import 'admin/pages/campagne';
@import 'admin/pages/structure';
@import 'admin/pages/restitution_globale';
@import 'admin/typography';

@import 'restitution_globale/base';

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  font-family: $font-texte;
  color: $eva_dark;
  background-color: $eva_light;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.ui-datepicker * {
  box-sizing: content-box;
}

.evenement-piece {
  display: inline-block;
  width: 10px;
  height: 30px;

  &.piece-bien-placee {
    background-color: $eva_dark_green;
  }

  &.piece-mal-placee {
    background-color: $couleur-accent-erreur;
  }

  &.piece-ratee {
    background-color: $eva_bluegrey;
  }
}

.icone-anonyme {
  position: relative;
  top: .125em;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
