$couleur-separateur: #afc5d0;
$couleur-inventaire: #39c4d4;
$couleur-controle: #e3b055;
$couleur-tri: #9b7cd1;
$couleur-fond-principale: #d8e8f7;
$couleur-texte: #001c36;

$border-radius: .75rem;

@mixin applique-theme($couleur) {
  .progress, .btn {
    background: rgba($couleur, .2);
  }
  .progress-bar, .badge, .btn.active {
    background: $couleur;
    border-color: $couleur;
  }
}

.admin_restitution_globale {
  @media screen {
    #main_content {
      padding-top: 2rem;
    }
  }
  @import "bootstrap_minimal";

  color: $couleur-texte;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .header, .title_bar { display: none; }

  h2 {
    margin: 2rem auto;

    .btn {
      border-radius: 1rem;
      background: $couleur-fond-principale;
      border-color: $couleur-fond-principale;
      color: $couleur-texte;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1.125rem 1.5rem;
      color-adjust: exact;
    }

  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }

  #active_admin_content {
    border-top: none;
    padding-top: 0;
  }

  .panel {
    border-bottom: 1px $couleur-separateur solid;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .progress {
    height: 1.5rem;
    border-radius: $border-radius;
    border: solid 1px #9ebcd5;
    box-shadow: inset 0px 0px 0px 1px #ffffff !important;
    padding: 1px;
    font-size: 0.875rem;
    color-adjust: exact;

    .progress-bar {
      border-radius: $border-radius;
    }
  }

  .badge {
    color: white;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: normal;
    min-width: 3.75rem;
    color-adjust: exact;
  }

  .btn {
    color: white;
    border-radius: $border-radius;
    color-adjust: exact;
    text-shadow: none;
  }

  .btn-group {
    border: solid 1px #9ebcd5;
    box-shadow: inset 0px 0px 0px 1px #ffffff !important;
    border-radius: $border-radius;
    padding: 1px;

    .btn {
      padding: 0rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  .description-competence {
    font-size: .75rem;
    opacity: .5;

  }

  .inventaire {
    @include applique-theme($couleur-inventaire);
  }

  .controle {
    @include applique-theme($couleur-controle);
  }

  .tri {
    @include applique-theme($couleur-tri);
  }
}
