body.logged_out #content_wrapper.conteneur-elargi.connexion_v2 {
  width: 100%;
  padding: 0;
}

.page_connexion_v2 {
  background-color: white !important;
}

.connexion_v2__content {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.connexion_v2__content__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
