.page_connexion_v2 {
  background-color: white !important;
}

.connexion_v2__content {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.connexion_v2__content__inner {
  width: 100%;
  max-width: 792px;
}
