body.page_inscription_v2 {
  background-color: white !important;
}

body.logged_out #content_wrapper.conteneur-elargi.inscription_v2 {
  width: 100%;
  padding: 0;
}

.inscription_v2 {
  display: flex;
  flex-direction: row;
  background: var(--background-alt-blue-france);
}

.inscription_v2__content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  @media (max-width: 48rem) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 0;

    .texte-intro {
      display: flex;
      padding: $dsfr-spacing-5w $dsfr-spacing-2w;
      padding-bottom: 0;
      flex-direction: column;
      align-items: center;
      gap: $dsfr-spacing-3w;
      align-self: stretch;
    }
  }
}

.inscription_v2__content__inner {
  width: 100%;
  max-width: 792px;
}

.inscription_v2__sidebar-titre {
  font-family: $font-titre;
  color: $grey-50;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.inscription_v2__sidebar-sous-titre {
  color: $grey-50;

  @include corps-de-texte-sm-regular;

  font-weight: 400 !important;
}

.inscription_v2__sidebar-logo {
  align-self: center;
  width: 6rem;
  height: 5.125rem;
  aspect-ratio: 48/41;
}

.inscription_v2__sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

