<p>Bonjour <%= @resource.email %> !</p>

<p>Le mot de passe de votre compte est périmé ou vous l'avez oublié ?<br/>
Pour changer ce mot de passe, cliquez sur le lien suivant :</p>

<div class="text-center" style="margin: 2rem 0;">
    <%= link_to "Changer mon mot de passe", edit_password_url(@resource, reset_password_token: @token), class: "bouton" %>
</div>

<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.</p>

<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur ce lien et renseigné un nouveau mot de passe.</p>
