.evaluation-aller-plus-loin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-3w;
}

.definitions-impacts__groupe-termes-definis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-3w;

  @media print {
    gap: $dsfr-spacing-2w;
  }
}

.focus-incoutournable {
  display: flex;
  align-items: flex-start;
  gap: $dsfr-spacing-3w;
  align-self: stretch;
  background: var(--background-alt-blue-france);
}

.focus-incoutournable__media {
  display: flex;
  width: var(--Grille-3-colonnes, 282px);
  padding: $dsfr-spacing-3w;
  flex-direction: column;
  align-items: flex-start;
}

.focus-incoutournable__media-image {
  mix-blend-mode: luminosity;
  width: 100%;
}

.focus-incoutournable__explication {
  display: flex;
  padding: $dsfr-spacing-3w $dsfr-spacing-2w;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  @include corps-de-texte-sm-regular;
}

.focus-incoutournable__explication a {
  @include corps-de-texte-sm-regular;

  color: $couleur-texte;
}

.definitions-impacts__titre {
  @include corps-de-texte-lg-bold;

  color: var(--text-title-grey);

  @media print {
    @include titre-h5;
  }
}

.definitions-impacts__texte {
  margin-bottom: 0;

  @include corps-de-texte-sm-regular;

  color: var(--text-default-grey);

  @media print {
    @include corps-de-texte-md-regular;
  }
}
