.evaluation-aller-plus-loin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-3W, 1.5rem);
}

.definitions-impacts__groupe-termes-definis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-3W, 1.5rem);

  @media print {
    gap: var(--Space-2W, 1rem);
  }
}

.focus-incoutournable {
  display: flex;
  align-items: flex-start;
  gap: var(--Space-3W, 1.5rem);
  align-self: stretch;
  background: var(--light-decisions-background-background-alt-blue-france, #F5F5FE);
}

.focus-incoutournable__media {
  display: flex;
  width: var(--Grille-3-colonnes, 282px);
  padding: var(--Space-3W, 24px);
  flex-direction: column;
  align-items: flex-start;
}

.focus-incoutournable__media-image {
  mix-blend-mode: luminosity;
  width: 100%;
}

.focus-incoutournable__explication {
  display: flex;
  padding: var(--Space-3W, 24px) var(--Space-2W, 16px);
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  @include corps-de-texte-sm-regular;
}

.focus-incoutournable__explication a {
  @include corps-de-texte-sm-regular;

  color: $couleur-texte;
}

.definitions-impacts__titre {
  @include corps-de-texte-lg-bold;

  color: var(--light-decisions-text-text-title-grey, #161616);

  @media print {
    @include h5-xs;
  }
}

.definitions-impacts__texte {
  margin-bottom: 0;

  @include corps-de-texte-sm-regular;

  color: var(--light-decisions-text-text-default-grey, #3A3A3A);

  @media print {
    @include corps-de-texte-md-regular;
  }
}
