@import "admin/variables";
@import "admin/mixins";

.evaluation__restitution-globale {
  color: $couleur-texte;
  font-size: 0.875rem;
  font-family: $font-texte;

  .panel {
    padding: 3rem 0;
    &--avec-references {
      padding-bottom: 0;
    }
  }

  .en-tete-page, .pied-page {
    display: none;
  }

  h2 {
    margin: 3rem 0 1rem;
  }

  h3 {
    color: $eva_main_blue;
    font-size: 1rem;
  }

  .marges-page {
    margin: 0 3rem;
  }

  .header, .title_bar { display: none; }

  #competence-numerique {
    .panel {
      padding: 2rem 0rem;
    }
  }

  .prise-en-main {
    img {
      padding-right: 0.75rem;
    }

    .titre {
      margin-bottom: 0;
    }

    .description {
      margin-top: 0.5rem;
      color: $eva_dark;
    }

    .clause-non-responsabilite {
      color: $eva_dark_blue_grey;
      a {
        color: $eva_dark_blue_grey;
      }
      padding-top: 0.125rem;
      p {
        margin-top: 0.875rem;
        margin-bottom: 0rem;
      }
    }
  }

  .autopositionnement {
    color: $eva_dark;

    > .row {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .intitule-question {
      display: flex;
      align-items: center;
    }

    .legende-jauge {
      position: relative;
      color: $eva_bluegrey;

      span:last-child {
        position: absolute;
        right: 0;
      }
    }

    .jauge {
      position: relative;
      background-image: asset-data-url('jauge.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 420px;
      height: 2rem;
    }

    .position-1 { left: -1%; }
    .position-2 { left: 14%; }
    .position-3 { left: 31%; }
    .position-4 { left: 48%; }
    .position-5 { left: 63%; }
    .position-6 { left: 80%; }
    .position-7 { left: 97%; }

    .puce {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      width: 28px;
      line-height: 28px;
      background-color: $eva_main_blue;
      border-radius: 1rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      font-family: $font-titre;
      font-weight: 600;
      font-size: 1rem;
      color: $eva_light;
    }

    .categorie {
      font-size: 1.3rem;
      margin: 0 0 2rem 0;
    }

    .reponse {
      color: $eva_main_blue;
      font-weight: 600;
      margin-top: .625rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .competences-transversales-vides {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .competence-transversale {
    margin-left: 1.7rem; // 1/2 largeur de image_competence
    margin-bottom: 3rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    .conteneur-jauge {
      position: absolute;
      top: 0;
      left: 0;
      width: 85%;
    }

    .jauge {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
      border: 1px solid $eva_dark;
      border-radius: 0 0.3rem 0.3rem 0;

      &.remplissage {
        background-color: $eva_dark;

        &-3 {
          width: 100%;
        }
        &-2 {
          width: 75%;
        }
        &-1 {
          width: 50%;
        }
      }
    }

    .image-competence {
      position: absolute;
      top: 0;
      left: -1.7rem;
      img {
        width: 3.4rem;
      }
    }

    .informations-competence {
      padding: 1.5rem 0 0 5rem;
    }

    .nom-competence {
      margin: 0 0 0.75em;
      font-size: 1.3rem;
    }

    .description-competence {
      font-size: .875rem;

      .lien-metier {
        color: $eva_main_blue;
        display: flex;
        align-items: center;

        a {
          color: $eva_main_blue;
        }

        .image-lien {
          margin-right: .5rem;
          img {
            height: 1.5rem;
          }
        }
      }
    }
  }

  .synthese-illettrisme {
    color: $eva_light;
    border-radius: 2rem;
    padding: 2rem 2rem;
    margin: 0 5rem 2rem;
    background-color: $eva-dark;

    a {
      color: $eva_light;
    }

    .col {
      padding-left: 1.375rem;
    }

    h2 {
      color: $eva_light;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .col {
      p:last-child {
        margin-bottom: 0;
      }
    }

    &.illettrisme_potentiel {
      color: $eva_dark;
      background-color: $couleur-warning;

      h2 {
        color: $eva_dark;
      }
    }

    &.ni_ni {
      background-color: $eva_main_blue;
    }

    &.socle_clea {
      color: $eva_dark;
      background-color: $couleur-legere-accent-validation;
      h2 {
        color: $eva_dark;
      }
    }
  }

  .stanine-niveau-francais-mathematique {
    color: $eva_main_blue;

    a {
      color: $eva_main_blue;
    }
  }

  .col-auto.badge {
    img {
      width: 4.5rem;
      margin-bottom: 1rem;
    }
  }

  .label {
    vertical-align: top;
  }

  .situation-redaction {
    padding-top: 3rem;
    border-top: 2px solid $eva_bluegrey;
  }

  .reponse-question {
    position: relative;
    font-size: 0.875rem;
  }

  .note-redaction {
    position: relative;
    font-style: italic;
    color: $eva_main_blue;
    padding: 2.2rem 2rem;
    border: 1px solid $eva_main_blue;
    box-sizing: border-box;
    border-radius: 1.8rem;
  }

  .aide-redaction-container {
    background-color: white;
    z-index: 2;
    position: relative;
  }

  .aide-redaction {
    position: relative;
    color: $couleur-texte;
    padding: 2rem 2rem;
    border: 1px solid $couleur-legere-accent-validation;
    box-sizing: border-box;
    border-radius: 1.8rem;

    div p:last-child {
      margin-bottom: 0;
    }

    strong {
      font-weight: 500;
    }
  }

  .titre-redaction {
    margin: 0;
    font-size: 1.125rem;
  }

  .image-redaction {
    position: absolute;
    top: -1.3rem;
    right: -1rem;
    img {
      height: 2.6rem;
    }
  }

  .crochet-aide-redaction {
    position: absolute;
    top: 3rem;
    left: 48%; // Permet d'avoir une propriété left dans le cas où le calc suivant ne fonctionne pas
    left: calc(50% - 1.2rem);
    z-index: 1;

    img {
      height: 1rem;
    }
  }

  .texte-explications {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .recommandation-anlci {
    padding: 0 1rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid $anlci_orange;
    color: $anlci_orange;
    img {
      height: 4rem;
    }

    .col p:last-child {
      margin-bottom: 0
    }
  }

  .litteratie-numeratie-niveau1-anlci {
    padding-top: 3.75rem;
    padding-bottom: 4.375rem;
  }

  .panel-parcours {
    padding: 1.5rem 3rem;

    h3 {
      color: $eva_dark;
      margin-bottom: .5rem;
    }
  }
}

.evaluation__scores {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.evaluation__administration {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.niveau-competence-base {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin: 0 5px;

  &.niveau-indetermine { border: 2px solid $couleur-niveau-indetermine; }
  &.niveau-1 { background-color: $couleur-niveau-1; }
  &.niveau-2 { background-color: $couleur-niveau-2; }
  &.niveau-3 { background-color: $couleur-niveau-3; }
}
