.evaluation-bilan-evapro__titre-opco {
  margin: 0;
}

.evaluation-bilan-evapro__sous-titre-opco {
  color: $couleur-texte;

  @include corps-de-texte-sm-regular;
}
.evaluation-bilan-evapro__contenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $dsfr-spacing-3w;

  p {
    margin: 0;
  }
}

.evaluation-bilan-evapro__explication {
  @include corps-de-texte-sm-regular;
}

.evaluation-bilan-evapro__contacter-opco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $dsfr-spacing-2w;
}

.evaluation-bilan-evapro__coordonnees {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-3w;
  flex: 1 1 0;
  min-width: 0;
}

.evaluation-bilan-evapro__annuaire {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 1 0;
  min-width: 0;
}

.evaluation-bilan-evapro__offre-services-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-1w;
  max-width: 20rem;
}

.evaluation-bilan-evapro__offre-services-texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.evaluation-bilan-evapro__opco-financeur {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $dsfr-spacing-3w;
  width: var(--Grille-4-colonnes, 23.875rem);
  flex-shrink: 0;
}

.evaluation-bilan-evapro__opco-financeur-annuaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $dsfr-spacing-3w;
}

.evaluation-bilan-evapro__opco-financeur-logo {
  height: 4rem;
}

.evaluation-bilan-evapro__opco-financeur-details p, .evaluation-bilan-evapro__opco-financeur-details a {
  color: $couleur-texte;

  @include corps-de-texte-sm-regular;
}

.evaluation-bilan-evapro__opco-offre-services-visuel-link {
  display: block;
  line-height: 0;
}

.evaluation-bilan-evapro__opco-offre-services-visuel {
  width: 320px;
  height: 90px;
  object-fit: cover;
  display: block;
}

.evaluation-bilan-evapro__opco-offre-services-titre {
  color: $couleur-texte;

  @include corps-de-texte-sm-regular;
}

.evaluation-bilan-evapro__offre-services-frame .fr-link {
  @include corps-de-texte-sm-regular;
  display: inline-block;
  max-width: 100%;
  overflow-wrap: anywhere;
  word-break: break-word;
}
