.evaluation-bilan-evapro__contenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $dsfr-spacing-3w;

  p {
    margin: 0;
  }
}

.evaluation-bilan-evapro__explication {
  @include corps-de-texte-sm-regular;
}

.evaluation-bilan-evapro__opco-financeur-contacts {
  display: flex;
  flex-direction: row;
  gap: $dsfr-spacing-6v;
  align-items: center;
}

.evaluation-bilan-evapro__opco-financeur {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $dsfr-spacing-3w;
  width: var(--Grille-4-colonnes, 23.875rem);
  flex-shrink: 0;
}

.evaluation-bilan-evapro__opco-financeur-annuaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $dsfr-spacing-3w;
}

.panel > h3.evaluation-bilan-evapro__opco-financeur-titre {
  @include corps-de-texte-xl-bold;

  margin: 0;
}

.evaluation-bilan-evapro__opco-financeur-logo {
  height: 4rem;
}

.evaluation-bilan-evapro__opco-financeur-details p, .evaluation-bilan-evapro__opco-financeur-details a {
  color: $couleur-texte;

  @include corps-de-texte-sm-regular;
}
