.evaluation {
  $grid-columns: 8;
  $grid-gutter-width: 1.25rem;
  @import "../../../bootstrap_grid";
}

#evaluation__details,
.evaluation {
  .card-informations {
    $grid-columns: 3;
    $grid-gutter-width: 0;
    @import "../../../bootstrap_grid";
    // utilisation de la propriété important pour forcer l'import bootstrap à ne pas écraser cette ligne
    padding: 0rem !important;

    .row {
      margin-bottom: 1.5rem;

      .col:last-child {
        font-weight: 500;
      }
    }
  }
}

#evaluation__details {
  $grid-columns: 8;
  $grid-gutter-width: 0;
  @import "../../../bootstrap_grid";
  font-size: 0.875rem;

  .card-informations {
    // utilisation de la propriété important pour forcer l'import bootstrap à ne pas écraser cette ligne
    padding: 1.5rem !important;
  }
  .card {
    max-width: 37.5rem;
  }

  .titre,
  .sous-titre {
    @include titre-carte;
  }
  .sous-titre {
    margin-bottom: .875rem;
    font-size: 2.25rem;
    color: $eva_main_blue;
  }

  .card {
    &-pdf {
      padding: 1.25rem;
      text-align: center;
      background-color: $eva_dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-footer {
      padding: 1rem 0rem;
    }
  }

  .card__banner {
    padding: 1rem 1.5rem;
    &--alert {
      box-shadow: inset 0px 8px 8px -8px rgba(30, 65, 106, 0.25);
    }

    &--illettrisme {
      border-radius: 0 0 8px 8px;
      border: 2px solid $eva_red;
      h5 {
        color: $eva_red;
      }
      .card__banner__icone {
        fill: $eva_red;
      }

      &-avec-reponse {
        border: 2px solid $eva_main_blue;
        h5 {
          color: $eva_dark;
        }
        .card__banner__icone {
          fill: $eva_bluegrey;
        }
      }

      .actions {
        gap: .25rem;
      }

      .asterisque {
        margin-top: 1rem;
        @include texte-xs();

        a {
          color: $eva_dark;
        }
      }
    }

    &__icone {
      margin-right: 1.5rem;
    }
  }
}
