.evaluation {
  $grid-columns: 8;
  $grid-gutter-width: 1.25rem;
  @import "../../../bootstrap_grid";
  margin: 0 1rem;
}

.evaluation__titre {
  margin-bottom: $dsfr-spacing-6v;
}

#evaluation__details,
.evaluation {
  .card-informations {
    $grid-columns: 3;
    $grid-gutter-width: 0;
    @import "../../../bootstrap_grid";
    // utilisation de la propriété important pour forcer l'import bootstrap à ne pas écraser cette ligne
    padding: 0rem !important;

    .row {
      margin-bottom: 1.5rem;

      .col:last-child {
        font-weight: 500;
      }

      p {
        margin: 0;
      }
    }
  }
}

@mixin card__banner-couleur($couleur-principale, $couleur-principale-legere) {
  border: 1px solid $couleur-principale;
  h3 {
    color: $couleur-principale;
    font-size: 1rem;
    line-height:1.25rem;
  }
  .card__banner__icone { fill: $couleur-principale; }
  .mise-en-action__texte { color: $couleur-principale; }
}

.container--asterisque {
  background-color: $eva_bluegrey;
  a {
    color: $couleur-texte;
  }
}

#evaluation__details {
  $grid-columns: 8;
  $grid-gutter-width: 0;
  @import "../../../bootstrap_grid";
  font-size: 0.875rem;

  .card-informations {
    // utilisation de la propriété important pour forcer l'import bootstrap à ne pas écraser cette ligne
    padding: 1.5rem !important;
  }
  .card {
    max-width: 37.5rem;
  }

  .titre,
  .sous-titre {
    @include titre-carte;
  }
  .sous-titre {
    margin-bottom: .875rem;
    font-size: 2.25rem;
    color: $eva_main_blue;
  }

  .card {
    &-pdf {
      padding: 1.25rem;
      text-align: center;
      background-color: $eva_dark;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-footer {
      padding: 1rem 0rem;
    }
  }

  .card__banner {
    &.bg-alerte {
      padding: 1rem 1.5rem;
      box-shadow: inset 0px 8px 8px -8px rgba(30, 65, 106, 0.25);
    }

    &--succes {
      @include card__banner-couleur($success-425, $success-950);
    }

    &--en-attente {
      @include card__banner-couleur($warning-425, $warning-950);
    }

    &--illettrisme {
      border-radius: 0 0 8px 8px;

      .container:last-child {
        border-radius: 0 0 8px 8px;
      }
      .mise-en-action .tag {
        @include tag-couleur($success-425, $success-950);
        margin: .5rem 0;
        font-weight: 400;
      }

      .qcm {
        margin-bottom: 0;
        border-radius: 0;
      }

      .actions {
        gap: .25rem;
      }

      .banniere-solutions-illettrisme {
        @include texte-xs();
      }
    }

    &__icone {
      margin-right: 1.5rem;
    }
  }
}

.evaluation__details--panel {
  margin-bottom: $dsfr-spacing-12v;
}
