#numeratie {
  .sous-competence__container {
    margin: $numeratie-component-margin;
  }

  h3 {
    margin: 0;
  }

  .marges-page {
    padding: 0 2rem;
    margin: 0;
  }

  .sous-competence__critere-accordion {
    margin-top: 0;
  }
}
