#numeratie {
  .sous-competence__container {
    margin: $numeratie-component-margin;
  }

  h3 {
    margin: 0;
  }

  .marges-page {
    padding: 0;
    margin: 0;
  }

  .sous-competence__critere-accordion {
    margin-top: 0;
  }

  .panel {
    padding: $dsfr-spacing-8v;
  }

  .fr-accordion__btn {
    padding: $dsfr-spacing-4v;
  }
}
