$grid-columns: 8;
$grid-gutter-width: 1.25rem;
@import "bootstrap";
@import "../../../admin/variables";
@import "../../../admin/mixins";
@import "base";
@import "../../../admin/bg";
@import "../../../admin/composants/lettrisme";
@import "../../../admin/composants/referentiel_anlci";
@import "../../../pdf/base";

.evaluation__restitution-globale {
  line-height: 1.3;
  font-size: 1rem;
  width: $largeur-page;

  .panel {
    padding-top: 0;
  }

  h2 {
    font-size: 1.80rem;
  }

  h3 {
    font-weight:bold;
  }

  .marges-page {
    margin: 0 5rem;
  }

  a {
    text-decoration: underline;
  }

  .en-tete-page {
    display: block;
    background-image: asset-url('vague.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 256px;
    width: 100%;
    position: static;
    top: 0;
    padding: 2.25rem 5rem 0 5rem;

    .eva-logo {
      margin-right: 1.5rem;
    }

    .contexte {
      text-align: right;
    }

    .structure, .date-restitution {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }

    .structure {
      color: #FBF9FA;
      font-size: 1.4rem;
      line-height: 1;
    }

    .date-restitution {
      color: $eva_bluegrey;
    }

    .nom-evalue {
      font-family: $font-titre;
      color: #FBF9FA;
      font-size: 2rem;
      vertical-align: bottom;
      font-weight: bold;
    }
  }

  .pied-page {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $eva_main_blue;

    .contact {
      width: 100%;
      color: $eva_light;
      text-align: center;
      font-size: 1rem;
      line-height: 2.5rem;

      a { color: $eva_light }
    }

  }

  .autopositionnement {
    &.questionnaire > .row {
      margin-bottom: 0;
    }

    .intitule-question {
      margin-top: 1.5rem; // centrage par coïncidence
    }

    .jauge {
      height: 5rem;
    }

    .categorie {
      margin: 2.5rem 0;
    }

    .reponse {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
  }

  .competence-transversale {
    display: inline-block;
  }

  .recommandation-anlci {
    img {
      margin-top: 1.5rem; // centrage par coïncidence
    }
  }

  .referentiel-anlci {
    border-radius: 0;
    padding: 1.125rem 0;
  }

  .titre-redaction {
    font-size: 1.5rem;
  }

  .aide-redaction {
    strong {
      font-weight: bold;
    }
  }

  .situation-redaction {
    font-size: 1.3rem;
    border: 0;
  }

  .recommandation-anlci {
    padding: 1rem 0 0;
    border-bottom: 0;
  }

  .page-lettrisme {
    .synthese-illettrisme {
      margin: 0 7rem 3rem;
      img {
        width: 5rem;
      }
      h2 {
        line-height: 2.313rem;
      }
    }
    .sous-competence__container img {
      height: 5rem;
    }
  }
}
