<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= md t('.corps',
             prenom: @compte.prenom,
             email: @compte.email,
             structure: @compte.structure.nom,
             code_campagne: @campagne.code,
             url_connexion: root_url,
             document_prise_en_main: Eva.document_prise_en_main
            ) %>
  </body>
</html>

