.autocomplete__menu--overlay {
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid #c5c5c5;
  font-family: $font-texte;
  color: $couleur-texte;
  background-color: $eva_light;
  overflow: hidden;
  padding: 0.3rem 0;
  box-shadow: 0 0 8px rgba(30, 65, 106, 0.25);

  .autocomplete__option {
    font-size: 1rem;

    &:hover, &--focused {
      background-color: $blue-france-sun-113-hover;
      border-color: $blue-france-sun-113-hover;
    }
  }
}
