// JQuery autocomplete :

.ui-autocomplete.ui-menu {
  border-radius: 0 0 0.5rem 0.5rem;
  font-family: $font-texte;
  color: $couleur-texte;
  background-color: $eva_light;
  overflow: hidden;
  padding: 0.3rem 0;
  box-shadow: 0px 0px 8px rgba(30, 65, 106, 0.25);

  .ui-menu-item {
    line-height: 1.1rem;
    cursor: pointer;
    .ui-menu-item-wrapper {
      padding: 0.25rem 1rem;
    }
    .ui-state-active {
      background-color: $eva_main_blue;
      color: $eva_light;
      border: none;
    }
  }

  &.recherche_structure {
    width: 266px;
  }

  &.responsable_suivi {
    width: 256px;
  }
}
