.badge-profil {
  height: 64px;
  width: 64px;
  border: 4px solid $eva_orange;
  border-radius: 100%;
  position: relative; /* Nécessaire pour le positionnement des enfants */
  font-family: $font-titre;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center; /* Centre le texte horizontalement */
  line-height: 56px; /* Aligne le texte verticalement */
}

.badge-profil::before {
  content: ""; /* Élément vide pour conserver la compatibilité avec d'autres cas d'usage */
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.badge-profil--complete {
  border-color: $eva_green;
}

.badge-profil--incomplet {
  border-color: $eva_orange;
}
