$barre-segmentee-succes: $emeraude-main-632;
$barre-segmentee-echec: $orange-terre-battue-main-645;
$barre-segmentee-non-passee: $grey-850;

.barre-segmentee p {
  margin: 0;
}

.barre-segmentee__legende {
  display: inline-block;
  color: $grey-425;
  @include dsfr-texte-xs;
  white-space: break-spaces;
}

.barre-segmentee__graphique {
  display: flex;
  gap: 2px;
  height: $dsfr-height-xxxs;
  border-radius: $dsfr-radius-sm;
  overflow: hidden;
  width: 100%;
  margin-top: $dsfr-spacing-2v;
}

.barre-segmentee__graphique-element {
  height: 100%;
}

.barre-segmentee__graphique-element--succes {
  background-color: $barre-segmentee-succes;
}

.barre-segmentee__graphique-element--echec {
  background-color: $barre-segmentee-echec;
}

.barre-segmentee__graphique-element--non-passee {
  background-color: $barre-segmentee-non-passee;
}

.barre-segmentee__score {
  color: $grey-50;
  @include dsfr-texte-sm;
}
