:root {
  --chiffre-cle-border-color: var(--green-emeraude-main-632);
}

.bilan-eva-pro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: $dsfr-spacing-3w;
  border: 1px solid var(--chiffre-cle-border-color);
  border-left: none;
}

.bilan-eva-pro__a-tres-bon {
  --chiffre-cle-border-color: var(--green-emeraude-main-632);
}

.bilan-eva-pro__b-bon {
  --chiffre-cle-border-color: var(--green-tilleul-verveine-main-707);
}

.bilan-eva-pro__c-moyen {
  --chiffre-cle-border-color: var(--orange-terre-battue-main-645);
}

.bilan-eva-pro__d-mauvais {
  --chiffre-cle-border-color: var(--pink-tuile-sun-425-moon-750);
}

.bilan-eva-pro__chiffre-cle {
  width: 282px;
}

.bilan-eva-pro__chiffre-cle .chiffre-cle {
  height: 100%;
}

.bilan-eva-pro__explication {
  flex: 1;
  display: flex;
  padding: $dsfr-spacing-2w $dsfr-spacing-2w $dsfr-spacing-2w 0;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-2w;
}

.bilan-eva-pro__explication p {
  margin: 0;

  @media print {
    @include corps-de-texte-lg-regular;
  }
}
