:root {
  --chiffre-cle-border-color: var(--light-options-illustration-color-main-default-green-emeraude-main-632, #00A95F);
}

.bilan-eva-pro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: var(--Space-3W, 1.5rem);
  border: 1px solid var(--chiffre-cle-border-color);
  border-left: none;
}

.bilan-eva-pro__a-tres-bon {
  --chiffre-cle-border-color: var(--light-options-illustration-color-main-default-green-emeraude-main-632, #00A95F);
}

.bilan-eva-pro__b-bon {
  --chiffre-cle-border-color: var(--light-options-illustration-color-main-default-green-tilleul-verveine-main-707, #B7A73F);
}

.bilan-eva-pro__c-moyen {
  --chiffre-cle-border-color: var(--light-options-illustration-color-main-default-orange-terre-battue-main-645, #E4794A);
}

.bilan-eva-pro__d-mauvais {
  --chiffre-cle-border-color: var(--light-options-illustration-color-sun-default-pink-tuile-sun-425, #A94645);
}

.bilan-eva-pro__chiffre-cle {
  width: 282px;
}

.bilan-eva-pro__chiffre-cle .chiffre-cle {
  height: 100%;
}

.bilan-eva-pro__explication {
  flex: 1;
  display: flex;
  padding: var(--Space-2W, 16px) var(--Space-2W, 16px) var(--Space-2W, 16px) 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-2W, 16px);
}

.bilan-eva-pro__explication p {
  margin: 0;
}
