
form input[type="submit"],
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a,
.has_many_container a.button {
  font-family: $font-texte;
  font-weight: normal;
  text-shadow: none;
  border: none;
  background: none;
}
form input[type="submit"],
.has_many_container a.button {
  @include bouton;
}
form input[type="submit"]:not(.disabled),
.has_many_container a.button:not(.disabled) {
  &:hover {
    background: none;
    background-color: $eva_main_blue;
  }
}
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a {
  @include bouton;
  font-size: .7rem;
  margin-right: 0;
  color: $eva_main_blue;
  background-color: #fff;
}
form.filter_form a.clear_filters_btn:not(.disabled),
form fieldset.actions li.cancel a:not(.disabled) {
  &:hover {
    background: none;
    background-color: #fff;
  }
}
