form input[type="submit"],
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a,
.has_many_container a.button {
  font-family: $font-texte;
  font-weight: normal;
  text-shadow: none;
  border: none;
  background: none;
}
form input[type="submit"],
.has_many_container a.button {
  @include bouton-arrondi;
}
form input[type="submit"]:not(.disabled),
.has_many_container a.button:not(.disabled) {
  &:hover {
    background: none;
  }
}
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a {
  @include bouton-arrondi;
  font-size: .7rem;
  margin-right: 0;
  color: $eva_main_blue;
  background-color: #fff;
}
form.filter_form a.clear_filters_btn:not(.disabled),
form fieldset.actions li.cancel a:not(.disabled) {
  &:hover {
    background: none;
  }
}

button,
button:not(.disabled):hover {
  text-shadow: none;
  font-weight: normal;
  box-shadow: none;
  border: 0;
  background-image: none;
  background-color: none;
}

@mixin bouton-base() {
  &, &:link, &:visited {
    text-decoration: none;
  }
  border-radius: .5rem;
  border: 1px solid transparent;
  padding: .5rem;
  font-size: .75rem;
  cursor: pointer;
}

.bouton {
  @include bouton-base();

  &.bouton-light {
    background-color: $eva_light;
    color: $eva_dark_blue_grey;
  }

  &.bouton-outline-light {
    background-color: transparent;
    color: $eva_light;
    border-color: $eva_light;
  }

  &.bouton-principal {
    @include bouton-carte($eva_main_blue);
  }

  &.bouton-arrondi {
    @include bouton-arrondi;
    padding: 0.5rem 1.5rem;
  }

  &.bouton-retour {
    align-items: center;
    display: flex;
    border: none;
    color: $eva_dark;
    padding: 0;
    line-height: 10px;

    &::before {
      content: asset-data-url('icones/fleche_gauche.svg');
      margin-right: .5rem;
    }
  }
}
