form input[type="submit"],
form button,
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a,
.has_many_container a.button {
  font-family: $font-texte;
  font-weight: normal;
  text-shadow: none;
  border: none;
  background: none;
}

form input[type="submit"] {
  @include bouton-primaire;
  @include grand-bouton;
}
form input[type="submit"].bouton-secondaire {
  @include bouton-secondaire;
  @include grand-bouton;
}

.has_many_container a.button {
  @include bouton-primaire;
  @include tres-petit-bouton;
}
form input[type="submit"]:not(.disabled),
form button:not(.disabled),
.has_many_container a.button:not(.disabled) {
  &:hover, &:active {
    background-image: none;
  }
}
form.filter_form a.clear_filters_btn,
form fieldset.actions li.cancel a,
.action-secondaire {
  @include bouton-secondaire();
  &, &:link, &:visited, &:active {
    color: $eva_main_blue;
  }
  &:not(.disabled):hover, &:not(.disabled):active {
    filter: brightness(96%);
    border-color: $eva_main_blue;
    background-color: $grey-1000;
    background-image: none;
    box-shadow: none;
  }
}
form fieldset.actions li.bouton-annuler a,
form fieldset.actions li.cancel a,
.action-secondaire {
  @include grand-bouton;
}

button,
form button:not(.disabled):hover,
button:not(.disabled):hover {
  text-shadow: none;
  font-weight: normal;
  box-shadow: none;
  background-image: none;
  background-color: $grey-1000;
}


button.bouton, a.bouton, .bouton {
  @include bouton-primaire;

  &.bouton--actif, &.bouton--actif:hover {
    background-color: $blue-france-sun-113-active;
    cursor: unset;
  }

  &.bouton--desactive {
    pointer-events: none;
    &, &:link, :visited {
      color: $grey-625;
    }
    background-color: $grey-925;
    border-color: $grey-925;
  }

  &.bouton-menu {
    @include bouton-tertiaire-sans-contour;
    background-color: $grey-1000;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin: 0;
    padding: 0;

    align-items: center;

    &::before {
      content: asset-data-url('icones/trois_points.svg');
    }
  }
}

.bouton-secondaire {
  @include bouton-secondaire;

  &.bouton--actif, &.bouton--actif:hover {
    filter: brightness(92%);
    cursor: unset;
  }
}
.tres-petit-bouton {
  @include tres-petit-bouton;
}

.grand-bouton,
a.grand-bouton {
  @include grand-bouton;
}

.petit-bouton,
form input[type="submit"].petit-bouton {
  @include petit-bouton;
}

.bouton-disabled {
  @include bouton-disabled;
}

.bouton-actions {
  @include bouton-action;
}
