.card-validation {
  @include carte-avec-ombre();
  padding: 0.75rem 1.5rem;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .875rem;
  min-height: 3rem;

  .information-principale, 
  .information-secondaire {
    word-break: break-word;
  }

  .information-principale {
    width: 12rem;
    font-weight: 600;
    a {
      color: $couleur-liens;
      text-decoration: none;
    }
  }

  .information-secondaire {
    width: 13.75rem;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    color: $eva_dark_blue_grey;
    margin-right: 0.75rem;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    min-width: 8rem;

    .action {
      height: 1.5rem;
      display: flex;
      justify-content: center;
      width: 4rem;
      align-items: center;
      color: $eva_light;
      margin: 0;
      text-decoration: none;
      background-color: $couleur-texte;
      box-sizing: border-box;
      font-size: .75rem;

      &.lien-autoriser {
        background-color: $info-950;
        color: $info-425;
        &:hover {
          background-color: $info-950-hover;
          color: $info-425-hover;
        }
      }

      &.lien-refuser {
        background-color: $warning-950;
        color: $warning-425;
        &:hover {
          background-color: $warning-950-hover;
          color: $warning-425-hover;
        }
      }

      &:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
      &:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      } 
    }
  }
}
