.card {
  border-radius: 0.5rem;
  background: $white;
  margin-bottom: 1.5rem;
  overflow: hidden;
  font-size: 0.875rem;
  @include ombre();

  .card-body {
    padding: 1.5rem;
  }

  .card__banner {
    line-height: 1rem;
      &.card__banner--alert {
      background-color: $eva-orange;
    }
    h4 {
      margin-bottom: 1rem;
    }
    .banner__action {
      p {
        margin: 0;
      }
    }
    .bouton-principal {
      max-width: 10.5rem;
    }
  }
}
