.carte-v2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-3W, 24px);
  align-self: stretch;
  padding: var(--Space-7W, 56px) 102px;
  border: 1px solid var(--color-border-default, #DDD);
  background: var(--color-background-default-grey, #FFF);
  overflow: hidden;

  &__title {
    color: var(--color-text-title, #161616);
    font-family: var(--Titres-Font, Quicksand);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    align-self: flex-start;
  }

  &__image img {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    height: 100%;
  }
}
