#card-grise {
  .panel__carte {
    @include carte-grise();
    padding: 1rem;
    line-height: 13px;
    color: $eva-dark;

    >*:not(:last-child) {
      margin-bottom: .5rem;
    }

    h4 {
      font-size: 0.875rem
    }

    p {
      font-style: italic;
    }
  }

  .carte__duree {
    font-style: italic;
  }
}
