.diagnostique {
  display: flex;
  width: 282px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--light-decisions-border-border-default-grey, #DDD);
  background: var(--light-decisions-background-background-default-grey, #FFF);
}

.diagnostique-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;
}

.diagnostique-media__badge {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 12px;
  top: 12px;
}

.diagnostique-media__logos {
  display: flex;
  height: 158.625px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  aspect-ratio: 16/9;
  background: var(--light-options-illustration-color-975-default-beige-gris-galet-975, #F9F6F2);
}

.diagnostique-media__logos-opco {
  display: flex;
  width: 102px;
  height: 56px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 51/28;
  img {
    height: 56px;
    width: auto;
    object-fit: contain;
  }
}

.diagnostique-media__logos-evapro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 12px;
  bottom: 11.625px;
}

.diagnostique-media__logos-evapro-image {
  display: flex;
  width: 51px;
  height: 15.723px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 51.00/15.72;
}

.diagnostique-media__logos-evapro-image-png {
  width: 51px;
  height: 15.723px;
  flex-shrink: 0;
}

.diagnostique-media__logos-evapro-generique {
  display: flex;
  width: 102px;
  height: 56px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 51.00/15.72;
}

.diagnostique-media__logos-evapro-generique-image {
  display: flex;
  width: 102px;
  height: 56px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 51.00/15.72;
}

.diagnostique-media__logos-evapro-generique-image-png {
  width: 102px;
  flex-shrink: 0;
}

.diagnostique-contenu {
  display: flex;
  padding: $dsfr-spacing-6v;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-3v;
  align-self: stretch;
}

.diagnostique-contenu__precision {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-2v;
  align-self: stretch;
}

.diagnostique-contenu__precision-detail {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.diagnostique-contenu__corps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-2v;
  align-self: stretch;
}

.diagnostique-contenu__titre {
  @include h6-xxs-desktop;

  color: var(--light-decisions-text-text-title-grey, #161616);
  margin: 0;
}

.diagnostique-contenu__description {
  overflow: hidden;
  color: var(--light-decisions-text-text-default-grey, #3A3A3A);
  text-overflow: ellipsis;

  @include body-md-base;
}

.diagnostique-contenu__action {
  display: flex;
  padding-top: $dsfr-spacing-2v;
  align-items: flex-start;
  gap: $dsfr-spacing-4v;
  align-self: stretch;
}
