$grid-gutter-width: 1.25rem;

.carte-prise-en-main {
  display: grid;
  grid-template-columns: 66% 33%;
  @media (max-width: 640px) {
    grid-template-columns: 60% 40%;
  }
  grid-gap: $grid-gutter-width;
  @include carte-avec-ombre();
  overflow: hidden;
  background-color: $eva_light;
  margin-bottom: 0.5rem;
  h2 {
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .carte {
    &__etape {
      margin-right: -$grid-gutter-width;
      border-bottom-left-radius: 0.5rem;
    }
    &__illustration {
      width: 10.938rem;
      height: 10.125rem;
    }
    &__titres {
      width: 20.5rem;
    }
    &__action a {
      max-width: 14rem;
    }
    &__progression {
      background-color: $eva_bluegrey;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        @include h3();
        color: $grey-50;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          @include titre();
          line-height: 1.125rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: .5rem;
          margin-top: 1rem;
        }
      }
    }
    &__entete {
      padding: 0 1.5rem;
    }
    &__description {
      padding: 1rem 1.5rem;
      p {
        margin-bottom: .5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
