$grid-gutter-width: 1.25rem;

.carte-prise-en-main {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: $grid-gutter-width;
  @include carte-avec-ombre();
  overflow: hidden;
  background-color: $eva_light;
  margin-bottom: 3rem;
  h2 {
    line-height: 1.875rem;
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .carte {
    &__etape {
      margin-right: -$grid-gutter-width;
      border-bottom-left-radius: 0.5rem;
    }
    &__illustration {
      width: 11rem;
    }
    &__progression {
      background-color: $eva_main_blue;
    }
    &__entete {
      padding: 0 1.5rem;
    }
    &__description {
      padding: 1rem 1.5rem;
    }
  }
}
