.card {
  @include carte-avec-ombre;
  margin-bottom: 1.5rem;
  overflow: hidden;
  font-size: 0.875rem;

  &.carte-liste {
    @include texte-xs;
    color: $eva_dark;
    padding: 0 1rem;
    min-height: 3rem;
    margin-bottom: 0;
    margin-top: .5rem;

    .carte__nom {
      font-family: $font-titre;
      font-weight: bold;

      a {
        color: $eva_dark;
        text-decoration: none;
      }
    }

    .tag {
      background-color: white;
    }

    &:hover {
      background-color: $eva_main_light;
    }
  }

  .card-body {
    padding: 1.5rem;
  }

  .card__banner {
    &.card__banner--alert {
      background-color: $eva-orange;
    }
    h4 {
      margin-bottom: 1rem;
    }
    &--green {
      $banner-padding: 1.5rem;
      padding: $banner-padding;
      gap: 2rem;
      h4 {
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 0.5rem;
      }
      background-color: $eva-green;
      &__button {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
      }
      .banner__icone {
        margin-bottom: -$banner-padding;
      }
    }
    .banner__action {
      p {
        margin: 0;
      }
    }
    .bouton-principal {
      display: block;
      max-width: 10.5rem;
    }
  }
}
