.carte-v2 {
  border: 1px solid $grey-900;
  border-radius: $dsfr-radius-md;
  background-color: white;
  overflow: hidden;

  &__header {
    background-color: var(--background-active-blue-france);
    padding: 1.375rem 1.5rem;
  }

  &__title {
    @include h6();
    color: white;
  }

  &__content {
    padding: 1.5rem;
  }
}
