.card-usage {
  display: flex;
  width: 24rem;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-default-grey);
  background: var(--background-default-grey);
}

.card-usage__media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.card-usage__visuel-16-9 {
  display: flex;
  height: 13.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  aspect-ratio: 16/9;
  background: var(--beige-gris-galet-975-75, #F9F6F2);
}

.card-usage__visuel-image-container {
  width: 4.6875rem;
  height: 4rem;
  flex-shrink: 0;
  aspect-ratio: 75/64;
  object-fit: contain;
}

.card-usage__visuel-image {
  width: 75px;
  height: 64px;
  flex-shrink: 0;
  aspect-ratio: 75/64;
  fill: var(--text-title-grey);
}

.card-usage__visuel-image-asset {
  width: 13rem; // 208px
  height: 4rem; // 64px
  flex-shrink: 0;
  object-fit: contain;
}

.card-usage__contenu {
  display: flex;
  padding: $dsfr-spacing-8v;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-4v;
  align-self: stretch;
  flex: 1;
  min-height: 0;
}

.card-usage__corps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-3v; // 12px
  align-self: stretch;
}

.card-usage__titre {
  @include titre-h5;

  margin: 0;
  color: var(--text-action-high-blue-france);
}

.card-usage__texte {
  height: 120px;
  align-self: stretch;
  overflow: hidden;
  margin: 0;
  color: var(--text-default-grey);
  text-overflow: ellipsis;

  @include corps-de-texte-sm-regular;
}

.card-usage__zone-d-action {
  display: flex;
  padding-top: $dsfr-spacing-2v; // 8px
  justify-content: flex-end;
  align-items: flex-end;
  gap: $dsfr-spacing-3v;
  align-self: stretch;
  margin-top: auto;
}

.card-usage__icone {
  display: flex;
  width: $dsfr-icon-size-md;
  height: $dsfr-icon-size-md;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  color: var(--text-action-high-blue-france);
  cursor: pointer;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    border: none;
    background: transparent;
    color: var(--text-action-high-blue-france);
  }
}

.card-usage__icone-svg {
  width: 1rem; // 16px
  height: 1rem;
}
