#card-parcours-type {
  .carte {
    @include carte-grise;
    @include texte-xs;

    padding: 1rem;
    color: $eva-dark;

    >*:not(:last-child) {
      margin-bottom: .5rem;
    }

    h4 {
      font-size: 0.875rem;
      color: $grey-50;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .carte__duree {
    font-style: italic;
  }
}
