.carte-v2 {
  display: flex;
  flex-direction: column;
  border: 1px solid $grey-900;
  border-radius: $dsfr-radius-md;
  background-color: white;
  overflow: hidden;

  &__header {
    background-color: var(--background-active-blue-france);
    padding: 1.375rem 1.5rem;
  }

  &__title {
    @include h6();
    color: white;
  }

  &__image img {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 1.5rem;
    height: 100%;
  }
}
