:root {
  --chiffre-cle-border-color: var(--green-emeraude-main-632);
  --chiffre-cle-background-color: var(--green-emeraude-975-75);
}

.chiffre-cle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  position: relative;
  background-color: var(--chiffre-cle-background-color);
}

.chiffre-cle__a-tres-bon {
  --chiffre-cle-border-color: var(--green-emeraude-main-632);
  --chiffre-cle-background-color: var(--green-emeraude-975-75);
}

.chiffre-cle__b-bon {
  --chiffre-cle-border-color: var(--green-tilleul-verveine-main-707);
  --chiffre-cle-background-color: var(--green-tilleul-verveine-975-75);
}

.chiffre-cle__c-moyen {
  --chiffre-cle-border-color: var(--orange-terre-battue-main-645);
  --chiffre-cle-background-color: var(--orange-terre-battue-975-75);
}

.chiffre-cle__d-mauvais {
  --chiffre-cle-border-color: var(--pink-tuile-sun-425-moon-750);
  --chiffre-cle-background-color: var(--pink-tuile-975-75);
}

.chiffre-cle__bordure {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background-color: var(--chiffre-cle-border-color);
}

.chiffre-cle__prefixe {
  @include corps-de-texte-sm-regular;
}

.chiffre-cle__chiffre {
  @include titre-h2;
}

.chiffre-cle__suffixe {
  @include corps-de-texte-sm-regular;
}

