.code {
  font-family: $font-texte;
  font-size: $dsfr-font-size-2xl;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex; // Permet d'éviter d'avoir un caractère espace entre les lettres (et donc un code invalide)
  letter-spacing: 2.4px;
}

.code--bleu {
  color: $eva_dark;
}

.code--violet {
  color: $eva_jeu_main_blue;
}
