.code {
  font-family: $font-texte;
  font-size: $dsfr-font-size-2xl;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.code--bleu {
  color: $eva_dark;
}

.code--violet {
  color: #6E84FE;
}
