$taille-ellipse: 1.5rem;
$hauteur-tick: .5rem;
$largeur-tick: .75rem;

@mixin couleur-ellipse() {
  &.ellipse--alerte {
    background-color: $eva_orange;
  }

  &.ellipse--active {
    border: 1px solid $grey-850;
    background-color: $eva_light;
  }

  &.ellipse--desactive {
    border: 1px solid $grey-850;
    background-color: $eva_bluegrey;
  }

  &.ellipse--succes {
    background-color: $eva_green;
  }
}

button.ellipse {
  &:hover {
    @include couleur-ellipse();
  }

}

.ellipse {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  border: none;
  padding: 0;
  @include couleur-ellipse();

  &.ellipse-a-cocher {
    width: $taille-ellipse;
    height: $taille-ellipse;
  }
}

.ellipse-a-cocher__tick {
  top: calc(#{$taille-ellipse - $hauteur-tick} / 2);
  left: calc(#{$taille-ellipse - $largeur-tick} / 2);
}

