// ============================================================================
// Composant EvaProScore - Paliers A, B, C, D
// ============================================================================

// --- EvaProScoreItemComponent ---

.eva-pro-score-item {
  --eva-pro-score-item-bg: var(--green-emeraude-850-200);

  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--eva-pro-score-item-bg);

  &__lettre {
    @include corps-de-texte-xs-regular;

    color: var(--text-label-grey);
  }

  // Variantes couleur par lettre
  &--a {
    --eva-pro-score-item-bg: var(--green-emeraude-850-200);
  }

  &--b {
    --eva-pro-score-item-bg: var(--green-tilleul-verveine-925-125);
  }

  &--c {
    --eva-pro-score-item-bg: var(--orange-terre-battue-main-645);
  }

  &--d {
    --eva-pro-score-item-bg: var(--pink-tuile-main-556);
  }

  // Variante active
  &--active {
    width: 1.5rem;
    height: 1.75rem;
    border-radius: var(--Radius-SM, 4px);
    border: 2px solid var(--dark-decisions-border-border-action-high-grey, #FFF);

    .eva-pro-score-item__lettre {
      @include corps-de-texte-md-bold;

      color: var(--text-label-grey);
    }
  }
}

// --- EvaProScoreComponent ---

.eva-pro-score {
  display: flex;
  width: 5.25rem;
  align-items: center;
}
