.sidebar_section {
  form.filter_form {
    .filter_form_field {
      &.select_and_search,
      &.filter_date_range {
        input[type='text'] {
          width: 7.188rem;
        }
      }
    }
    .input:not(.select_and_search) {
      select {
        width: 100%;
      }
    }
    .select2-selection {
      height: 100%;
    }
  }
}
