.sidebar_section {
  form {
    &.filter_form {
      .filter_form_field {
        &.select_and_search {
          input[type='text'] {
            width: 6.4rem;
          }
        }
        &.filter_date_range {
          input:first-of-type {
            margin-bottom: 0.5rem;
          }
        }
      }
      .select2-selection {
        padding: .5rem 0.5rem;
      }
    }

    .buttons {
      margin-top: 1rem;
      display: flex;
    }

    .filter_form_field {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    label {
      text-transform: none;
      font-weight: normal;
      color: $couleur-texte;
      width: 100%;
      line-height: 1.5rem;
    }
  }
}
