@mixin flash-alert() {
  color: $eva-dark;
  background-color: $eva-orange;
}

@mixin flash-success() {
  color: $eva_light;
  background-color: $eva_green;
}

@mixin flash-error() {
  background-color: $eva_red;
  color: $eva_light;
}

.flash {
  @include texte-xs;
  font-weight: normal;
  text-shadow: none;
}

body.logged_in {
  .flashes {
    display: flex;
    flex-direction: column-reverse;
  }

  .flash {
    @include ombre();
    display: flex;
    align-items: center;
    padding: .5rem 1.25rem;
    line-height: 1.5;

    &:first-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 2rem;
      min-width: 2rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    a {
      color: $eva_dark;
    }

    &_annonce_generale,
    &_compte_generique,
    &_evaluation_anonyme,
    &_beneficiaire_anonyme,
    &_alert {
      @include flash-alert;

      &::before {
        background-image: asset-data-url('icones/alert.svg');
      }
    }

    &_notice,
    &_success {
      @include flash-success;

      &::before {
        background-image: asset-data-url('icones/notice.svg');
      }
    }

    &_error {
      @include flash-error;

      &::before {
        background-image: asset-data-url('icones/error.svg');
      }

      a {
        color: $eva_light;
      }
    }
  }
}

body.logged_out {
  .flashes {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: -10px;
    z-index: 2;
    text-align: center;
  }
  .flash {
    display: inline-block;
    padding: .375rem 1rem;
    position: relative;
    border-radius: 0.75rem;
    color: $eva_light;
    margin-bottom: 0;
    &_notice {
      background-color: $eva_dark_green;
    }
    &_alert, &_error, &_recaptcha_error {
      @include flash-error;
    }
  }
}
