@mixin flash-alert() {
  color: $warning-425;
  background-color: $warning-950;
}

@mixin flash-success() {
  color: $success-425;
  background-color: $success-950;
}

@mixin flash-error() {
  color: $error-425;
  background-color: $error-950;
}

.flash {
  @include texte-xs;

  font-weight: normal;
  text-shadow: none;
}

body.logged_in {
  .flashes {
    display: flex;
    flex-direction: column-reverse;
  }

  .flash {
    display: flex;
    align-items: center;
    line-height: 1.5;

    @include panel_alerte;

    padding: 0.625rem 2.25rem 0.625rem 3.5rem;
    border-top: 0;
    &::before {
      margin: 0.5rem;
    }

    &:first-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    a {
      color: $couleur-texte;
    }

    &_annonce_generale,
    &_compte_generique,
    &_evaluation_anonyme,
    &_beneficiaire_anonyme,
    &_alert {
      @include panel_alerte_couleur($warning-425, 'icones/alert.svg');
    }

    &_notice {
      @include panel_alerte_couleur($info-425, 'icones/info.svg');
    }

    &_success {
      @include panel_alerte_couleur($success-425, 'icones/success.svg');
    }

    &_error {
      @include panel_alerte_couleur($error-425, 'icones/error.svg');

      a {
        color: $eva_light;
      }
    }
  }
}

body.logged_out:not(.page_inscription_v2) #wrapper {
  .flashes {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: -10px;
    z-index: 2;
    text-align: center;
  }
  .flash {
    display: inline-block;
    padding: .375rem 1rem;
    position: relative;
    border-radius: 0.75rem;
    color: $eva_light;
    margin-bottom: 0;
    &_notice {
      @include flash-success;
    }
    &_alert, &_error, &_recaptcha_error {
      @include flash-error;
    }
  }
}
