@mixin base-input {
  background-color: $grey-950;
  border-radius: .25rem .25rem 0 0;
  border: 0;
  box-shadow: inset 0 -2px 0 0 $grey-200;
  color: $grey-200;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem 1rem;
  width: 100%;
  text-rendering: optimizeLegibility;

  &:focus {
    @include focus();
    border: 0;
    box-shadow: inset 0 -2px 0 0 $grey-200;
  }
}

@mixin hint {
  color: var(--text-mention-grey);
  margin: 0;
  font-style: normal;
}

input::placeholder {
  color: $grey-425;
  font-style: italic;
  opacity: 1;
}

form fieldset.inputs {
  max-width: 70%;
}

.panel form fieldset.inputs,
form .panel fieldset.inputs {
  max-width: 100%;
}


form {
  fieldset {
    padding: 0;

    &.inputs,
    legend span {
      box-shadow: none;
    }

    &.inputs {
      background-color: $eva_light;
    }

    legend span {
      font-family: $font-titre;
      text-shadow: none;
      color: $eva_main_blue;
      background: $eva_bluegrey;
    }

    >ol>li {
      padding: 0;
      margin-bottom: 1rem;

      &.has_many_container {
        display: block;
      }

      &:last-child {
        margin-bottom: 0;
      }

      label {
        line-height: 1.875rem;
        font-size: 1rem;
        width: 100%;
        padding-right: .75rem;
        text-transform: none;
        font-weight: normal;
        color: $couleur-texte;

        abbr[title] {
          text-decoration: none;
          color: $couleur-accent-erreur;
        }
      }

      &.boolean label {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 0;
      }

      &.error {
        position: relative;

        &::before {
          background-image: linear-gradient(0deg, $error-425, $error-425);
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: .125rem 100%;
          bottom: 0;
          content: "";
          display: block;
          left: -.75rem;
          pointer-events: none;
          position: absolute;
          right: -.75rem;
          top: 0;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="url"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="search"],
        select,
        textarea {
          border: 1px solid $eva_red;
        }

        label {
          color: $eva_red;
        }
      }

      p.inline-errors {
        color: $eva_red;
        margin: 0.3em 0 0 0;
        font-weight: normal;
        font-size: .75rem;
        margin-top: 1rem;

        &::before {
          --icon-size: 1rem;
          mask-image: asset-data-url('icone_erreur.svg');
          background-color: currentColor;
          content: "";
          display: inline-block;
          flex: 0 0 auto;
          height: var(--icon-size);
          margin-right: .25rem;
          -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
          vertical-align: calc((.75em - var(--icon-size))*.5);
          width: var(--icon-size);
        }
      }

      p.inline-hints {
        @include hint();

        a {
          float: none;
        }
      }
    }

    select {
      appearance: none;
      position: relative;
      padding-left: .5rem;
      padding-right: 2rem;
    }

    li.select {
      position: relative;

      .select2-container--default,
      &.fleche-select {
        &::after {
          content: '';
          color: $eva_main_blue;
          right: 0.7rem;
          position: absolute;
          pointer-events: none;
          background-image: asset-data-url('fleche_select.svg');
          height: 1rem;
          width: 1rem;
        }

        &.select2-container--disabled::after {
          opacity: 0.3;
        }
      }

      .select2-container--default::after {
        top: 0.5rem;
      }

      &.fleche-select::after {
        top: 2.4rem;
      }

      .select2-selection__arrow {
        display: none;
      }

      .select2-selection__clear {
        margin-right: .7rem;
      }
    }

    &.actions {
      margin-top: 1rem;

      ol {
        width: 100%;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  input[type="search"],
  select,
  textarea {
    @include base-input();
  }

  input[type="search"] {
    background-image: image-url('loupe-recherche.svg');
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding-left: 2rem;
  }
}

#error_explanation {
  .errors {
    background: $eva_red;
    border-radius: 4px;
    color: $eva_light;
    margin: 0 0 0.5rem;
    padding: 10px 10px 10px 2rem;
    list-style: square;
  }
}

/* SELECT2 */
form:not(.filter_form) .select2-container {
  width: 100% !important;
}

.select2 {
  &-container {
    max-width: 100%;

    .select2-selection {
      @include base-input();
      height: 2.5rem;
    }
  }

  &-results__option {
    color: $couleur-texte;

    &:focus {
      border: 1px solid $eva_main_blue;
      @include ombre();
    }
  }
}

.select2-container--default .select2-selection--single {
  border-color: $eva_bluegrey;

  .select2-selection__arrow b {
    border-color: $eva_main_blue transparent transparent transparent;
  }

  .select2-selection__rendered {
    color: $couleur-texte;
  }
}
