form {
  fieldset {
    &.inputs,
    legend span {
      box-shadow: none;
    }
    &.inputs {
      background-color: $eva_light;
    }
    legend span {
      font-family: $font-titre;
      text-shadow: none;
      color: $eva_main_blue;
      background: $bluegrey;
    }
  }
}

.libelle-long {
  label {
    line-height: 1;
  }
}

form fieldset > ol > li {
  &.boolean label {
    padding-left: 30%;
    width: 90%;
    display: flex;
    align-items: center;
  }
}

form fieldset ol > li,
.sidebar_section form {
  label {
    line-height: 1.875rem;
    font-size: .875rem;
    text-transform: none;
    font-weight: normal;
    color: $eva_dark;
    width: 30%;

    abbr[title] {
      text-decoration:none;
      color: $couleur-accent-erreur;
    }
  }
}

form h3,
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
.sidebar_section form.filter_form input[type="text"],
form textarea,
.select2-results__option,
form > ol > li p.inline-hints {
  color: $eva_dark;
}

.sidebar_section form.filter_form ::placeholder,
form ::placeholder {
  color: $couleur-texte;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
.sidebar_section form.filter_form input[type="text"],
form text-area,
.select2-results__option {
  border-color: $bluegrey;
  border-radius: .5rem;
}

.select2-container--default .select2-selection--single {
  border-color: $bluegrey;
  .select2-selection__arrow b {
    border-color: $eva_main_blue transparent transparent transparent;
  }
  .select2-selection__rendered {
    color: $couleur-texte;
  }
}

form fieldset > ol > li.boolean label {
  padding-left: 30%;
  width: 90%;
  display: flex;
  align-items: center;
}

form fieldset > ol > li.error {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  textarea {
    border: 1px solid $eva_red;
  }
}

form fieldset > ol > li p.inline-errors {
  margin-left: 30%;
  color: $eva_red;
}

#error_explanation {
  .errors {
    background: $eva_red;
    border-radius: 4px;
    color: $eva_light;
    margin: 0 0 0.5rem;
    padding: 10px 10px 10px 2rem;
    list-style: square;
  }
}
