.fr-header {
  &.fr-header--logged-in {
    --background-raised-grey: var(--background-alt-blue-france);
    --background-raised-grey-hover: var(--light-decisions-background-background-transparent-hover, rgba(0, 0, 0, 0.04));
  }
}

.fr-header__menu-btn,
.fr-header__menu .fr-btn--close {
  border-radius: 0;
}
