.fr-header {
  &.fr-header--logged-in {
    background: var(--light-decisions-background-background-alt-blue-france, #F5F5FE);

    .fr-header__body,
    .fr-header__menu {
      background: var(--light-decisions-background-background-alt-blue-france, #F5F5FE);
    }
    .fr-header__operator{
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 8rem;
        height: 2.4664rem;
        aspect-ratio: 128.00 / 39.46;
        object-fit: contain;
      }
    }
  }

  .tools-links {
    // .fr-btn  {
    //   align-items: center;
    //   background-color: var(--background-action-high-blue-france);
    //   color: $eva_main_blue;
    //   display: inline-flex;
    //   flex-direction: row;
    //   font-weight: 500;
    //   @include dsfr-texte-md();
    //   min-height: $dsfr-spacing-10v;
    //   padding: $dsfr-spacing-2v $dsfr-spacing-4v;
    //   width: -moz-fit-content;
    //   width: fit-content;
    //   border-radius: 0;
    // }

    // .fr-btn--tertiary {
    //   --hover: inherit;
    //   --active: inherit;
    //   background-color: transparent;
    //   border-color: var(--border-default-grey) !important;
    //   border: 1px;
    //   box-shadow: inset 0 0 0 1px var(--border-default-grey) !important;
    //   color: $eva_main_blue !important;
      
    //   &:hover {
    //     background-color: var(--hover-tint) !important;
    //   }
    // }
  }


	/* Fix pour le header pour le passage en mode mobile*/
	
  .fr-header__brand {
    background: transparent;
    filter: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    z-index: auto;
  }

  .tools-links {
    display: flex;
    flex-direction: row;
    gap: $dsfr-spacing-2v;
    justify-content: flex-end;

    .fr-btns-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0 !important;
 
      > li,
      > div {
        width: auto;
        max-width: none;
      }
    }
  }

  // A supprimer quand on gerera le mobile
  // .fr-btns-group:not(.fr-btns-group--sm):not(.fr-btns-group--lg):not([class^=fr-btns-group--icon-]):not([class*=" fr-btns-group--icon-"]) .fr-btn[class^=fr-icon-] {
  //   @include dsfr-texte-sm();
  //   max-height: none;
  //   max-width: 100%;
  //   min-height: $dsfr-spacing-8v;
  //   overflow: initial;
  //   padding: $dsfr-spacing-1v $dsfr-spacing-3v;
  // }
}
