.fr-header {
  &.fr-header--logged-in {
    background: var(--light-decisions-background-background-alt-blue-france, #F5F5FE);
  }
}

.fr-header__menu-btn,
.fr-header__menu .fr-btn--close {
  border-radius: 0;
}
