// ============================================================================
// Composant Impact Stepper
// ============================================================================

.indicateur_impact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $dsfr-spacing-3v;
  align-self: stretch;
}

.etape_courante {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.etape_courante__titre {
  color: var(--text-title-grey);
  font-family: var(--Titres-Font, Quicksand);
  font-size: var(--Titres-H6---XXS-Size, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--Titres-H6---XXS-Line-Height, 28px); /* 140% */
}

.etape_courante_indicateur {
  color: var(--text-default-grey);
  font-family: var(--Body-SM---Texte-dtail-Font, "Work Sans");
  font-size: var(--Body-SM---Texte-dtail-Size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-SM---Texte-dtail-Line-Height, 24px); /* 171.429% */
}

.explication {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.explication__pourquoi {
  color: var(--text-mention-grey);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px); /* 166.667% */
}

.explication__description {
  color: var(--text-mention-grey);
  font-family: var(--Body-XS---Texte-mention-Font, "Work Sans");
  font-size: var(--Body-XS---Texte-mention-Size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Body-XS---Texte-mention-Line-Height, 20px); /* 166.667% */
}

// Styles spécifiques pour le composant dans le contexte des impact-steppers
.impact-steppers .indicateur_impact .barre-segmentee {
  margin-top: 0;
  margin-bottom: 0;
}

.impact-steppers .indicateur_impact .barre-segmentee__graphique {
  margin-top: 0;
}

.impact-steppers .indicateur_impact .barre-segmentee__graphique-element.barre-segmentee__graphique-element--impact {
  background-color: #000091 !important;
}

