.input-choix {
  /* reset style */
  li.radio {
    fieldset ol {
      padding: 0;
      margin: 0;
      width: 100%;
    }
    &.error {
      .choix-item {
        border-color: $eva_red;
      }
    }
  }
  /* fin reset style */

  input { display: none; }

  > ol > li {
    display: flex;
    flex-direction: column;
  }

  .choices-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .choix-item {
    height: 100%;
    padding: 1rem;
    @include carte-avec-bordure();
    cursor: pointer;
    transition: background-color,border-color,box-shadow, color .2s;
    user-select: none;
    display: flex;
    flex-direction: column;
  }

  .choice {
    width: 50%;
    margin-bottom: 0.875rem;
    padding: 0 0.44rem;

    label {
      padding: 0;
    }

    input + .choix-item {
      &:hover {
        box-shadow: 0 0 0 2px $eva_main_blue;
        border-color: transparent;
        .choix-titre {
          color: $eva_main_blue;
        }
      }
    }

    .choix-titre {
      @include titre();
      font-size: .875rem;
      color: $couleur-texte;
      margin-bottom: .625rem;
    }

    .choix-parcours-description, .choix-parcours-duree-moyenne {
      color: $couleur-texte;
      font-size: .75rem;
      line-height: .875rem;
      margin: 0;
    }

    .choix-parcours-duree-moyenne {
      font-style: italic;
    }

    .choix-situation-optionnelle-duree-moyenne, .choix-situation-optionnelle-description {
      color: $couleur-texte;
      font-size: .75rem;
      line-height: .875rem;
      font-weight: normal;
      font-style: italic;
    }

    .choix-parcours-description {
      flex: 1;
      margin-bottom: 1rem;
      ul {
        padding-left: 1.5em;
        list-style-type: disc;
      }
    }

    input:checked + .choix-item {
      border-color: $couleur-texte;
      background: $eva_main_blue;

      .choix-titre {
        color: $eva_dark;
      }

      &, div, span, p, ul li {
        color: $eva_light;
      }
    }

  }

  .inline-errors {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }

}

.input-choix-parcours {
  input + .choix-item {
    min-height: 250px;
  }
}

.input-choix-situation-optionnelle {
  .choices-group, .choice {
    width: 100%;
    padding: 0;
  }

  input + .choix-item {
    min-height: 125px;
  }

  .checkbox-situation-optionnelle-container {
    display: flex;
    align-items: center;
  }

  .choix-item {
    padding-right: 2.75rem;
    display: flex;
    flex-direction: row;
  }

  input:checked + .choix-item .checkbox-situation-optionnelle img {
    display: inline;
  }
}

.checkbox-situation-optionnelle {
  height: 1rem;
  width: 1rem;
  background: $eva_light;

  border: 1px solid  $eva_bluegrey;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 12px;
  text-align: center;

  img {
    display: none;
  }
}
