.input-choix-parcours {
  /* reset style */
  li.radio fieldset ol {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  /* fin reset style */

  input { display: none; }

  .choices-group {
    display: flex;
    justify-content: space-between;
  }

  .choice {
    width: 48%;
    margin-bottom: 0;

    label {
      padding: 0;
    }

    input + .choix-parcours-item {
      @include sous-carte();
      height: 100%;
      min-height: 250px;
      padding: 1rem;
      cursor: pointer;
      transition: background-color,border-color,color .2s;
      user-select: none;
      display: flex;
      flex-direction: column;
    }

    .choix-parcours-titre {
      @include titre();
      font-size: .875rem;
      color: $couleur-texte;
      margin-bottom: .625rem;
    }

    .choix-parcours-intro-situations, .choix-parcours-situation, .choix-parcours-duree-moyenne {
      color: $couleur-texte;
      font-size: .75rem;
      font-style: italic;
      line-height: .875rem;
      margin: 0;
    }

    .choix-parcours-situations {
      flex: 1;
      margin-bottom: 1rem;
    }

    input:checked + div {
      border-color: $couleur-texte;
      background: $eva_main_blue;

      &, h4, p, ul li {
        color: $eva_light;
      }
    }

  }

}
