.input-choix-option-personnalisation {
  .choices-group, .choice {
    width: 100%;
    padding: 0;
  }

  input + .choix-item {
    min-height: 125px;
  }

  .checkbox-option-personnalisation-container {
    display: flex;
    align-items: center;
  }

  .choix-item {
    padding-right: 2.75rem;
    display: flex;
    flex-direction: row;
    &__container {
      padding-right: 3.25rem;
    }
  }

  input:checked + .choix-item .checkbox-option-personnalisation {
    --data-uri-svg: url('check.svg');

    background-color: white;
  }
}

.checkbox-option-personnalisation {
  --data-uri-svg: none;

  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.25rem;
  text-align: center;
  background-image: radial-gradient(at 5px 4px,transparent 4px,#000091 4px,#000091 5px,transparent 6px),linear-gradient(#000091,#000091),radial-gradient(at calc(100% - 5px) 4px,transparent 4px,#000091 4px,#000091 5px,transparent 6px),linear-gradient(#000091,#000091),radial-gradient(at calc(100% - 5px) calc(100% - 4px),transparent 4px,#000091 4px,#000091 5px,transparent 6px),linear-gradient(#000091,#000091),radial-gradient(at 5px calc(100% - 4px),transparent 4px,#000091 4px,#000091 5px,transparent 6px),linear-gradient(#000091,#000091),var(--data-uri-svg);
  background-position: 0 0,.25rem 0,100% 0,0 .25rem,100% 100%,calc(100% - .25rem) 100%,0 100%,100% .25rem,50%;
  background-repeat: no-repeat;
  background-size: .25rem .25rem,calc(100% - .25rem) 1px,.25rem .25rem,1px calc(100% - .5rem),.25rem .25rem,calc(100% - .5rem) 1px,.25rem .25rem,1px calc(100% - .5rem),1rem;
}

.input-choix-parcours {
  .choix-item__description {
    flex: 1;
    margin-bottom: 1rem;

    ul {
      padding-left: 1.5em;
      list-style-type: disc;
    }
  }
}
