#lettrisme .panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 3rem;
  p {
    line-height: 1rem;
    font-size: 0.875rem;
    margin-bottom: 0;
  }
}

.lettrisme-synthese {
  border-radius: 1.75rem;
  margin-bottom: 2rem;
  max-width: 40.75rem;

  &__contenu {
    display: flex;
    padding: 2rem;
    gap: 2rem;

    .icone__header {
      margin-bottom: 0.5rem;
    }
  }

  &--indetermine,
  &--profil_aberrant {
    background-color: $eva_dark;
    color: $eva_light;

    h2 {
      color: $eva_light;
    }
  }

  &--profil1,
  &--profil2 {
    background: $eva_orange;
    color: $eva_light;

    h2 {
      color: $eva_light;
    }
  }

  &--profil3,
  &--profil4 {
    background: $eva_main_blue;
    color: $eva_light;

    h2 {
      color: $eva_light;
    }
  }

  &--profil_4h,
  &--profil_4h_plus,
  &--profil_4h_plus_plus {
    background: $eva_green;
    color: $eva_dark;
  }
}

.sous-competence__container {
  display: flex;
  gap: 1.5rem;
  padding: 10px 0px;
  margin-bottom: 2rem;
  img {
    height: 4rem;
  }
  h2 {
    margin-bottom: 0;
  }
}

#lettrisme {
  .panel {
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .telechargement_des_reponses:hover {
    background-color: $eva_light;
    border: 2px solid $eva_main_blue;

    span {
      color: $eva_main_blue;
    }

    .icone-telechargement {
      path {
        fill: $eva_main_blue;
        stroke: $eva_main_blue;
      }
    }
  }

  .telechargement_des_reponses {
    border: 2px solid transparent;
    display: flex;
    padding: 1rem 3rem;
    gap: 2rem;
    justify-content: space-between;
    background: $eva_main_blue;
    box-shadow: 0rem 0rem 0.5rem rgba(30, 65, 106, 0.25);
    border-radius: 0rem 0rem 0.5rem 0.5rem;

    span {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 20px;
      text-decoration-line: underline;
      color: $eva_light;
    }
  }
}
