.evaluation__restitution-globale {
  .sous-competence__container {
    padding: .5rem 0;
    margin: 2rem;
    img {
      height: 4rem;
    }
    h3 {
      margin: 0;
      line-height: 1.875rem;
    }
    .badge {
      height: 64px;
      width: 64px;
      border: 4px solid $eva-orange;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-titre;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

#lettrisme {
  .panel {
    p {
      font-size: 0.875rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
