.evaluation__restitution-globale {
  .sous-competence__container {
    padding: .5rem 0;
    margin: 2rem;
    img {
      height: 4rem;
    }
    h3 {
      margin: 0;
      line-height: 1.875rem;
    }
  }
}

#lettrisme {
  .panel {
    p {
      font-size: 0.875rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
