@mixin lien-non-dsfr($color: $eva_main_blue) {

  &,
  &:link,
  &:visited {
    text-decoration: underline;
    background-image: none;
    color: $color;
  }

  &:hover {
    text-decoration: none;
  }
}
