.evaluation__restitution-globale {
  .sous-competence__container.sous-competence__litteratie {
    padding: .5rem 0;
    margin: 2rem;

    img {
      height: 4rem;
    }
    .fleche-droite {
      width: 1rem;
      height: 1rem;
    }
    h3 {
      margin: 0;
      line-height: 1.875rem;
    }
  }
}

#litteratie {
  .panel {
    p {
      font-size: 0.875rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  // À supprimer quand le composant ReferentielAnlciComponent aura été adapté au style du DSFR
  .padding-tuile {
    padding: 3rem 2rem;
  }
}
