.bouton-menu-mobile {
  @include bouton-tertiaire-sans-contour;

  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  background: none;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;

  span {
    display: block;
    width: 1.5rem;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease;
  }

  &:hover {
    span {
      background-color: $blue-france-sun-113;
    }
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
      margin-top: -1rem;
    }
  }
}

@media (max-width: 1020px) {
  .bouton-menu-mobile {
    display: flex;
  }

  $largeur_menu: 15rem;
  #header ul#tabs.tabs {
    display: none;

    &:focus-within {
      display: block;
    }

    position: absolute;
    top: 60px;
    left: 0;
    width: $largeur_menu;
    background: #fff;
    filter: drop-shadow(var(--overlap-shadow));
    padding: 0;
    li {
      display: block;
      margin: 0;
      padding: 0;

      &.has_nested > a::after {
        mask-image: asset-url('fleche-menu.svg');

        $icon-size: 1rem;

        background-color: currentcolor;
        transform: rotate(-90deg);
        margin-left: auto;
        content: "";
        display: inline-block;
        height: $icon-size;
        margin-right: 0;
        mask-size: 100% 100%;
        vertical-align: calc((.75em - $icon-size) * .5);
        width: $icon-size;
      }

      a {
        @include bouton-tertiaire-sans-contour;

        justify-content: left;
        box-shadow: 0 calc(-1rem - 1px) 0 -1rem $grey-900;
        width: 100%;
        z-index: 0;
      }

      a:focus {
        z-index: 2;
      }

      ul { // sous-menus
        border-radius: 0;
        left: $largeur_menu;
        top: 0;
        margin-top: 0;
        filter: drop-shadow(var(--overlap-shadow));
        box-shadow: none;
        padding: 0;

        a {
          text-decoration: none;
        }
      }
    }
    li:first-child a {
      box-shadow: none;
    }
  }

  body.menu-mobile-ouvert {
    #header #tabs {
      display: block;
    }
  }
}
