.menu-sidebar {
  position: sticky;
  top: 1.875rem;
  box-shadow: none;
  background: none;
  padding: 0;

  h3 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    color: $eva_main_blue;
    font-family: $font-texte;
  }
}

.menu-transverse {

  ul {
    position: relative;
    z-index: 1;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      line-height: 1.313rem;
    }
    a {
      color: $couleur-texte;
      text-decoration: none;
      background-image: none;
      transition: color .2s, font-weight .2s;

      &:hover {
        color: $eva_main_blue;
      }

      &.active {
        font-weight: bold;
        color: $couleur-texte;
      }
    }
  }

  .avatar-pouce-leve {
    width: 100%;
    position: absolute;
    top: 7.5rem;
    right: -70px;
  }
}
