.modal {
  &.show .modal-dialog {
    transform: translateY(-50%);
    margin-top: 50vh;

    .modal-content {
      flex-direction: row;
      border-radius: 0;
      border: none;

      .modal-body {
        padding: 0;
        padding-left: 1rem;
      }

      .message {
        margin-bottom: 2rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
      }
    }
  }
}

.modal-backdrop {
  background-color: rgb(255,255,255);
  &.show {
    opacity: 0.9;
  }
}
