.modal {
  &.show .modal-dialog {
    transform: translateY(-50%);
    margin-top: 50vh;

    .modal-content {
      @include panel_alerte;
      font-size: 0.875rem;
      align-items: center;
      flex-direction: row;
      border-radius: 0.5rem;

      .modal-body {
        padding: 0rem;
        padding-left: 1rem;
      }

      .message {
        margin-bottom: 2rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
      }
    }
  }

  &.modal-info {
    .modal-content {
      @include panel_alerte_couleur($info-425, 'icones/info.svg');
    }
  }

  &.modal-alerte {
    .modal-content {
      @include panel_alerte_couleur($warning-425, 'icones/alert.svg');
    }
  }
}

.modal-backdrop {
  background-color: rgb(255,255,255);
  &.show {
    opacity: 0.9;
  }
}
