.spinner-generation-pdf {
  display: inline-block;
  animation: tourne-spinner-generation-pdf 1s linear infinite;
}

@keyframes tourne-spinner-generation-pdf {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
