.modal {
  &.show .modal-dialog {
    transform: translateY(-50%);
    margin-top: 50vh;

    .modal-content {
      padding: 1rem;
      font-size: 0.875rem;
      align-items: center;
      flex-direction: row;
      border-radius: 0.5rem;

      .modal-body {
        padding: 0rem;
        padding-left: 1rem;
      }

      .message {
        margin-bottom: 2rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
      }
    }
  }

  &.modal-danger {
    .modal-content {
      background-color: $error-950;
      border-color: $error-425;
      color: $error-425;

      &::before {
        background-image: asset-data-url('icones/error.svg');
        content: '';
        height: 4rem;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 0 0 4rem;
      }
    }
    .bouton-light {
      color: $error-425;
    }
  }
}

.modal-backdrop {
  background-color: rgb(255,255,255);
  &.show {
    opacity: 0.9;
  }
}
