.fr-header--logged-in {
  .fr-nav__link {
    color: var(--text-action-high-grey);
    font-family: Marianne, sans-serif;

    @include corps-de-texte-sm-regular;
  }

  .fr-nav__link:hover,
  .fr-nav__link:active {
    background: var(--background-raised-grey-hover);
    color: var(--text-active-blue-france) !important;
  }
}
