.section,
.panel,
body.logged_out #content_wrapper #active_admin_content {
  @include carte-avec-ombre();
  padding: 1.5rem;
  margin-bottom: 1.5rem;

  > h3 {
    @include titre-carte();
  }

  > div {
    padding: 0;
  }
}

body.logged_out .sous-panel {
  @include carte-avec-bordure();
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .infos {
    h4 {
      @include titre-carte;
      font-size: .875rem;
      padding: 0.875rem 0.875rem 0.5rem;
    }

    .sous-infos {
      padding: 0 0.875rem 0.875rem;
      color: $couleur-texte;
    }
  }

  a {
    margin: 0.875rem 0.875rem 0 auto;
    @include bouton-carte($couleur-legere-accent-validation, $eva_dark);
  }
}

.admin_dashboard {
  .panel {
    box-shadow: unset;
    background-color: transparent;
    h3 {
      font-size: 1.5rem;
    }

    .panel_contents {
      padding-top: 1rem;
      @include carte-avec-ombre();
    }
  }
}
