body.logged_out #content_wrapper #active_admin_content {
  box-shadow: none;
  background: none;
  padding: 0;
}

.section,
.panel {
  @include carte-avec-ombre();
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 100vw;

  > h3, .titre {
    @include titre-carte();
  }

  > div {
    padding: 0;
  }
}

.titre-panel-avec-bouton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;

  h3 {
    @include titre-carte;
    margin-bottom: 0;
  }

  > a {
    @include bouton-primaire;
    @include grand-bouton;
  }
}

.admin_dashboard {
  .panel {
    h3 {
      font-size: 1.5rem;
    }

    .panel_contents {
      padding-top: 1rem;
      @include carte-avec-ombre();
    }
  }
}

.panel {
  &.panel-introduction {
    padding: 1rem 1.5rem;
    display: flex;
    line-height: 1.2;
    min-height: 8.75rem;

    .introduction-image {
      position: absolute;
      bottom: 0;
    }

    .introduction-consigne {
      max-width: 16.5rem;
      font-size: 0.875rem;

      a {
        color: $eva_main_blue;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.panel-component {
  display: flex;
  flex-direction: column;
  gap: $dsfr-spacing-6v;

  h2 {
    margin: 0;
  }

  .panel {
    border: 1px solid $grey-900;
    border-radius: 0;
    box-shadow: none;
    padding: $dsfr-spacing-8v;
    margin: 0;
  }
}

