.qcm {
  color: white;
  background-color: $eva_dark;
  padding: 1rem;
  border-radius: 0px 0px 1rem 1rem;

  li {
    margin-top: 0.25rem;
    &:last-child {
      margin-top: 1rem;
    }
  }

  input:checked + .tag { @include tag-couleur-plein($eva_green); }

  .tag {
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    color: $eva-dark;
    border: none;
  }

  .bouton-fermer {
    margin-right: .25rem;
  }
}

.image-preview {
  width: 500px;
}
