.qcm {
  border: none;
  background-color: $grey-950;
  padding: 1rem;
  border-radius: 0px 0px 1rem 1rem;

  li {
    margin-top: 0.25rem;
  }

  input[type="radio"] {
    appearance: none;
    outline: none;
    position: absolute;
  }

  input:checked + .tag { @include tag-couleur($success-425, $success-950); }
  input:hover:not(:checked) + .tag, input:focus + .tag {
    @include focus();
  }

  .tag {
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    color: $couleur-texte;
    margin: 0.1rem 0;
  }
}

.image-preview {
  width: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
