.qcm {
  border: none;
  background-color: $grey-950;
  padding: 1rem;
  border-radius: 0px 0px 1rem 1rem;

  li {
    margin-top: 0.25rem;
    &:last-child {
      margin-top: 1rem;
    }
  }

  input:checked + .tag { @include tag-couleur-plein($success-950); }

  .tag {
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    color: $couleur-texte;
    border: none;
  }
}

.image-preview {
  width: 500px;
}
