.ui-helper-hidden-accessible {
  visibility: hidden;
}

.recherche-structure {
  form {
    display: flex;
  }

  form input[type="submit"] {
    height: auto;
  }

  .label-champ-recherche {
    font-size: .875rem;
    margin-bottom: .5rem;
    display: block;
  }
  .champ-recherche {
    flex-grow: 1;
    margin-right: .5rem;

    &--geographique input {
      background-image: image-url('punaise-recherche.svg');
    }
  }

  h3.description-liste-structures {
    @include corps-de-texte-sm-regular;

    margin-bottom: 1rem;
    color: $eva_main_blue;
    font-family: $font-texte;
    font-weight: normal;
  }
}
