.referentiel_anlci {
  width: 100%;
  padding: 1.5rem 0 !important;

  .col-icone-info {
    display: flex;
  }

  .icone {
    height: 3.5rem;
  }

  .ordre {
    font-size: 0.5rem;
    line-height: 0.563rem;
  }

  .badges-referentiels {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  .badge-references {
    height: 2.5rem;
    margin-right: 0.4rem;
  }

  .texte-explications {
    p:last-child {
      margin-bottom: 0;
    }
  }
}
