.recherche-structure .rejoindre-structure {
  @include carte-avec-bordure();
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem .75rem;
  align-items: flex-start;

  .infos {
    max-width: 16.25rem;
    .sous-infos {
      margin: .75rem 0 0 0;
      font-size: .75rem;
    }
  }

  a {
    @include bouton-secondaire;
    @include petit-bouton;
  }
}
