.score-fleche {
  --score-arrow-color: #00A95F;

  display: flex;
  width: 264px;
  align-items: center;
  gap: $dsfr-spacing-0;

  &__conteneur {
    display: flex;
    padding: $dsfr-spacing-1v $dsfr-spacing-1w;
    align-items: center;
    flex: 1 0 0;
  }

  &__lettre {
    @include corps-de-texte-sm-bold;

    text-align: center;
    margin: 0;
  }

  &__pointe {
    width: 16px;
    height: 32px;
    flex-shrink: 0;
  }

  &__svg {
    width: 16px;
    height: 32px;
    color: var(--score-arrow-color);
    fill: var(--score-arrow-color);
  }

  &__svg--inactive {
    height: 32px;
    width: 16px;
  }

  &__svg--active {
    width: 26px;
    height: 52px;
    flex-shrink: 0;
  }

  &--inactive {
    .score-fleche__conteneur {
      padding: $dsfr-spacing-1v $dsfr-spacing-1w;
      background: var(--score-arrow-color);
    }

    &.score-fleche--blue {

      &.score-fleche--b,
      &.score-fleche--c,
      &.score-fleche--d {
        .score-fleche__lettre {
          color: var(--text-inverted-grey);
        }
      }
    }
  }

  &--active {
    .score-fleche__conteneur {
      background: var(--score-arrow-color);
      border-bottom: 4px solid var(--border-plain-grey);
      border-left: 4px solid var(--border-plain-grey);
      border-top: 4px solid var(--border-plain-grey);
      padding: $dsfr-spacing-1w $dsfr-spacing-3v;
      height: 50px;
      /* stylelint-disable-next-line */
      margin-right: -2px !important;
      border-radius: 0 5px 5px 0;
    }

    .score-fleche__lettre {
      color: var(--text-label-grey);
      text-align: center;

      @include titre-h3;
    }

    .score-fleche__pointe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -2 !important;
    }

    &.score-fleche--blue {

      &.score-fleche--b,
      &.score-fleche--c,
      &.score-fleche--d {
        .score-fleche__lettre {
          color: var(--text-inverted-grey);
        }
      }
    }
  }

  &--color {
    &.score-fleche--a {
      --score-arrow-color: var(--green-emeraude-850-200);
    }

    &.score-fleche--b {
      --score-arrow-color: var(--green-tilleul-verveine-925-125);
    }

    &.score-fleche--c {
      --score-arrow-color: var(--orange-terre-battue-main-645);
    }

    &.score-fleche--d {
      --score-arrow-color: var(--pink-tuile-sun-425-moon-750);
    }
  }

  &--blue {
    &.score-fleche--a {
      --score-arrow-color: var(--graphique-bleu-graph-4, #DBDAFC);
    }

    &.score-fleche--b {
      --score-arrow-color: var(--graphique-bleu-graph-3, #7E7DB7);
    }

    &.score-fleche--c {
      --score-arrow-color: var(--graphique-bleu-graph-2, #383783);
    }

    &.score-fleche--d {
      --score-arrow-color: var(--graphique-bleu-graph-1, #00005B);
    }
  }
}

.score-arrows-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.score-arrows-stack--active-a {
  .score-fleche--a {
    width: 125px;
  }

  .score-fleche--b {
    width: 182px;
  }

  .score-fleche--c {
    width: 218px;
  }

  .score-fleche--d {
    width: 254px;
  }
}

.score-arrows-stack--active-b {
  .score-fleche--a {
    width: 126px;
  }

  .score-fleche--b {
    width: 162px;
  }

  .score-fleche--c {
    width: 218px;
  }

  .score-fleche--d {
    width: 254px;
  }
}

.score-arrows-stack--active-c {
  .score-fleche--a {
    width: 126px;
  }

  .score-fleche--b {
    width: 162px;
  }

  .score-fleche--c {
    width: 198px;
  }

  .score-fleche--d {
    width: 254px;
  }
}

.score-arrows-stack--active-d {
  .score-fleche--a {
    width: 136px;
  }

  .score-fleche--b {
    width: 172px;
  }

  .score-fleche--c {
    width: 208px;
  }

  .score-fleche--d {
    width: 244px;
  }
}

.score-arrows-layout {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
}
