.score-fleche {
  --score-arrow-color: #00A95F;

  display: flex;
  width: 16.5rem;
  align-items: center;
  gap: $dsfr-spacing-0;

  &__conteneur {
    display: flex;
    padding: $dsfr-spacing-1v $dsfr-spacing-1w;
    align-items: center;
    flex: 1 0 0;

    @media print {
      border-radius: 0 2px 2px 0;
    }
  }

  &__lettre {
    @include corps-de-texte-sm-bold;

    text-align: center;
    margin: 0;
  }

  &__pointe {
    width: 1rem;
    height: 2rem;
    flex-shrink: 0;

    @media print {
      margin-left: -1px;
    }
  }

  &__svg {
    width: 1rem;
    height: 2rem;
    color: var(--score-arrow-color);
    fill: var(--score-arrow-color);
  }

  &__svg--inactive {
    height: 2rem;
    width: 1rem;
  }

  &__svg--active {
    width: 1.625rem;
    height: 3.25rem;
    flex-shrink: 0;
  }

  &--inactive {
    .score-fleche__conteneur {
      padding: $dsfr-spacing-1v $dsfr-spacing-1w;
      background: var(--score-arrow-color);
    }

    &.score-fleche--blue {

      &.score-fleche--b,
      &.score-fleche--c,
      &.score-fleche--d {
        .score-fleche__lettre {
          color: var(--text-inverted-grey);
        }
      }
    }
  }

  &--active {
    .score-fleche__conteneur {
      background: var(--score-arrow-color);
      border-bottom: 0.25rem solid var(--border-plain-grey);
      border-left: 0.25rem solid var(--border-plain-grey);
      border-top: 0.25rem solid var(--border-plain-grey);
      padding: $dsfr-spacing-1w $dsfr-spacing-3v;
      height: 3.125rem;
      /* stylelint-disable-next-line */
      margin-right: -0.125rem !important;
      border-radius: 0 0.3125rem 0.3125rem 0;
    }

    .score-fleche__lettre {
      color: var(--text-label-grey);
      text-align: center;

      @include titre-h3;
    }

    .score-fleche__pointe {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: -0.125rem !important;
    }

    &.score-fleche--blue {

      &.score-fleche--b,
      &.score-fleche--c,
      &.score-fleche--d {
        .score-fleche__lettre {
          color: var(--text-inverted-grey);
        }
      }
    }
  }

  &--color {
    &.score-fleche--a {
      --score-arrow-color: var(--green-emeraude-850-200);
    }

    &.score-fleche--b {
      --score-arrow-color: var(--green-tilleul-verveine-925-125);
    }

    &.score-fleche--c {
      --score-arrow-color: var(--orange-terre-battue-main-645);
    }

    &.score-fleche--d {
      --score-arrow-color: var(--pink-tuile-sun-425-moon-750);
    }
  }

  &--blue {
    &.score-fleche--a {
      --score-arrow-color: var(--graphique-bleu-graph-4, #DBDAFC);
    }

    &.score-fleche--b {
      --score-arrow-color: var(--graphique-bleu-graph-3, #7E7DB7);
    }

    &.score-fleche--c {
      --score-arrow-color: var(--graphique-bleu-graph-2, #383783);
    }

    &.score-fleche--d {
      --score-arrow-color: var(--graphique-bleu-graph-1, #00005B);
    }
  }
}

.score-arrows-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.score-arrows-stack--active-a {
  .score-fleche--a {
    width: 7.8125rem;
  }

  .score-fleche--b {
    width: 11.375rem;
  }

  .score-fleche--c {
    width: 13.625rem;
  }

  .score-fleche--d {
    width: 15.875rem;
  }
}

.score-arrows-stack--active-b {
  .score-fleche--a {
    width: 7.875rem;
  }

  .score-fleche--b {
    width: 10.125rem;
  }

  .score-fleche--c {
    width: 13.625rem;
  }

  .score-fleche--d {
    width: 15.875rem;
  }
}

.score-arrows-stack--active-c {
  .score-fleche--a {
    width: 7.875rem;
  }

  .score-fleche--b {
    width: 10.125rem;
  }

  .score-fleche--c {
    width: 12.375rem;
  }

  .score-fleche--d {
    width: 15.875rem;
  }
}

.score-arrows-stack--active-d {
  .score-fleche--a {
    width: 8.5rem;
  }

  .score-fleche--b {
    width: 10.75rem;
  }

  .score-fleche--c {
    width: 13rem;
  }

  .score-fleche--d {
    width: 15.25rem;
  }
}

.score-arrows-layout {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem;
}
