.select2.select2-container--default {
  .select2-selection { 
    padding-top: 0;
    padding-bottom: 0;
  }

  .select2-selection__rendered {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 0;
  }
}
