.sous-competence__numeratie {
  margin-bottom: 3rem;

  .fr-tile__title .fr-badge-acquisition {
    margin-bottom: 0.75rem;
  }
 
  p {
    margin: unset;
  }
}
.sous-competence {
  .fr-tile__content {
    padding-bottom: 0 !important;
  }
}

.sous-competence__barre-segmentee {
  order: 3;
  padding: 0.75rem 0;
}