.status_tag {
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.25rem 0.9rem;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: unset;
  font-size: 0.8rem;
  white-space: nowrap;
  color: $couleur-texte;

  &.assistance, &.red {
    color: $couleur-accent-erreur;
  }

  &.blog {
    color: $couleur-warning;
  }

  &.evolution, &.green {
    color: $eva_dark_green;
    border-color: $couleur-legere-accent-validation;
  }

  &.no, &.yes {
    background-color: transparent;
    border-color: $couleur-texte
  }
}

@mixin tag-couleur($color, $border-color) {
  color: $color;
  border-color: $border-color;
}

.tag {
  @include texte();
  padding: .25rem .5rem;
  align-items: center;
  display: inline-flex;
  border: 1px solid $eva_dark;
  border-radius: .25rem;
  font-weight: 500;

  &__icone {
    margin-right: .25rem;
    width: 13px;
  }

  &--vert {
    @include tag-couleur( #0C826D, $eva_green);
  }

  &--orange {
    @include tag-couleur($eva_dark_orange, $eva_orange);
  }
}

