#lettrisme .panel {
  padding: 1.5rem 3rem;
  p {
    line-height: 1rem;
    font-size: 0.875rem;
  }
}

.synthese-lettrisme {
  border-radius: 1.75rem;
  margin-bottom: 2rem;

  margin-left: 8rem;
  margin-right: 8rem;

  .synthese-lettrisme-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2em;
    gap: 2rem;
  }

  p {
    font-family: $font-texte;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  &_indetermine,
  &_profil_aberrant {
    background-color: $eva_dark;
    color: $eva_light;

    h2 {
        color: $eva_light;

    }
  }

  &_profil1,
  &_profil2 {
    background: $eva_orange;
    color: $eva_light;

    h2 {
        color: $eva_light;

    }
  }

  &_profil3,
  &_profil4 {
    background: $eva_main_blue;
    color: $eva_light;

    h2 {
        color: $eva_light;

    }
  }

  &_profil_4h,
  &_profil_4h_plus,
  &_profil_4h_plus_plus {
    background: $eva_green;
    color: $eva_dark;
  }
}

.sous-competences__container {
  display: flex;
  gap: 1.5rem;
  padding: 10px 0px;
  margin-bottom: 2rem;
  img {
    height: 4rem;
  }
  h2, p {
    margin-bottom: 0;
  }
}
