table.index_table {
  font-size: 0.875rem;
  border-spacing: 0 0.5rem;

  .col-actions {
    padding: 0;
  }

  thead {
    th {
      text-shadow: none;
      font-weight: normal;
      border: 0;
      box-shadow: none;
      background: none;
      padding-top: 0;
      padding-bottom: .5rem;
      &:first-child {
        padding-left: 1.375rem;
      }
      &:last-child {
        border-right: 0;
        width: 1px;
      }
      &.sorted-asc,
      &.sorted-desc {
        background: none;
      }
      a,
      a:link,
      a:visited {
        color: $couleur-texte;
      }
    }
  }
  tbody {
    tr {
      border-radius: 0.5rem;
      @include ombre();

      &.even {
        td {
          background-color: $grey-1000;
        }
      }

      td {
        height: 3.1rem;
        line-height: 1.2;
        border-bottom: 0;
        vertical-align: middle;
        border-top: 1px solid $eva_bluegrey;
        border-bottom: 1px solid $eva_bluegrey;
        color: $couleur-texte;
        background-color: $grey-1000;
        &:first-child {
          font-weight: 600;
          padding-left: 1.375rem;
          border-left: 1px solid $eva_bluegrey;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          a {
            background-image: none;
          }
        }
        &:last-child {
          border-right: 1px solid $eva_bluegrey;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
        a {
          color: $eva_main_blue;
        }
        &.col-actions {
          @include menu-actions();
        }
        &.col-illustration {
          line-height: 0;
        }
      }

      &.anonyme {
        td {
          color: $eva_dark_blue_grey;

          a {
            color: $eva_dark_blue_grey;
          }

          &.col-actions .table_actions {
            background-color: $eva_light;
          }
        }
      }
    }
  }
}

.attributes_table table th {
  text-shadow: none;
}

.pagination {
  a {
    box-shadow: none;
    background-image: none;
  }
}
.pagination_information {
  color: $couleur-texte;
}
