table.index_table {
  font-size: 0.875rem;
  border-spacing: 0 0.5rem;
  thead {
    th {
      text-shadow: none;
      font-weight: normal;
      border: 0;
      box-shadow: none;
      color: $couleur-texte;
      background: none;
      padding-top: 0;
      padding-bottom: .5rem;
      &:first-child {
        padding-left: 1.375rem;
      }
      &:last-child {
        border-right: 0;
        width: 1px;
      }
      &.sorted-asc,
      &.sorted-desc {
        background: none;
      }
      a,
      a:link,
      a:visited {
        color: $couleur-texte;
      }
    }
  }
  tbody {
    tr {
      border-radius: 0.5rem;
      @include ombre();

      &.even {
        td {
          background-color: #FFF;
        }
      }

      td {
        height: 3.1rem;
        line-height: 1.2;
        border-bottom: 0;
        vertical-align: middle;
        border-top: 1px solid $eva_bluegrey;
        border-bottom: 1px solid $eva_bluegrey;
        color: $eva_dark;
        background-color: #FFF;
        &:first-child {
          font-weight: 600;
          padding-left: 1.375rem;
          border-left: 1px solid $eva_bluegrey;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        &:last-child {
          border-right: 1px solid $eva_bluegrey;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
        a {
          color: $eva_main_blue;
        }
        &.col-actions {
          @include roue-dentee();
          width: 40px;
          background-color: #FFF;
          background-position-x: right 0.75rem;
          position: relative;

          .table_actions {
            display: flex;
            justify-content: flex-end;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            height: 98%;
            background: #fff;
            align-items: center;
            padding: 0 0 0 1rem;

            a {
              @include boutons-groupes;
            }
          }
        }
        &.col-illustration {
          line-height: 0;
        }
      }

      &:hover {
        .col-actions {
          background-image: none;

          .table_actions {
            opacity: 1;
          }
        }
      }

      &.anonyme {
        td {
          background-color: $eva_light;
          color: $eva_dark_blue_grey;

          a {
            color: $eva_dark_blue_grey;
          }

          &.col-actions .table_actions {
            background-color: $eva_light;
          }
        }
      }
    }
  }
}

.attributes_table table th {
  text-shadow: none;
}
