table.index_table {
  font-size: 0.875rem;
  border-spacing: 0 0.5rem;
  thead {
    th {
      font-weight: normal;
      border: 0;
      box-shadow: none;
      color: $couleur-texte;
      background: none;
      &:last-child {
        border-right: 0;
        width: 1px;
      }
      &.sorted-asc,
      &.sorted-desc {
        background: none;
      }
      a,
      a:link,
      a:visited {
        color: $couleur-texte;
      }
    }
  }
  tbody {
    tr {
      border-radius: 0.5rem;
      box-shadow: 0px 0px 0.5rem rgba(30, 65, 106, 0.5);

      &.even {
        td {
          background-color: #FFF;
        }
      }

      td {
        height: 1.875rem;
        line-height: 1.2;
        border-bottom: 0;
        vertical-align: middle;
        border-top: 1px solid $bluegrey;
        border-bottom: 1px solid $bluegrey;
        color: $eva_dark;
        background-color: #FFF;
        &:first-child {
          font-weight: 600;
          padding-left: 1.375rem;
          border-left: 1px solid $bluegrey;
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
        &:last-child {
          border-right: 1px solid $bluegrey;
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
        a {
          color: $eva_main_blue;
        }
        &.col-actions {
          width: 20px;
          position: relative;
          background: image-url('roue-dentee.svg') right 1rem center no-repeat;
          background-color: #FFF;

          .table_actions {
            opacity: 0;
            transition: opacity 0.2s;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            height: 98%;
            background: #fff;
            align-items: center;
            padding: 0 0 0 1rem;

            a {
              height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0.25rem 0.5rem;
              color: $eva_light;
              margin: 0;
              text-decoration: none;
              background-color: $couleur-texte;
              min-width: 3rem;
              box-sizing: border-box;
              font-size: .75rem;

              &.view_link {
                color: $eva_dark;
                background-color: $couleur-legere-accent-validation;
              }
              &.edit_link {
                background-color: $eva_main_blue;
              }
              &.delete_link {
                background-color: $couleur-accent-erreur;
              }
              &:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
              }
              &:last-child {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
              }
            }
          }
        }
      }

      &:hover {
        .col-actions {
          background-image: none;

          .table_actions {
            opacity: 1;
          }
        }
      }
    }
  }
}
