@mixin tag() {
  @include texte();
  white-space: nowrap;
  padding: .25rem .5rem;
  text-align: center;
  align-items: center;
  display: inline-flex;
  border-radius: .25rem;
  font-weight: 500;
  color: $couleur-texte;

  &.red {
    @include tag-couleur-majuscule($error-425, $error-950)
  }

  &.green {
    @include tag-couleur-majuscule($success-425, $success-950)
  }

  &.grey {
    @include tag-couleur($grey-425, $grey-950);
  }

  &.bleu-france {
    @include tag-couleur($grey-1000, $blue-france-sun-113);
  }
}

@mixin tag-couleur-majuscule($couleur-principale, $couleur-principale-legere) {
  @include tag-couleur($couleur-principale, $couleur-principale-legere);
  text-transform: uppercase;
}

@mixin tag-couleur($couleur-principale, $couleur-principale-legere) {
  color: $couleur-principale;
  background-color: $couleur-principale-legere;
}

.status_tag { // tags active admin
  @include tag();
  font-weight: normal;
  text-transform: unset;
  letter-spacing: unset;
  white-space: nowrap;

  &.no, &.yes {
    border: 1px solid $couleur-texte;
  }

}

.tag {
  @include tag();
  .lien-supprimer {
    position: absolute;
    right: 0.5rem;
    background-image: none;

    &:active {
      background-color: transparent;
    }

    img {
      vertical-align: baseline;
    }
  }

  &.tag--supprimable {
    padding-right: 1.25rem;
    position: relative;
  }
}

.tag-categorie {
  &.assistance {
    @include tag-couleur-majuscule($warning-425, $warning-950)
  }

  &.blog, &.orange {
    @include tag-couleur-majuscule($yellow-tournesol-407, $yellow-tournesol-950)
  }

  &.evolution {
    @include tag-couleur-majuscule($success-425, $success-950)
  }
}
