@mixin tag() {
  @include texte();
  white-space: nowrap;
  padding: .25rem .5rem;
  text-align: center;
  align-items: center;
  display: inline-flex;
  background-color: transparent;
  border: 1px solid $eva_dark_blue_grey;
  border-radius: .25rem;
  font-weight: 500;
  color: $couleur-texte;

  .tag__icone {
    margin-right: .25rem;
    width: 13px;
  }

  &.red {
    @include tag-couleur-contour($couleur-accent-erreur, $couleur-accent-erreur)
  }

  &.green {
    @include tag-couleur-contour($eva_dark_green, $eva_green)
  }

}

@mixin tag-couleur-contour($color, $border-color) {
  color: $color;
  border-color: $border-color;
}

@mixin tag-couleur-plein($color) {
  background-color: $color;
  border: none;
  color: $eva_dark;
}

.status_tag {
  @include tag();
  font-weight: normal;
  text-transform: unset;
  letter-spacing: unset;
  white-space: nowrap;
}

.tag {
  @include tag();
  .lien-supprimer {
    position: absolute;
    right: 5px;
    img {
      vertical-align: baseline;
    }
  }
}

.tag-supprimable {
  padding-right: 1.75rem;
  position: relative;
  display: block;
  span {
    margin-right: .75rem;
  }
}

.tag-categorie {
  &.assistance {
    @include tag-couleur-contour($couleur-accent-erreur, $couleur-accent-erreur)
  }

  &.blog, &.orange {
    @include tag-couleur-contour($eva_orange, $eva_orange)
  }

  &.evolution {
    @include tag-couleur-contour($eva_green, $eva_green)
  }

  &.no, &.yes {
    border-color: $couleur-texte
  }
}
