.telechargement_des_reponses:hover {
  background-color: $eva_light;
  border: 2px solid $eva_main_blue;

  span {
    color: $eva_main_blue;
  }

  .icone-telechargement {
    path {
      fill: $eva_main_blue;
      stroke: $eva_main_blue;
    }
  }
}

.telechargement_des_reponses {
  border: 2px solid transparent;
  display: flex;
  padding: 1rem 3rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: $eva_main_blue;
  box-shadow: 0rem 0rem 0.5rem rgba(30, 65, 106, 0.25);
  border-radius: 0rem 0rem 0.5rem 0.5rem;

  span {
    font-size: 1rem;
    text-decoration-line: underline;
    color: $eva_light;
    font-weight: 700;
    font-family: $font-titre;
    margin: 0;
  }
}
