.texte-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-3W, 24px);
  align-self: stretch;

  &__titre {
    @include h2-lg();
    margin: 0;
  }

  &__texte {
    @include body-xl();
    margin: 0;
  }
}

