.tooltip {
  border: 1px solid $eva_orange;
  border-radius: .25rem;
  background-color: white;
  color: $couleur-texte;
  font-size: .75rem;
  padding: .25rem;
  top: -10px !important;
  left: 4px !important;
}
