<% if I18n.exists?("#{scope}.titre") %>
  <h2><%= t("#{scope}.titre") %></h2>
<% end %>
<p>
<%= t("#{scope}.information_cgu") %>
<%= render LienComponent.new(t('lien_cgu'), '/cgu/', externe: true) %>
</p>
<p>
<%= t("#{scope}.demande_acceptation") %>
</p>
