<% if I18n.exists?("#{scope}.titre") %>
  <h2><%= t("#{scope}.titre") %></h2>
<% end %>
<p class="fr-mb-3v">
  <%= t("#{scope}.information_cgu") %>
  <%= render LienComponent.new(t("lien_cgu"), "/cgu/", nouvelle_fenetre: true) %>
</p>
<p>
  <%= t("#{scope}.demande_acceptation") %>
</p>
