<div id='bloc-mises-en-avant'>
  <div class='liste-membres'>
    <% @comptes_en_attente.each do |compte| %>
      <% if can?(:verifier, compte) %>
        <% bouton_label = "Vérifier" %>
        <% bouton_attributes = { "data-fr-opened": "false", "aria-controls": "fr-modal-#{compte.id}" } %>

        <%= render MiseEnAvantComponent.new(
              titre: "#{compte.display_name} a fait une demande d'accès",
              description: compte.email,
              bouton_label: bouton_label,
              bouton_attributes: bouton_attributes
            ) do %>

          <%= render "admin/comptes/modal_verification", compte: compte %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  // Le code suivant est un hack du code par defaut activeAdmin pour que les
  // mises en avant soit dans la div `index_content`et non dans la div `index_as_table`.
  // Pour permetre de rendre scrollable `ìndex_as_table`
  const mise_en_avant = document.querySelector('#bloc-mises-en-avant')
  mise_en_avant.parentNode.parentNode
    .insertBefore(mise_en_avant, mise_en_avant.parentNode.parentNode.firstChild)
});
</script>
