<div>
<% restitution.evenements_pieces.each do |evenement_piece| %>
  <span class="evenement-piece <%= evenement_piece.nom.underscore.dasherize %>"></span>
<% end %>
</div>
<span class="evenement-piece piece-bien-placee"></span> <%= t("admin.restitutions.restitution_controle.pieces_bien_placees") %>
<span class="evenement-piece piece-mal-placee"></span> <%= t("admin.restitutions.restitution_controle.pieces_mal_placees") %>
<span class="evenement-piece piece-ratee"></span> <%= t("admin.restitutions.restitution_controle.pieces_non_triees") %>
