<% content_for :classes_body, "page_connexion_v2" %>
<% content_for :classes_conteneur, " connexion_v2" %>
<%= render HeaderComponent.new(
  logo: "logo-anlci.svg",
  logo_alt: "ANLCI",
  logo_url: "/",
  titre: "eva.anlci.gouv.fr",
  tagline: "Un service public numérique de l’ANLCI",
  logged_in: false,
  show_navigation: false
) %>
<% content_for :content_block do %>
  <div class="connexion_v2__content">
    <div class="connexion_v2__content__inner">
      <div id="active_admin_content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "layouts/active_admin_logged_out_structure" %>
