<% content_for :classes_body, " page_inscription_v2" %>
<% content_for :classes_conteneur, " inscription_v2" %>

<%= render HeaderComponent.new(
  titre: t("header.parametrage_compte"),
  current_compte: current_compte,
  logged_in: false,
  show_navigation: false,
  actions: [
    {
      url: pro_connect_logout_path,
      label: "Déconnexion",
      icon_class: "fr-icon-logout-box-r-line",
      button_class: "fr-btn fr-btn--tertiary",
    }
  ]
) %>
<% content_for :content_block do %> 
  <div class="inscription_v2__content">
    <div class="inscription_v2__content__inner">
      <%= render partial: "layouts/flash" %>
      <div id="active_admin_content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "layouts/active_admin_logged_out_structure" %>
