<!DOCTYPE html>
<html>
<head>
  <title>Restitution Compétences Pro</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Restitution Compétences Pro">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag wicked_pdf_asset_base64 "restitution_globale/restitution_globale_pdf" -%>
</head>

<body>
  <%= yield %>
</body>
